<div class="banner spinehealth">
 <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/desktop_1400x350_925fafb4-ec49-4e27-b604-351a40fb9470.png?v=1662630601" class="visible-desktop">
   <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/mobile_2_c8feabd6-f11e-4eb2-92f9-5d486bc52ac8.png?v=1662630606" class="visible-mobile">
</div>