<style>
  .box p{
  	height: 50px;
    overflow: hidden;
    color: black;
  }
  .box.showContent p{
  	height: auto;
  }
  .readmore-btn {
    color: #000 !important;
    padding: 0px 0px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: underline;
}
  .box b{
  	color: black !important;
  }
  .box u{
  	color: black !important;
  }
  .collection-template-section div.collection_description {
    display: none;
}
  p {
    margin: 0 0 0px;
    font-style: normal;
    line-height: 1.6em;
}
  .header_cont_furniture {
    width: 85%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: left;
}
</style>

<div class="header_cont_furniture">
<div class="box">
  {% if collection.handle == 'mattress' %}
  <p>Your bed is the most intimate piece of furniture in your house, where you begin and end your day. However, the one thing that decides whether it works for you or not is the mattress, which provides you the comfort and rest you need. So, it is necessary to consider multiple factors, like cohesiveness with your room decor, price, and size other than the benefits of the mattress and comfort level, to ensure stress-free, undisturbed sleep. Now experience unmatched comfort and convenience when buying your next mattress from <a href="https://www.nilkamalfurniture.com/collections/mattress"><b><u>Nilkamal’s online store</u></b></a>. Choose from a wide range of coir, spring, and foam mattresses along with special mattresses for your orthopaedic needs from Nilkamal.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
<div class="box">
  {% if collection.handle == 'home-furniture' %}
    <p>Every piece of <b>home furniture</b> and decor you pick up to embellish your living space helps make it your home. Getting the right furniture is a crucial part as it adds to the beauty of your wonderful abode. A durable and elegant <b>home furniture design</b> captivates everyone's attention and lights up your home with its unique charm. The numerous range and variety of designs and kinds of furniture bring life to an otherwise dull room. Therefore, with prior consideration of some of the factors, you can look for living room furniture, <a href="https://www.nilkamalfurniture.com/collections/dining-room-furniture-bar-furniture"><b><u>dining room furniture</u></b></a>, <a href="https://www.nilkamalfurniture.com/collections/kids-furniture"><b><u>kids furniture</u></b></a>, and other <a href="https://www.nilkamalfurniture.com/collections/house-hold"><b><u>household furniture</u></b></a> available on the <a href="https://www.nilkamalfurniture.com/collections/home-furniture"><b><u>Nilkamal home furniture</u></b></a> website and transform your space into a magical heaven.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
<div class="box">
  {% if collection.handle == 'chairs' %}
    <p>Give a makeover to your home and create beautiful spaces with these elegant and thoughtfully designed chairs from <a href="https://www.nilkamalfurniture.com/collections/chairs"><u>Nilkamal</u></a>. After a long and tiring day at work, all you need is to grab a Nilkamal chair full of comfort and relax your mind and body. Starting from the outdoor balcony to the living and <a href="https://www.nilkamalfurniture.com/collections/dining-room"><u>dining room</u></a>, these chairs can offer functionality and can amp up the overall décor of your place. Available in gorgeous patterns, colours, and finishes, our design team has created a unique range of chairs to cater to the requirements of every homemaker. So hurry up and redecorate your home with these innovative designs.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
<div class="box">
  {% if collection.handle == 'sofas' %}
    <p>Make your living room look elegant and cozy with Nilkamal sofas, which are designed to impress. The perfect combination of utility and style, you can choose from a variety of sofa designs, depending on your decor. You can go for a 1,2, or 3-seater sofa or sofa set, or add dimension to a large hall by opting for stylish and comfortable sectional sofas. Additionally, Nilkamal recliners can be a great addition to your leisure area. Modern designs demand innovation. Nilkamal sofa come beds are a perfect example of such an union. They not only add style to your interiors but also provide space solutions for overnight guests. If you like to draw inspiration from the outdoors, Nilkamal garden sofas create that peaceful corner for you. Available in various price points, Nilkamal sofas can fit into various interior design plans because of their versatility. Explore an expansive collection of Wooden, fabric, or leatherette upholstered sofas and select the one that makes you feel like home.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
<div class="box">
  {% if collection.handle == 'sofa' %}
    <p>A sofa is the foremost thing that comes to mind whenever we hear or think of living rooms. Whether entertaining guests, chilling with family or friends, or relaxing after a hectic day, our living room does everything for us. Reliable <b>sofas</b> are essentials for us to do all these and more. Therefore, the amount of consideration in purchasing the perfect <b>sofa online</b> is no revelation. Before you finalise a sofa for your home, you must consider the size of your living room, your budget, your design preference, your living room aesthetics, the placement of the sofa, and how many seaters sofas you want. Suppose you already have a <b>3 seater sofa</b>, then you need a <b>1 seater sofa</b> or <b>2 seater sofa</b> to make it a complete sofa set. And when you want a new <b>sofa set</b>, you must decide if you want to go for a <b>3 seater sofa</b> or <b>2 seater sofa</b> with matching chairs and a centre table. The placement of your sofa in your living room also plays a significant role. For a corner placement, it's best to go for the modern design of <a href="https://www.nilkamalfurniture.com/collections/lhs-sectional-sofas"><u><b>L shape sofa</b></u></a>. And when you live in compact flats, it's advisable to invest in a <b>sofa cum bed</b> that can work as an extra bed. Once you have finalised the one that checks all your requirements, there is the issue of quality and durability. You can <b>buy sofa online</b> at Nilkamal Furniture without any worry about quality. These days apart from the leather sofa or <b>fabric sofa</b> suitable for indoors, there is a <b>garden sofa</b> too that is perfect for outdoor use. <a href="https://www.nilkamalfurniture.com/"><u>Nilkamal furniture</u></a> offers a vast range of <b>sofas</b> of stunning designs and excellent craftsmanship that will help you create a beautiful home and provide a relaxing spot.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
<div class="box">
  {% if collection.handle == 'beds' %}
    <p>Are you looking for a perfect <a href="https://www.nilkamalfurniture.com/collections/bed"><u>bed</u></a> that can give a new makeover to your bedroom? The bed is a bare necessity when it comes to setting up a home. Don’t compromise when you can get the best. Select from Nilkamal’s vast range of beds with hydraulic or manual storage and various designs to match your style. A single bed for kids or a <a href="https://www.nilkamalfurniture.com/collections/double-size-beds"><b><u>double bed</u></b></a> for the couple, you will find everything you need right here. Our <a href="https://www.nilkamalfurniture.com/collections/king-size-beds"><b><u>king-size beds</u></b></a> or <a href="https://www.nilkamalfurniture.com/collections/queen-size-beds"><b><u>queen-size beds</u></b></a> are perfect for snuggling after a long hectic day. A <a href="https://www.nilkamalfurniture.com/collections/single-size-beds"><b><u>single bed</u></b></a> or <a href="https://www.nilkamalfurniture.com/collections/bunk-beds"><b><u>bunk bed</u></b></a> for kids will keep your little one safe through the night. These well-designed beds can add a complete refreshment to your body. From solid and sturdy engineered wood beds, MDF beds, and mild steel beds to stainless steel beds, we have them all.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
<div class="box">
  {% if collection.handle == 'cabinetry' %}
    <p>A home is incomplete without beautiful and stylish cabinets, and now you can give your prized belongings a suitable home with our classic range of cabinetry. We have designed a collection of cabinets, drawers, and <a href="https://www.nilkamalfurniture.com/collections/wardrobes"><b><u>wardrobes</u></b></a> to suit your space and needs. Whether you are looking to revamp your <a href="https://www.nilkamalfurniture.com/collections/living-room"><u>living room</u></a> with a bookshelf or add a touch of sophistication to your office space, our cabinets can be an ideal addition to your home or workplace. With a fusion of contemporary designing and international standards of craftsmanship, our cabinets not only function well but are also aesthetically appealing. Each detail is looked into with great precision - from a superior selection of fine quality material to perfect finishing. So, hurry up and treat your home with our innovative designs.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
<div class="box">
  {% if collection.handle == 'tables' %}
    <p>A table is a basic, indispensable piece of furniture for every household that occupies the centre space and helps make or break the room decor. A <b>centre table</b> brings the family together over the evening meal while a <a href="https://www.nilkamalfurniture.com/collections/coffee-tables"><b><u>coffee table</u></b></a> holds your drink, your food, knick-knacks, books, and TV remote while enjoying a movie. A <a href="https://www.nilkamalfurniture.com/collections/study-tables"><b><u>study table</u></b></a> or <a href="https://www.nilkamalfurniture.com/collections/computer-tables"><b><u>computer table</u></b></a> becomes your perfect companion a night before the exams. A bedside table balances your night lights, so you don’t get hurt in the dark while you can conveniently place your skin-care products, make-up essentials, and accessories on a <a href="https://www.nilkamalfurniture.com/collections/dressing-tables"><b><u>dressing table</u></b></a>. Nilkamal has everything for your home furnishing needs, with products ranging from <b>solid wood bedside tables</b> to <b>dressing tables with mirrors and drawers</b>. Nilkamal's table collection is crafted with durable material and showcases ravishing designs that blend well with any décor style.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
<div class="box">
  {% if collection.handle == 'house-hold' %}
    <p>A home is incomplete without <a href="https://www.nilkamalfurniture.com/collections/house-hold"><b><u>household furniture</u></b></a>. We usually spend a lot of time selecting the perfect bed, comfortable sofa, and functional wardrobes. But when it comes to essential household furniture items, like <b>garbage dustbin</b>, <a href="https://www.nilkamalfurniture.com/collections/racks-trolleys"><b><u>storage trolley</u></b></a>, <b>storage shelves, garden swing</b>, or a <a href="https://www.nilkamalfurniture.com/collections/seating-stools"><b><u>sitting stool</u></b></a>, not much consideration is given to it. As a result, it sticks out like a non-matching, dull piece of furniture in the house. They are equally crucial for an overall finished look to your home. Buying household furniture without being planned in the right way affects the decoration and overall ambience of the space. Now buying household furniture has become easy and hassle-free with online shopping from the Nilkamal virtual store. Our design experts have crafted a perfect range of household furniture articles with utmost precision.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
<div class="box">
  {% if collection.handle == 'dining-room-furniture-bar-furniture' %}
    <p>Dining and bar furniture adds a touch of luxury to your home. A dining room is the most comfortable place to enjoy fun moments with the family. It is a special place associated with fond memories of family laughter, banter, and the joy of relishing the delicious food. Good dining furniture can enhance the visual appeal of this cosy place. If you are looking to curate the perfect <b>dining table set</b> and bar furniture for your home, you will find excellent options here at Nilkamal. With sleek patterns, sturdy crafting, and ergonomic designs, our collection is diverse and versatile and can blend in well with all kinds of home décor. </p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'kids-furniture' %}
    <p>All parents want a safe environment for their kids where they can learn, grow and have fun. Home is like a playground for infants and toddlers, so it is vital to add kid-centric furniture to your home that fosters learning and provides safety and comfort. From crawling to playing, they need colourful surroundings to grow up. Are you thinking about how to start? The essential <b>furniture for kids</b> that you can add is a <b>kids chair</b> with a <a href="https://www.nilkamalfurniture.com/collections/study"><span style="color:#1155cc;"><b><u>kids table</u></b></span></a> for studying and other activities. You can also choose <b>kids folding study table</b> design if you are short on space. Apart from this, kids beds, cribs, and <a href="https://www.nilkamalfurniture.com/collections/wardrobes"><span style="color:#1155cc;"><u>wardrobes</u></span></a> are some essential pieces you need. Whether you like simple patterns or colourful ones, at Nilkamal, we have everything to suit your kid’s needs. There are a lot of options to explore in this vibrant and colourful world of kids furniture. Our collection of kid-centric furniture is designed with dedication and utmost care.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'chests-of-drawers' %}
    <p>If you have big wardrobes and other storage cabinets in your abode and still there are some little stuff left scattered outside, then a <a href="https://www.nilkamalfurniture.com/collections/chests-of-drawers"><span style="color: #33b050;"><b>chest of drawers</b></span></a> looking sleek and holding everything you need, standing in the corner of the room is the right fit for you. Nilkamal presents a collection of <a href="https://www.nilkamalfurniture.com/collections/chests-of-drawers"><span style="color: #33b050;"><b>chests of drawers online</b></span></a> that are designed with soft edges to make sure your rooms always look tidy. From books and kid’s toys to cosmetics, our <a href="https://www.nilkamalfurniture.com/collections/chests-of-drawers"><span style="color: #33b050;"><b>storage drawers</b></span></a> ensure a place for all your stuff that is always within your reach. Browse through our collection, select your favourite and get a place to keep your valuables secure.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'entertainment-units' %}
    <p>Do you want to enhance your family entertainment time? Adding elegant <b>TV unit furniture</b> in your living room can create a lot of difference by amplifying the viewing experience. Nilkamal brings to you multifunctional <b>TV units online</b> that offer additional storage space for TV, household items and elevate the room’s overall look. Our <b>TV unit designs</b> are aesthetically appealing and offer enough room for your media units and curios. Browse through our collection of <b>TV stands online</b> and find the one that meets your criteria, personifies your style and give a premium touch to your living room.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == '1-seater-sofas' %}
    <p>Nilkamal brings you a plethora of classic and <b>modern single seater sofas</b> showcasing impeccable styles. Offering the most comfortable spot in the drawing-room or living room, a <b>sofa chair</b> has many uses. Some people use it for sitting and relaxing, while others find it the best seating arrangement for watching TV and playing video games. As far as investment in furniture is concerned, a <b>single sofa</b> or a <b>sofa chair</b> is always a wise choice that makes a bold statement and provides years of comfort with ease. If you are planning to revamp the interiors of your home, then check out our collection of gorgeous <b>single sofas</b>. Available in various patterns, colours, and finishes, our design team has created a unique range to cater to every home's requirements.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
<div class="box">
  {% if collection.handle == '2-seater-sofas' %}
    <p><b>Two seater sofas</b> are trendy these days - they cater to people who want a cosy and comfortable seating corner in the <a href="https://www.nilkamalfurniture.com/collections/living-room"><span style="color:#1155cc;"><u>living room</u></span></a> to have enjoyable moments with their better halves. Watch a movie together, talk about the day or unwind after work with your partner with our comfortable <b>double seater sofa</b>. Small and compact, these sofas let you sink in and relax right away. If you have limited space and wish to make most of it, adding a <b>2 seater sofa</b> can be a good idea, and our alluring designs make it more pleasing. Get playful with your living room interiors and add an effortless class to your home décor. Nilkamal website is one of the most convenient platforms to buy furniture. Here you can find various colours, patterns and styles for <span style="color: #72ad59;"><b>two seater sofa sets</b></span> that will surely leave your eyes startling.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
<div class="box">
  {% if collection.handle == '3-seater-sofas' %}
    <p>A <span style="color: #72ad59;"><b>3 Seater sofa</b></span> is super comfortable and commonly found in most homes. If you have a large living room, placing a <span style="color: #72ad59;"><b>three seater sofa</b></span> can change the whole look. These varieties are quite versatile and ideal for large families. Moreover, if you like house parties and guests coming over, you must opt for this size. Just add some designer cushions and a matching throw for a stylish element, and your living room is ready. Nilkamal is home to some of the amazing <span style="color: #72ad59;"><b>3 seater sofa</b></span> set options designed to perfection to give your living room an overnight transformation. Be it lounging with your partner on a lazy day or snuggling with your kid while watching a movie - the sofa is always the best spot to sit back and relax. Whether you are moving into a new place or renovating an existing one, simply choose one from the wide range of <span style="color: #72ad59;"><b>3 seater sofa design</b></span> options available at Nilkamal.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == '3-seater-recliners' %}
    <p>Be it a family get together or a movie night with your partner, a <b>reclining three seater sofa</b> forms a perfect seating place accommodating multiple people. You no longer have to compromise on comfort and aesthetics also. Just replace the old traditional sofa with a stylish set of <b>three seater recliner</b> chairs and create a business class look in your living room as you sink into luxury every time you sit. At Nilkamal, we have a vast collection of recliners designed with a perfect blend of style, comfort and functionality. A recliner sofa is universally recognised and loved by all age groups due to its functional features. Whether you want a relaxing <b>three seater recliner</b> to sink in for the living room or a luxury welcoming recliner sofa for the drawing-room, we have everything you are looking for.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'bedside-tables' %}
    <p>Nilkamal presents a beautiful collection of <b>bedside tables</b>, where you can keep your essential midnight items like a lamp, your phone and a glass of water. Decorate your bedroom with these artistic furniture pieces that are designed with an emphasis on utility and affordability. A bedroom is your personal space where you can express your style freely, so finding a bedside table that truly goes with the desired look is essential, so browse the Nilkamal selection to find the one that will accentuate your bedroom décor. Whether your style is modern or traditional, vibrant or rustic, minimalistic or bold, you will find a <b>bedside table</b> that complements your bed. </p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'coffee-tables' %}
    <p>Add style and warmth to your living room décor with an elegant <b>coffee table</b> from Nilkamal. Not only are they handy to keep the coffee mug or TV remote nearby, but our designer coffee tables also make fantastic centrepieces for your <a href="https://www.nilkamalfurniture.com/collections/living-room"><span style="color: #1759cc;"><b><u>living rooms</u></b></span></a>. They are like a centre of attraction that the guests notice when they enter the home. Our collection of <b>centre tables</b> or coffee tables varies from the standard classics to the modern designs equipped with storage facilities. Check out Nilkamal's fantastic collection of <b>coffee tables online</b> that can add aesthetic and functional value to your home. With extensive options, sturdy designs and quick deliveries, you can make your furniture dreams come true.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'computer-tables' %}
    <p>Show your neck and spine some love with Nilkamal’s range of <b>computer tables</b> and enhance your office space. A good <b>computer desk</b> will hold your desktop or laptop safely and at a comfortable eye level so that you do not lose your focus while working. While you may feel comfortable while working from your bed, it can lead to back pains, regardless of whether you are using an <a href="https://www.nilkamalfurniture.com/collections/orthopaedic-mattress"><span style="color: #1759cc;"><b><u>orthopaedic mattress</u></b></span></a>. So, a table can help you maintain your focus and productivity while maintaining good posture and not leading to any back pains. The added benefit of the <b>desktop tables</b> is that most of them come with a storage facility, so you can place your stationary, charger, pen drives all in one place. As an adjustment to the pandemic, the work from home culture is the new normal. A <b>computer workstation</b> at home creates a working environment where you can comfortably complete your presentations, reports or notes. With the changing lifestyle, computer tables have evolved and are available in various designs to suit your needs. Check out Nilkamal’s collection of <b>computer tables for home</b> and workspace. With extensive options, sturdy designs, and quick deliveries, make your furniture dreams come true with Nilkamal. </p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'dining-bench' %}
    <p>Most of the conversations at home happen at a dining table. Add intimate vibes to the mealtime by replacing formal <a href="https://www.nilkamalfurniture.com/collections/dining-chairs"><span style="color: #1759cc;"><u>dining chairs</u></span></a> in your <a href="https://www.nilkamalfurniture.com/collections/dining-room"><span style="color: #1759cc;"><u>dining room</u></span></a> with these elegant dining benches. Gone are the days when benches were only seen in schools and parks. Today you can add a dining bench in a living room, balcony or kitchen to add an eclectic charm. You can place them near a window to have a relaxing gaze at the world outside or place them outdoors as you set up a barbeque station. A durable and pocket-friendly option, a dining bench can bring style and comfort to your home. At Nilkamal, we have a dining bench available in multiple styles, modern or traditional, rigid or cushioned, with or without storage; you can choose your favourite as per your taste and preference.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'dining-chairs' %}
    <p>Our exotic range of <b>dining chairs</b> tempts you to stay home for dinner. A quiet family meal at the end of the long day, a Sunday brunch with friends, an early morning breakfast before starting the day, we tend to spend a lot of time on dining chairs. A perfectly designed dining chair not only makes your dining space elegant but also helps you get a fine dining experience at home. Nilkamal presents a wide selection of <b>dining chairs online</b> for every style and décor. From luxurious upholstered chairs to space-saving stackable chairs, these fantastic dining chairs are just a click away.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'dining-sets' %}
    <p>If your <a href="https://www.nilkamalfurniture.com/collections/king-size-beds"><span style="color: #1759cc;"><b><u>king size bed</u></b></span></a> or <a href="https://www.nilkamalfurniture.com/collections/queen-size-beds"><span style="color: #1759cc;"><b><u>queen size bed</u></b></span></a> is a place where you unwind after the whole day with a night of comfortable sleep, the <b>dining table set</b> is considered the best place to enjoy fun moments with the family at home. Everyone loves to stay and chit chat after meals, happily waiting for dessert. A warm place to share your day's highlights or funny gossip while enjoying a delicious meal together. Nilkamal presents an exclusive range of dining table sets that will surely blow your mind. Whatever your taste is, we have dining table sets expertly designed in various materials to best suit your needs. Our collection is design-oriented, stylish, comfortable, and we assure unparalleled durability. So log on to our website, choose an elegant dining set and create a beautiful dining room.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'dining-tables' %}
    <p>A well-designed dining room is the focal point of your house, and every dining room has a unique story that revolves around the <span style="color: #0ab050;"><b>dining table</b></span>. The star of the space is always the dining table as it occupies the maximum space and is highly functional. From different sizes and shapes to the type of materials, dining tables are pretty versatile. It provides a designated place for having meals together and the best place to discuss hot topics of news. Nilkamal presents an exclusive range of <b>dining table designs</b> and <a href="https://www.nilkamalfurniture.com/collections/dining-sets"><span style="color: #1759cc;"><b><u>dining table sets</u></b></span></a> that will surely blow your mind. Whatever your taste is, we have dining tables available in various patterns and materials to best suit your needs. Our collection is design-oriented, stylish, comfortable, and we assure unparalleled durability. </p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'dressing-tables' %}
    <p>In modern homes, a <b>dressing table</b> is a must-have furniture piece that makes all your beauty-related fantasies come true. And a well-crafted <b>dressing table with a mirror</b> also enhances the overall interior of your bedroom. Whether you are getting ready for a party, a wedding, or work, a dressing table plays a vital role in helping you get ready. Moreover, you don’t have to move around your room to find missing hair accessories or a moisturiser in a rush, as you can have everything in one place with a dressing table. Nilkamals’s <b>dressing table modern</b> designs are elegant, smart, practical. Some of them are designed with plenty of storage for your styling products, cosmetics and hair accessories. The drawers are spacious and smooth running with stops that prevent them from being completely pulled out when you are in a hurry. Some are designed with a handy hook on the side to hang your scarves, coats and bags. All the products are crafted with ingenious designs and impeccable finishing to jazz up your home décor and dressing space.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'lounge-chairs' %}
    <p>Every home needs a place where you can sit back and relax after a long hectic day. For some, it is the bed; for others, it might be a sofa; for you, it could be a luxurious and comfy <b>lounge chair</b>. A <b>lounge chair</b> can be your perfect companion when you want to rejuvenate your mind. Nilkamal offers a plethora of wooden and upholstered <b>lounge chairs for living room</b> decor available online to cater to your needs. A premium living room chair is not only a good seating option but also enhances the overall look of the room. From modern to contemporary, from classic designs to the touch of vibrant hues, these chairs are sturdy, comfortable and the prices are highly competitive. So, browse through our catalogue and <b>buy lounge chairs online (in) India</b> through Nilkamal.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'outdoor-chair' %}
    <p>Nilkamal presents a range of premium <b>outdoor chairs</b> that redefine the experience of outdoor living. The fast-paced living, the long working hours on computers has confined everyone indoors. Our beautiful and vibrant <b>garden chairs</b> will give your garden a relaxing and inviting vibe. So, you can enjoy your lazy mornings and dizzy evenings in the balcony or garden by adding these aesthetically appealing and functional chairs. Our established reputation results from delivering the finest quality products that allow you to create distinctive spaces. Our outdoor chairs are design-oriented, stylish, comfortable, and we assure unparalleled durability. These <b>lawn chairs</b> are perfectly designed for hotels, restaurants, homeowners and for all those who want to give a contemporary makeover to their gardens. So, browse through our catalogue and enjoy the premium shopping services now!</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'plastic-chairs' %}
  <p>If you are looking to buy chairs for your home that are durable, aesthetically appealing and pocket friendly, then <b>plastics chairs</b> are best suitable for you. <b>Modern plastic chairs</b> are light, easy to wash or dust and won’t ruin without external damage. Unlike wood or metals that must be shielded from water, plastic is perfect for indoor and outdoor use. At Nilkamal, we have featured a large assortment of <b>plastic chairs</b> online that will serve all kinds of purposes. From classic premium designs to the touch of vibrant hues, these chairs can elevate your home décor. These chairs are sturdy, comfortable and the prices are highly competitive. So, browse through our catalogue and <a href="https://www.nilkamalfurniture.com/collections/plastic-chairs"><span style="color:#1155cc;"><b><u>buy plastic chairs online</u></b></span></a>.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'recliners' %}
  <p>Recline in comfort with our collection of sink in <b>recliner sofa set</b> options. A high-quality <a href="https://www.nilkamalfurniture.com/collections/1-seater-recliners"><span style="color:#1155cc;"><b><u>recliner chair</u></b></span></a> has an air of luxury that helps you create a business class look in your <a href="https://www.nilkamalfurniture.com/collections/living-room"><span style="color:#1155cc;"><u>living room</u></span></a>. Sitting on a <b>recliner</b> gives a nice relaxed feeling that is incomparable. These days everyone wants a perfect place to sit back and watch a movie on Netflix. While it looks like an investment, but it is worth every penny spent. After a long hectic day, you can sink into this plush luxury and relax your mind and body. A <a href="https://www.nilkamalfurniture.com/collections/3-seater-recliners"><span style="color:#1155cc;"><b><u>recliner sofa</u></b></span></a>, be it a one-seater, two-seater or three-seater, is universally recognised and loved by all age groups due to its functional features. With the advancement of technologies, now we can see many innovations and designs in this important household furniture category. Nilkamals’s <span style="color: #06b254;"><b>recliner</b></span> range comes in a variety of styles and patterns. Whether you want a <a href="https://www.nilkamalfurniture.com/collections/1-seater-recliners"><span style="color:#1155cc;"><b><u>recliner sofa single</u></b></span></a> for the bedroom or <a href="https://www.nilkamalfurniture.com/collections/2-seater-recliners"><span style="color:#1155cc;"><b><u>2 seater recliner sofa</u></b></span></a> options for the living room, we have everything you need to amp up your space. Buy a <b>recliner chair online</b> and get ready to comfortably unwind your favourite snacks and beverage with a web series.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'sectional-sofas' %}
    <p>Modern and minimalistic, <a href="https://www.nilkamalfurniture.com/collections/sofas"><span style="color:#1155cc;"><b><u>sofas</u></b></span></a> are designed with a perfect mix of style and seating space. Unlike conventional sofas, a <b>sectional sofa set</b> is composed of multiple independent seating arrangements combined to create different shapes. The ingenious space-saving design makes it ideal for contemporary spaces that require innovative furniture items. You can replace your traditional sofa set with a <b>modern sofa sectional</b> that can creatively utilise the corner and nooks of a room. A typical <b>L shape sofa</b> where two sofas are joined together end to end to form a right angle also offers additional storage space to stash away your unused household items easily. Nilkamals’s <b>sectional sofa online India</b> range comes in various sizes, from small for tiny apartments to over-size for large living rooms. You can fit these sofas in any layout as it suits your space. Reimagine your interior and get creative by placing sectional sofas in the heart of your room. You can decorate it with plush cushions and contrasting throws to create your own comfy space to relax after a long hectic day.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'sofa-cum-beds' %}
  <p>Multitasking is a trendy keyword in our lives nowadays. With a shortage of space in houses but an increased need for proper sleep for a stress-free life, multitasking furniture, like a <b>sofa cum bed</b>, is the perfect option! With a versatile <b>sofa come bed</b>, you will have a place to lounge and relax during the day and an efficient sleeping area at night. Some models also come with inbuilt storage space that is like icing on the cake. Sometimes there is limited space available in the bedroom, so fitting both a bed and sofa in the same room could be difficult. In those cases, a <b>sofa cum bed</b> is your ultimate saviour. And if your <b>sofa cum bed furniture</b> is going to be your primary bed, you should prioritise comfort. Luckily, at Nilkamal, we have sofa beds on which you can use a mattress of your choice to get the sleeping conditions you like. This is the perfect way to optimize the less spacious home. With so many colours and patterns of <b>sofa cum bed online</b>, you can easily choose the one and amp up your home décor.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'study-tables' %}
    <p>A <b>study table</b> is an excellent addition to a living room or bedroom that adds to the comfort level while studying or working. It creates a working environment where you can comfortably complete your presentations, reports or notes. If you are looking to improve your productivity, retain your focus while studying, and maintain a good posture, this is an apt investment. Declutter your room, and you can beautifully organize the books, papers and stationery on the study table that will enhance your study experience and amp up the interiors of your room. With the changing lifestyle, study tables have evolved and are available in various designs to suit the needs of students and working professionals. At Nilkamal, you will find a huge collection of study tables that are sturdy, durable and easy to maintain. You can create a distraction-free zone with Nilkmal study tables. </p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'wfh-tables' %}
    <p>The pandemic has pushed many organisations to opt for this new working model of work from home. Somehow it is suitable for employees as they can work with independence and flexibility. Still, it is vital to have an appropriate office-like setup at home that includes a chair and an office table that helps work productively and effectively without losing any comfort. While it might not be possible to get the same work environment like the office, you can feel the difference with some stunning work from home tables. We at Nilkamal are here to help you with fantastic work from home table collection. Although the work is important, comfort is equally valued as it affects productivity levels.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'steel-almirah' %}
    <p>Do you remember the days when steel almirahs were the only durable and reliable storage option in your home? Due to their ultimate strength, they were usually stacked up with big heavy luggage bags. Gone are the days when traditionally steel almirah was passed from one generation to another. Today steel wardrobes are making a comeback, and they are reintroduced with contemporary designs and a smart storage solution. So bring back the old treasure with some modern touch. So, browse through our collection of <b>steel wardrobe online</b> and find the one that meets your criteria, personifies your style and give a premium touch to your home.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'seating' %}
    <p>Have you realised children get more enthusiastic when they come across bright and vibrant furniture pieces that are specially designed for them? For toddlers, home is their playground and furniture is like playground equipment. Considering this fact we have invested much thought into creating fun and exciting <b>kids chair</b> to delight your children and they are absolutely child safe as well. You can provide a pleasant place to your kid where he can sit and relax, or can get on with some important toddler work. At Nilkamal, we have lightweight and harmless plastic <b>chairs for kids rooms</b> in a bunch of colours so that you can choose according to your theme. So browse through our collection of <a href="https://www.nilkamalfurniture.com/collections/kids-furniture"><b><u>kids furnitures</u></b></a> and find your favourite and make your children feel happy and safe.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'office-chairs' %}
    <p>To find the best <b>office chair</b> to maintain a good posture while working is not a task anymore! Here we are presenting to you the exclusive collection of Nilkamal <b>office chairs online</b> that are ergonomically designed and look after your posture to work efficiently. Create a comfortable working environment for yourself and your precious employees with our range of <b>office furniture</b>. Office chairs have to be chosen with some thought to maximise utilisation without compromising design and comfort. Available in classic patterns and colours, our design team has created a unique range of work chairs to cater to every working person’s requirements. So hurry up and retreat yourself with the comfort of these chairs.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'wardrobes' %}
    <p>Looking for a new wardrobe or want to replace a traditional one? Check out Nilkamal’s range of modern and stylish wardrobes that can give you the best way to organize your clothes, shoes and other valuable articles. Storage space has to be thought about with a lot of consideration. After all, your precious collectables, as well as your essentials, need a safe place. We have a wide range of <a href="https://www.nilkamalfurniture.com/collections/wardrobes"><span style="color: #33b050;"><b>wardrobe furniture</b></span></a> designs to suit every budget and requirement. Be it hinged doors, sliding doors, or mirrored or without mirror wardrobe designs, you will find it all on our online platform.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'plastic-cabinets' %}
    <p>Are you looking for storage solutions? Give your prized possessions a safe home with our exclusive collection of <a href="https://www.nilkamalfurniture.com/collections/plastic-cabinets"><span style="color: #33b050;"><b>plastic cabinets</b></span></a>. You can choose your favourite, we have designed them to suit your style, space and needs. An ideal way to organize your essentials neatly in one place, with these gorgeous <a href="https://www.nilkamalfurniture.com/collections/plastic-cabinets"><span style="color: #33b050;"><b>plastic storage cabinets</b></span></a>, you can keep your home clean and away from mess. From shoes and accessories to toiletries and office files, we have covered all your storage needs with our <a href="https://www.nilkamalfurniture.com/collections/plastic-cabinets"><span style="color: #33b050;"><b>plastic cupboards</b></span></a>. Regardless of whatever items you place in them, the various colours and styles can blend right in with your home’s interiors. Products ranging from <a href="https://www.nilkamalfurniture.com/collections/plastic-cabinets"><span style="color: #33b050;"><b>plastic kitchen cabinets</b></span></a> to <a href="https://www.nilkamalfurniture.com/collections/plastic-cabinets"><span style="color: #33b050;"><b>plastic wardrobe cabinets and plastic storage cabinets with drawers</b></span></a>, our collection give you complete freedom of choice. Nilkamal plastic cabinet collection is crafted with premium and durable plastic material and showcase stunning designs.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'wfh-chairs' %}
  <p>A compact home office or a personal space with a table and a comfy <b>work from home chair</b> is everyone’s dream. Creating an environment conducive to efficient working can improve productivity. This is the reason why it is essential to have the right kind of <b>executive chair</b> at home. WFH chairs have to be chosen with some thought to maximise utilisation without compromising design and comfort. Explore our collection of <b>ergonomic chairs</b>, study chairs and <b>office chairs online</b> to find the chair that suits you best. Available in classic patterns and colours, Nilkamal has created a unique range of WFH chairs to cater to every working professional's requirements. So hurry up and retreat yourself with the comfort of these chairs.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'shoe-racks' %}
    <p>We all need a specific place to keep and organise the pairs of footwear we have. You cannot keep them lying around for obvious reasons. If left unorganised in the room, shoes can make your home look clumsy, messy and cluttered. The perfect solution to this untidy condition is buying a nice <a href="https://www.nilkamalfurniture.com/collections/shoe-racks"><b>shoe rack</b></a> or a shoe cabinet. <a href="https://www.nilkamalfurniture.com/"><b><u>Nilkamal</u></b></a> offers a fantastic collection of <a href="https://www.nilkamalfurniture.com/collections/shoe-racks"><b>shoe storage</b></a> racks that will provide sufficient storage space to organise your shoes and can also beautify your home with its charming design patterns. From high heels and sports shoes to regular slippers, our <a href="https://www.nilkamalfurniture.com/collections/shoe-racks"><b>shoe rack designs</b></a> makes sure there is a place for all your stuff, and it is always within your reach. Browse through our collection, select your favourite and get a place to keep your footwear secure.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'racks-trolleys' %}
    <p>Are you looking for some space-optimising storage option that can fit anywhere? If yes, then these racks and rack <a href="https://www.nilkamalfurniture.com/collections/racks-trolleys"><b>trolleys on wheels</b></a> are versatile and can help you in many household activities, offering an extra storage space and convenience to move things around. Check out our colourful and vibrant range of <a href="https://www.nilkamalfurniture.com/collections/racks-trolleys"><b>trolley racks</b></a> that are designed with three or four separate <a href="https://www.nilkamalfurniture.com/collections/racks-trolleys"><b>storage shelves</b></a> where you can place vegetables, groceries, plates, cutlery and wheel it out easily wherever you want in one trip. Moreover, they also provide some extra storage space in your living room, washroom, kitchen or your home office. These racks and trolleys help you organise household items and beautify your home with their charming design patterns. From vegetables and cosmetics to toiletries, our <a href="https://www.nilkamalfurniture.com/collections/racks-trolleys"><b>rack trolleys</b></a> make sure there is a place for all your stuff, and it is always within your reach. Browse through our collection, select your favourite and get a place to keep your household items safely.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'office-tables' %}
    <p>Make your working hours comfortable and productive with our exclusive range of <a href="https://www.nilkamalfurniture.com/collections/office-tables"><b>office tables</b></a>. Staying engaged throughout the day is quite challenging, but the right <a href="https://www.nilkamalfurniture.com/collections/office-tables"><b>office table</b></a> can make all the difference. Our design team has creatively crafted this collection of <a href="https://www.nilkamalfurniture.com/collections/office-tables"><b>office table furniture</b></a> with minimalistic elegance that shows professionalism. Considering both form and function, these tables are sure to elevate your workspace. Explore our collection of office tables that are perfect for both spacious and compact aesthetics. With Nilkamal’s office furniture range, you can create a productive work environment with limited distractions.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'office-sofas' %}
    <p>Now you can experience the comfort of your home in your office space with Nilkamal’s exotic range of <b>office sofas</b>. Everyone likes a well-organized and attractive workspace that is designed with functional and stylish furniture pieces. Adding an <b>office sofa set</b> or a set of <b>reception sofas</b> gives a premium touch to your workplace for employees, vendors, and clients who regularly visit your office. Moreover, an excellent office sofa can help boost productivity and efficiency as well in the workplace. Therefore the office sofa must be spacious, comfortable and well-designed. From subtle classics to premium and contemporary, we have a huge collection of office sofas available at Nilkamal that can help you to beautify your office space.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'book-cases-shelves' %}
    <p>Are you looking to organise your books systematically? We will help you with that. Check out our premium collection of bookcases and bookshelves where you can conveniently put your priceless possessions. If you are keen on an easy storage solution for your household equipment, nothing beats a sturdy bookcase designed with small cabinets. These days a bookcase or <b>bookshelf</b> is a must-have furniture piece for every home. If not for a home library, it can give a cosy home to photo albums, trinkets, kids’ toys, or important papers and file folders. The uses are endless. You can save yourself from the trouble of cluttered items on the table by keeping a nice bookcase in your living room.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'dust-bin' %}
    <p>Keep your place neat and clean with our collection of dustbins. They are easy to use, colourful, and expertly designed to help you dispose of your everyday household waste. An essential key to a clutter-free home, dustbins are usually settled at the corner of the house but still grab an important value within the abode. This is why Nilkamal has created a designer range of <b>dustbins for home</b> and office with heart-warming prints and durable materials. The spectacular design and sufficient depth make it suitable for every fine corner of the house. Kitchens, living rooms, bathrooms- you can keep everything clutter-free with our trendy and innovative <b>garbage bins</b>. Just scroll and have a look over our range of dustbins and create a healthy atmosphere at your home.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'study' %}
    <p>Give your kid a place to study, play or indulge in hobbies with our range of sturdy and vibrant kid’s study furniture. After all, these little ones remain at the centre of attention always. Nothing can get them more excited than having a place of their own, and by providing comfortable study furniture, we can easily motivate them to study and keep them busy. They can concentrate better in studies and can develop their artistic skills as well. Adding a <b>kid study table</b> is also an effective way to declutter the kid’s room. You can beautifully organise the books, papers and stationery on the study table that will enhance their study experience and amp up the interiors of your room. With the changing lifestyle, <b>study table designs for kids</b> have evolved and are available in various patterns to suit your needs. At Nilkamal, you will find a huge collection of <b>child study tables</b> and chairs that are sturdy, durable and easy to maintain. Just browse through our colourful collection of <b>kids study table and chair sets</b> and create a joyful ambience in your kid’s room.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'coir-mattresses' %}
    <p>Nothing at home can welcome you better than a comfy mattress and the promise of peaceful and relaxing sleep. At Nilkamal, your comfort and convenience is our top priority, and we offer a wide range of queen and king-sized <b>coir mattress</b> to serve your needs. Due to the numerous health benefits they offer, coir mattresses are gaining a lot of popularity. Being an eco-friendly option, coir mattresses have proved to be one of the best in the mattress industry due to their temperature-friendly property that keeps the body cool during the summer. Comparatively harder than latex and cotton, a coir mattress can do your back a whole world of good. Check out our collection of coir mattress options for you, across makes and sizes.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'foam-mattress' %}
    <p>Are you looking for a heaven-like comfort to sleep in? The Nilkamal range of <b>foam mattresses</b> is designed with layers of goodness to make your spine feel happy. Many people love the way that how easily the foam mattress moulds itself to comfort your body. Resilient and super soft, a foam mattress spreads the body weight evenly to provide better blood circulation and restful sleep. You just have to choose the firmness level as per your requirements. At Nilkamal, your comfort and convenience are our top priority, and we offer a wide range of queen and king-sized foam mattresses to serve your needs. After all, at the end of a hectic day, your body deserves the best rest.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'spring-mattress' %}
    <p>Shopping for a comfortable mattress can be confusing, especially if you are not aware of the available options.  If you are looking for a firm mattress that is also relaxing and budget-friendly, then fortunately, you can narrow down your search by focusing on <b>spring mattresses</b>. Spring mattresses, also known as innerspring mattresses, are crafted utilizing dozens to hundreds of flexible metal springs that provide an underlying support layer. They also have layers of soft plush material that increases the comfort level. Usually, spring mattresses feel more supportive than foam, especially in the initial phase. At Nilkamal, your comfort and convenience is our top priority, and we offer a wide range of queen and king-sized spring mattress to serve your needs. After all, at the end of a hectic day, your body deserves the best rest. Our collection of spring mattresses is ideal for children, newly wedded couples, senior citizens and everyone you can imagine. We aim to make your mattress online shopping experience amazing and effortless by offering exciting prices.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'bench' %}
    <p>Are you expecting too many guests? And little space for chairs? No worries, just bench them! It is easy to squeeze two, three or sometimes four guests on our <b>sitting bench</b>. You can also add intimate vibes to the mealtime by replacing formal dining chairs in your dining room with these elegant benches. You can also replace chairs in the reception or meeting room with benches to accommodate more people in less space. Gone are the days when benches were only seen in schools and parks. Today you can add a classic bench in a living room, balcony or kitchen to add an eclectic charm. You can place them near a window to have a relaxing gaze at the world outside or place them in the office to set up <b>benching workstations</b>. A durable and pocket-friendly option, a bench can bring style and comfort to your home. At Nilkamal, we have a bench available in multiple styles, modern or traditional, rigid or cushioned, with or without storage. You can choose your favourite as per your taste and preference.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'orthopaedic-mattress' %}
    <p>Show some love to your spine by adding a comfy <a href="https://www.nilkamalfurniture.com/collections/orthopaedic-mattress"><b>orthopaedic mattress</b></a> on your bed. Nilkamal offers an exclusive range of orthopaedic mattresses designed to offer not just a good sleep but many other long term health benefits. An <a href="https://www.nilkamalfurniture.com/collections/orthopaedic-mattress"><b>orthopaedic bed mattress</b></a> is perfect for posture correction and back pain relief. Doctors across the country also recommend them to people suffering from body pain due to spondylitis, arthritis, or similar medical issues. At Nilkamal, your comfort and convenience is our top priority, and we offer a wide range of queen and king-sized orthopaedic mattress to serve your needs.<br>Do you know why the orthopaedic mattress is gaining a lot of popularity? It is due to the changing lifestyles of the people. People spend a lot of time on computers these days, resulting in prolonged backache and joint pain. An orthopaedic mattress helps align your spine and moulds to your body contours to get ultimate comfort. Buying an <a href="https://www.nilkamalfurniture.com/collections/orthopaedic-mattress"><b>orthopaedic mattress online</b></a> can be a daunting task and needs careful considerations. At Nilkamal, you can be assured about the strength, quality and durability.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'storage' %}
    <p>Keep your files and paperwork organised with our range of <a href="https://www.nilkamalfurniture.com/collections/storages"><b>file racks for office</b></a> and lockable <a href=""><b>office cabinets storage. Office filing cabinets</b></a> are designed with a combination of shelves where you can store everything, your important files, stationary or journals. Whether it is your home office or your workplace, our cabinets manage to look good while being functional as well. Our collection of office cabinets consists of <a href="https://www.nilkamalfurniture.com/collections/storages"><b>steel file cabinet</b> options and options for a <b>steel file rack for office</b></a> decor that is extremely durable and a reliable storage option for your treasure. Gone are the days when a traditional <a href="https://www.nilkamalfurniture.com/collections/steel-almirah"><u>steel almirah</u></a> was passed from one generation to another. Today, a <a href="https://www.nilkamalfurniture.com/collections/storages"><b>steel cabinet for office</b></a> has become essential and is making a comeback, and they are reintroduced with contemporary designs and a smart storage solution. So bring back the old treasure with some modern touch. Browse through our collection of <a href="https://www.nilkamalfurniture.com/collections/storages"><b>office file storage cabinets online</b></a> and find the one that meets your criteria, personifies your style, and gives a premium touch to your workplace.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'bed-room' %}
    <p>Deck up your bedroom with tasteful furniture from Nilkamal and transform it into a stylish sanctuary. You can find a vast array of furniture pieces for bedrooms including, beds, mattresses, bedside tables, dressing tables, wardrobes, and much more. As your bedroom is a restorative space in the house, decorating it with aesthetic furniture can help enhance the relaxed vibe of the room. The designer bedroom furniture can add a stylish touch to your home while being equally functional. With so many stylish designs available, you can choose suitable furniture to set up your bedroom in an elegant way. You can easily select the required furniture options for your home on the <a href="https://www.nilkamalfurniture.com/"><b><u>Nilkamal website</u></b></a> to have them conveniently delivered to your home.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'bunk-beds' %}
    <p>Are you looking for comfortable beds for your little ones to sleep in? If yes, Nilkamal has the perfect <b>bunk bed for kids</b> for you. These beds are a popular choice for kids of all age groups. <b>Children’s bunk beds</b> are fun and colourful, making them an excellent choice to add to your kids’ bedroom. They can make for a fun way fo kids to rest after their playful day at school. These double bunk beds can also be a perfect choice for your kids’ sleepover parties. In addition to the convenience of usage that these beds offer, they also make them cosy and comfortable for children to sleep in. Depending on the dimensions of your child’s room, you can opt for large-sized or <b>small bunk beds</b>. You can choose from different coloured <b>double decker bed</b> options to add a pop of colour to your little ones’ room. Explore our top-of-the-line collection and <b>buy bunk bed online India</b> on the Nilkamal website to find the best <b>bunk bed</b> for your child.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == '4-seater-dining-tables' %}
    <p>A <b>4 seater dining table</b> can be a perfect pick for nuclear families to spend quality time and have their meals conveniently. These spacious tables can perfectly accommodate four people, making them a good choice for family dining spaces. If your dining room has a space crunch, these conveniently-sized dining tables by Nilkamal can be the perfect solution. You can place them in your home’s dining area and still be left with plenty of space to work around. Nilkamal hosts a vast array of different <b>4 seater dining table set</b> options to help you choose the ideal one for your home. You can read through the product specifications and features of the various dining table models in detail. Choose the best one for your dining room and have the furniture conveniently home delivered.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == '6-seater-dining-tables' %}
    <p>The dining room is an important part of your home as it is where the entire family gets together to enjoy hearty meals with warmth and chatter. As you spend quality time with your family over your dining table, you must pick a spacious one to accommodate everyone comfortably. Nilkamal offers beautifully designed <b>6 seat dining tables</b> that can be a perfect choice for your dining space. You can add these well-made tables to the family dining area to revamp the look of the space. The tables are available with different tabletops including, sleek glass and exquisite marble tabletop options. You can browse through the different options in the <b>dining table set 6 seater</b> price range. So, go ahead and explore the various options available on the Nilkamal website and select suitable furniture to take the look of your dining room to the next level.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'double-size-beds' %}
    <p>A night of peaceful and undisturbed sleep is perhaps one of the most vital times for anyone to relax and rejuvenate their bodies and minds. Therefore, investing in a bed that provides the right comfort level is something that needs great importance. A <b>double bed</b> can be an excellent choice you can opt for, as it provides more room to accommodate two people comfortably in it. These large beds can provide greater comfort and lesser disturbances when two people share the same bed. With so many beautiful and modern designs available at Nilkamal, these furniture pieces can certainly add to the stylish look of your bedroom. So, go ahead and explore the collection online to find the most comfortable bed for you today!</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'garden-sofas' %}
    <p><b>Garden Sofas Furnish You with Optimal Relaxation</b><br>A <b>garden sofa</b> is highly functional and available in a range of elegant designs. These enliven the outdoors and add to the natural settings of an outdoor ambience. An <b>outdoor sofa set</b> provides your guests with a comfortable seating arrangement. You can find these made of different materials like superior quality plastic complemented with a rosewood finish. You can also find some varieties made of premium plywood and engineered wood. Houses with a large garden space prefer to choose a three-seater accompanied by two single-seater chairs. Some houses have spacious backyards, and they prefer to go in for two <b>garden sofa set</b> options. You can always make an appropriate choice of two and three-seaters following your requirements. If you are the socialising type who organises parties frequently, these serve as the perfect seating arrangement for guests. If you happen to live in an extended joint family which celebrates every small occasion with panache, these sofas will serve all your requirements.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'ottomans' %}
    <p><b>Ottomans</b> are incredibly comfortable seats that are most frequently found in living rooms. However, when the Turks initially made them, they were usually utilised as sitting and stretched the entire length of the room. Storage <b>ottomans</b> are versatile pieces of <b>furniture</b> that make your current design pop. Due to their flat but velvety surfaces, ottoman designs can also be utilised in place of <a href="https://www.nilkamalfurniture.com/search?type=product&q=coffee%20tables*"><u>coffee tables</u></a>. Some ottoman pieces of <b>furniture</b> include a lid that swings open to provide a storage area behind it. For a clutter-free environment, you can store away newspapers, novels, and other random objects in there. You can buy a variety of ottomans online, including storage ottoman furniture, ottoman stool, and folding storage ottomans. Check out the fantastic collection at Nilkamal Furniture to buy ottomans for your home.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'bed' %}
    <p>The perfect <b>bed design</b> can transform your sleeping experience. The real game-changer is the ideal <b>bedroom furniture</b> that firmly supports your spine and body. Therefore, people always search for comfortably large yet compact <b>beds</b> to fit in small apartments. This often leads to questions and comparisons between beds according to their sizes, such as <b>king size bed</b>, <b>queen size bed</b>, <b>double size bed</b>, and <b>single size bed</b>. Nilkamal Furniture brings you a wide range of <b>bed online</b>, which can strike the right balance between comfort and utility. The modern, contemporary and classy designs suit individual tastes and add to the aesthetics of your room. You can choose a <b><a href="https://www.nilkamalfurniture.com/search?type=product&q=bed%20with%20storage*"><u>bed with storage</u></a></b> or a <b><a href="https://www.nilkamalfurniture.com/search?type=product&q=bed%20without%20storage*"><u>bed without storage</u></a></b>, whichever serves your purpose and style. Another option to make your room look bigger and save space is the <b>bunk bed</b>. You can also categorise and filter out the <b>beds</b> according to the material from which <b>wooden bed</b> and <b>metal bed</b> are popular choices. <b>Buy bed</b> of master craftsmanship with premium quality that caters to your basic needs and suits your aesthetics. Find the ideal <b>bed for bedroom</b> at Nilkamal Furniture.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'dining-room' %}
    <p>The <b>dining room</b> is an essential space in every household. A common place of the home. Where we celebrate, discuss, plan and enjoy our meals. It is optional to have a dedicated room. A compact corner can also function as a dining room with the right <b>dining set</b>. The dining room is incomplete without the <b>dining furniture set</b>. Without <b>dining room furniture</b>, it is just like any other part of the home.<br> The dining table is the room's soul; it is the focal point around which the rest of the furniture is arranged. So, getting a 4 seater dining table or other as required is essential. Nilkamal helps you get <a href="https://www.nilkamalfurniture.com/collections/4-seater-dining-sets"><u>4 seater dining sets</u></a>, <a href="https://www.nilkamalfurniture.com/collections/6-seater-dining-sets"><u>6 seater dining sets</u></a>, and more for your home. A dining table with complimenting dining chairs is an essential piece of furniture for your <b>dining room</b>. It is essential to find the right type of chair, such as plastic chairs or wooden chairs. You can replace your <b>dining chairs</b> with a <b>dining bench</b> to change the look and add a side table with a storage unit to store your crockery. If space permits, one can also set up a small dining room bar to entertain your guest. In upcoming parts, you will learn about different <b>dining room furniture</b>, things to keep in mind while shopping, and how Nilkamal Furniture provides the best deals.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  <div class="box">
  {% if collection.handle == 'living-room' %}
    <p>Our home is precious to us, and we all want to add our personal touch to them. This is why much thinking goes into deciding its interiors and decors. Every room has its significance, and the living room is where we spend most of our time, whether it's watching Netflix or simply relaxing with a cup of coffee. As a result, our living space should reflect our personality while also providing us with a cosy and comfortable environment. The essential step in customising our living area is selecting the ideal <b>living room furniture</b> to complement the aesthetics of the space. A <b>sofa</b> is a necessary item in every living room, and depending on your space; you can choose from a <b>2-seater sofa</b>, a <b>3-seater sofa</b>, or a <b>sofa set</b>. A <b>table</b> or <a href="https://www.nilkamalfurniture.com/collections/centre-tables"><u>centre table</u></a> is another essential piece of furniture in a living room as it makes the <b>sofa</b> a perfect spot for all the conversations over tea. Swap out the sofas for <b>living room chairs</b> to create a new and distinct look for your space. <b>Recliners</b> are the most recent and trendiest addition to the <a href="https://www.nilkamalfurniture.com/collections/living-room"><u>living furniture</u></a> collection because they not only relax our bodies and minds but also serve as a perfect corner for reading books or playing games. A living room is incomplete without TV sets, and you can choose from the classy and modern <b>TV unit</b> options available online to complement the look of your room while also serving as a storage space for your essential items. Order a <b>sofa set online</b> and deliver it to your home with free installation and demo.</p>
<a href="javascript:void();" class="readmore-btn">Read More</a>
  {% endif %}
  </div>
  
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script>
  $(".readmore-btn").on('click', function(){
  	$(this).parent().toggleClass("showContent");
    
    var replaceText = $(this).parent().hasClass("showContent") ? "Read Less" : "Read More";
    $(this).text(replaceText);
  });
</script>