<!--  Magic Checkout Code Starts -->

<script>
//    window.widgetIDForMagicCheckout = “shopify-section-header”;
//    window.widgetClassForMagicCheckout = “shopify-section”;
//    window.configForMagicCheckout = {
//     display: {
//         sequence: [“cod”]
//     }
//   };
//  window.nameForMagicCheckout = “”;
//   window.onDismissMagiCheckout = () => {
//   		location.reload();
//   }

// window.onCompleteMagiCheckout = (id, price) => {
// }

</script>


   
<input id="rzpKey" type="hidden" name="rzpKey" value="rzp_live_2b9iMf4xuOH9t6">
  
<script async src="https://cdn.razorpay.com/static/shopify/analytics.js" gtag-conversion-id="AW-691987508" gtag-conversion-label="woT-CIrVoMIBELTI-8kC"></script>
<script async src="https://cdn.razorpay.com/static/shopify/magic-rzp.js" data-email="{{ customer.email }}" data-phonenumber="{{ customer.phone }}"></script>
  
  
      
<div id="rzp-spinner-backdrop">
	<div id="rzp-spinner">
  		<div id="loading-indicator">.</div>
	</div>
</div>
 

<style>
  #rzp-spinner-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0);
    visibility: hidden;
    opacity: 0;
  }
  #rzp-spinner-backdrop.show {
    visibility: visible;
    opacity: 0.4;
  }
  #rzp-spinner {
    visibility: hidden;
    opacity: 0;
    /* positioning and centering */
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 10000;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  #rzp-spinner.show {
    visibility: visible;
    opacity: 1;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #loading-indicator {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 4px solid;
    border-color: rgb(59, 124, 245) transparent rgb(59, 124, 245) rgb(59, 124, 245) !important;
    animation: 1s linear 0s infinite normal none running rotate;
    margin-top: 2px;
    box-sizing: content-box;
  }
 </style>
    
  
<!--  Magic Checkout Code Ends -->



