<div id="mobilefull__width__background"></div>
<div id="toworkon">
  <div class="fixed_nodge">
    <div class="close_center">
      <p class="nodge_headboard" onclick="hidemodularvarient()">X</p>
    </div>
    <p class="varient_var_mod">Select Headboard</p>
    <hr>
  </div>
  <li style="margin-top: 16%;" class="headboard_data {% if product.tags contains 'galaxy-headboard' %}headboard_active {% endif %}">
    <a data-headboard="Galaxy" href="https://www.nilkamalfurniture.com/products/nilkamal-galaxy-premier-engineered-wood-bed-with-hydraulic-storage-headboard-light-walnut">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/galaxy-n.jpg?v=1676379638"
        alt="">
      <span>Galaxy headboard</span>
    </a>
  </li>
  <li class="headboard_data {% if product.tags contains 'maple-headboard' %}headboard_active {% endif %}">
    <a href="https://www.nilkamalfurniture.com/products/nilkamal-maple-premier-solid-wood-bed-with-hydraulic-storage-walnut" data-headboard="maple">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/maple-n.jpg?v=1676379383"
        alt="">
      <span>
        Maple headboard</span>
    </a>
  </li>
  <li class="headboard_data {% if product.tags contains 'malcom-headboard' %}headboard_active {% endif %}">
    <a
      href="https://www.nilkamalfurniture.com/products/nilkamal-malcom-premier-engineerd-wood-bed-with-hydraulic-storage-headboard-storage-walnut"
      data-headboard="malcom"
      data-base="box">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/malcom-n.jpg?v=1676379383"
        alt="">
      <span>Malcom
        headboard</span>
    </a>
  </li>
  <li class="headboard_data {% if product.tags contains 'noir-headboard' %}headboard_active {% endif %}">
    <a href="https://www.nilkamalfurniture.com/products/nilkamal-noir-premier-engineered-wood-upholstered-headboard-bed-with-hydraulic-storage-walnut" data-headboard="noir">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/noir-n.jpg?v=1676379383"
        alt="">
      <span>Noir
        headboard</span>
    </a>
  </li>
  <li class="headboard_data {% if product.tags contains 'ornate-headboard' %}headboard_active {% endif %}">
    <a href="https://www.nilkamalfurniture.com/products/nilkamal-ornate-premier-engineered-wood-bed-with-hydraulic-storage-walnut" data-headboard="ornate">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/ornet-n.jpg?v=1676379383"
        alt="">
      <span>Ornate
        headboard</span>
    </a>
  </li>
  <li class="headboard_data {% if product.tags contains 'electra-headboard' %}headboard_active {% endif %}">
    <a href="https://www.nilkamalfurniture.com/products/nilkamal-electra-premier-solid-wood-bed-with-hydraulic-storage-walnut" data-headboard="electra">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/electra-n.jpg?v=1676379383"
        alt="">
      <span>Electra
        headboard</span>
    </a>
  </li>
  <li class="headboard_data {% if product.tags contains 'capsule-headboard' %}headboard_active {% endif %}">
    <a href="https://www.nilkamalfurniture.com/products/nilkamal-capsule-premier-engineered-wood-bed-with-hydraulic-storage-headboard-light-walnut" data-headboard="capsule">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/capsule-n.jpg?v=1676379383"
        alt="">
      <span>Capsule
        headboard</span>
    </a>
  </li>
  <li class="headboard_data {% if product.tags contains 'asta-headboard' %}headboard_active {% endif %}">
    <a href="https://www.nilkamalfurniture.com/products/nilkamal-asta-premier-engineered-wood-bed-with-hydraulic-storage-walnut" data-headboard="asta">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/asta_n.jpg?v=1676379383"
        alt="">
      <span>Asta
        headboard</span>
    </a>
  </li>
  <li class="headboard_data {% if product.tags contains 'orion-headboard' %}headboard_active {% endif %}">
    <a href="https://www.nilkamalfurniture.com/products/nilkamal-orion-premier-engineered-wood-bed-with-hydraulic-storage-walnut" data-headboard="orion">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/orion-n.jpg?v=1676379383"
        alt="">
      <span>Orion
        headboard</span>
    </a>
  </li>
  <li class="headboard_data {% if product.tags contains 'slew-headboard' %}headboard_active {% endif %}">
    <a href="https://www.nilkamalfurniture.com/products/nilkamal-slew-premier-solid-wood-bed-with-hydraulic-storage-headboard-storage-walnut" data-headboard="slew">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/slew-n.jpg?v=1676379383"
        alt="">
      <span>Slew
        headboard</span>
    </a>
  </li>
  <li class="headboard_data {% if product.tags contains 'plush-headboard' %}headboard_active {% endif %}">
    <a href="https://www.nilkamalfurniture.com/products/nilkamal-plush-premier-engineered-wood-bed-with-hydraulic-storage-headboard-light-walnut" data-headboard="plush">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/plush-n.jpg?v=1676379383"
        alt="">
      <span>Plush headboard</span>
    </a>
  </li>
  <li class="headboard_data {% if product.tags contains 'zion-headboard' %}headboard_active {% endif %}">
    <a href="https://www.nilkamalfurniture.com/products/nilkamal-zion-premier-solid-wood-bed-with-hydraulic-storage-walnut" data-headboard="zion">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/zion-n.jpg?v=1676379383"
        alt="">
      <span>Zion
        headboard</span>
    </a>
  </li>
  <li class="headboard_data {% if product.tags contains 'alps-headboard' %}headboard_active {% endif %}">
    <a href="https://www.nilkamalfurniture.com/products/nilkamal-alps-premier-engineered-wood-bed-with-hydraulic-storage-walnut" data-headboard="alps">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/alps.jpg?v=1681814994"
        alt="">
      <span>Alps headboard</span>
    </a>
  </li>
</div>

<div id="toworkon_color">
  <div class="fixed_nodge">
    <div class="close_center">
      <p class="nodge_headboard_color" onclick="hidemodularcolor()">X</p>
    </div>
    <p class="color_var_mod">Select Base Colour</p>
    <hr>
  </div>
  <li style="margin-top: 16%;" class="headboard_data {% if product.tags contains 'white-colour' %}headboard_active {% endif %}">
    <a href="{% if product.tags contains 'galaxy-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-galaxy-premier-engineered-wood-bed-with-hydraulic-storage-headboard-light-white{% endif %}{% if product.tags contains 'maple-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-maple-premier-solid-wood-bed-with-hydraulic-storage-white{% endif %}{% if product.tags contains 'malcom-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-malcom-premier-engineerd-wood-bed-with-hydraulic-storage-headboard-storage-white{% endif %}{% if product.tags contains 'noir-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-noir-premier-engineered-wood-upholstered-headboard-bed-with-hydraulic-storage-white{% endif %}{% if product.tags contains 'ornate-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-ornate-premier-engineered-wood-bed-with-hydraulic-storage-white{% endif %}{% if product.tags contains 'electra-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-electra-premier-solid-wood-bed-with-hydraulic-storage-white{% endif %}{% if product.tags contains 'capsule-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-capsule-premier-engineered-wood-bed-with-hydraulic-storage-headboard-light-white{% endif %}{% if product.tags contains 'asta-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-asta-premier-engineered-wood-bed-with-hydraulic-storage-white{% endif %}{% if product.tags contains 'orion-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-orion-premier-engineered-wood-bed-with-hydraulic-storage-white{% endif %}{% if product.tags contains 'slew-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-slew-premier-solid-wood-bed-with-hydraulic-storage-headboard-storage-white{% endif %}{% if product.tags contains 'plush-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-plush-premier-engineered-wood-bed-with-hydraulic-storage-headboard-light-white{% endif %}{% if product.tags contains 'zion-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-zion-premier-solid-wood-bed-with-hydraulic-storage-white{% endif %}">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/white_color.png?v=1677913311"
        alt="">
      <span>White</span>
    </a>
  </li>
  <li class="headboard_data {% if product.tags contains 'walnut-colour' %}headboard_active {% endif %}">
    <a href="{% if product.tags contains 'galaxy-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-galaxy-premier-engineered-wood-bed-with-hydraulic-storage-headboard-light-walnut{% endif %}{% if product.tags contains 'maple-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-maple-premier-solid-wood-bed-with-hydraulic-storage-walnut{% endif %}{% if product.tags contains 'malcom-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-malcom-premier-engineerd-wood-bed-with-hydraulic-storage-headboard-storage-walnut{% endif %}{% if product.tags contains 'noir-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-noir-premier-engineered-wood-upholstered-headboard-bed-with-hydraulic-storage-walnut{% endif %}{% if product.tags contains 'ornate-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-ornate-premier-engineered-wood-bed-with-hydraulic-storage-walnut{% endif %}{% if product.tags contains 'electra-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-electra-premier-solid-wood-bed-with-hydraulic-storage-walnut{% endif %}{% if product.tags contains 'capsule-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-capsule-premier-engineered-wood-bed-with-hydraulic-storage-headboard-light-walnut{% endif %}{% if product.tags contains 'asta-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-asta-premier-engineered-wood-bed-with-hydraulic-storage-walnut{% endif %}{% if product.tags contains 'orion-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-orion-premier-engineered-wood-bed-with-hydraulic-storage-walnut{% endif %}{% if product.tags contains 'slew-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-slew-premier-solid-wood-bed-with-hydraulic-storage-headboard-storage-walnut{% endif %}{% if product.tags contains 'plush-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-plush-premier-engineered-wood-bed-with-hydraulic-storage-headboard-light-walnut{% endif %}{% if product.tags contains 'zion-headboard' %}https://www.nilkamalfurniture.com/products/nilkamal-zion-premier-solid-wood-bed-with-hydraulic-storage-walnut{% endif %}">
      <img
        class="headboard_img"
        src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/walnut_color.jpg?v=1677913311"
        alt="">
      <span>Walnut</span>
    </a>
  </li>
</div>