<style>
  .modular__related__blog {
    position: relative;
  }

  .modular__related__blog .modular__inner__title {
    margin-bottom: 30px;
  }


  .swiper,
  .swiper-wrapper,
  .swiper-slide {
    width: 100%;
    height: auto;
  }

  .mySwiperModPlpBlog {
    background-color: #fff !important;
    border-radius: 0 !important;
  }

  .swiper_slider_container {
    background: #ffffff;
    border: 3px solid rgba(0, 0, 0, 0.03);
    border-radius: 12px;
    padding: 22px;
  }

  .image__swiper__box {
    width: 100%;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .content__swiper__heading {
    display: block;
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #444444;
    margin-bottom: 25px;
  }

  .content__swiper__para {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 25px;
  }

  .content__swiper__button {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .content__swiper__button a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 147, 221, 0.3);
    border-radius: 38px;
    color: #0093dd;
  }

  .image__swiper__box img {
    width: 100%;
    height: auto;
  }

  .modulr__blog__content{
  width:100%;
  }

  @media (max-width: 768px) {
    .content__swiper__para {
      display: none;
    }

    .content__swiper__heading {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.4;
      max-height: 8em;
      overflow: hidden;
      text-align: left;
      height: 3em;
      border-bottom:0px solid #000;
    }

    {% comment %} .content__swiper__heading::after {
      content: '...';
      display: inline;
    } {% endcomment %}

    .swiper_slider_container {
      border: none;
      padding: 10px;
    }

    .get__inspired__section {
    margin-top: 30px;
}

    .modulr__blog__content{
     width:100%;
    }

    .modulr__blog__content .modular__inner__title{
    margin-left:20px;
    line-height: 1.4;
    }

    .mySwiperModPlpBlog{
    padding-left:10px;
    overflow:hidden;
  }
  }

  .swiper-button-next-2 {
    top: 50%;
    right: -2.2%;
    transform: translateY(-50%);
  }

  .swiper-button-prev-2 {
    top: 50%;
    left: -2.2%;
    transform: translateY(-50%);
  }

  .swiper-button-prev-2,.swiper-button-next-2{
  z-index:2;
  }
</style>



<div class="modular__related__blog">
  <div class="modulr__blog__content">
  <span class="modular__inner__title">Everything You Need To Know About Modular Beds</span>
  </div>
  <div class="swiper mySwiperModPlpBlog">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper_slider_container">
          <div class="image__swiper__box">
            <img
              src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Discover_Amazing_Modular_Storage_Beds_to_Redesign_Your_Bedroom.jpg?v=1681379918"
              alt=""
            >
          </div>
          <div class="content__swiper__box">
            <span class="content__swiper__heading">Discover Amazing Modular Storage Beds to Redesign Your Bedroom</span>
            <span class="content__swiper__para"
              >Multipurpose furniture, such as a modular bed with storage , is becoming more popular as our homes become
              smaller and more compatible. A modular bed having storage can save you space, money, and time! From its
              luxurious premium look to its spacious storage
            </span>
            <div class="content__swiper__button">
              <a href="https://www.nilkamalfurniture.com/blogs/blog/discover-amazing-modular-storage-beds-to-redesign-your-bedroom"
                >Read Full Article</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper_slider_container">
          <div class="image__swiper__box">
            <img
              src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Find_the_Best_Queen_Size_Modular_Bed_at_Nilkamal_Furniture.jpg?v=1681379995"
              alt=""
            >
          </div>
          <div class="content__swiper__box">
            <span class="content__swiper__heading">Find the Best Queen Size Modular Bed at Nilkamal Furniture</span>
            <span class="content__swiper__para"
              >A queen size bed is suitable for most of the bedrooms. Queen-size modular beds with headboard are
              convenient options for any modern bedroom. You can also opt for a headboard with storage capacity. A
              storage headboard lets you keep your bedroom organised by offering you much storage capacity
            </span>
            <div class="content__swiper__button">
              <a href="https://www.nilkamalfurniture.com/blogs/blog/find-the-best-queen-size-modular-bed-at-nilkamal-furniture"
                >Read Full Article</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper_slider_container">
          <div class="image__swiper__box">
            <img
              src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Best_and_Trendy_Modular_Beds_To_Modernise_Your_Bedroom.jpg?v=1681380096"
              alt=""
            >
          </div>
          <div class="content__swiper__box">
            <span class="content__swiper__heading">Best and Trendy Modular Beds To Modernise Your Bedroom</span>
            <span class="content__swiper__para"
              >Bedrooms are unique places, aren't they? Our bedrooms are significant in our homes since we spend
              one-third of our lives there. An ultra-comfortable bed and a clean, cosy bedroom are all you need after
              working all day. In addition, your bed should be a comfortable and fashionable piece of furniture as it is
              where you begin and end every day
            </span>
            <div class="content__swiper__button">
              <a href="#">Read Full Article</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper_slider_container">
          <div class="image__swiper__box">
            <img
              src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Reasons_You_Should_Choose_a_Modular_Bed_as_a_Wedding_Gift.jpg?v=1681379770"
              alt=""
            >
          </div>
          <div class="content__swiper__box">
            <span class="content__swiper__heading">Reasons You Should Choose a Modular Bed as a Wedding Gift</span>
            <span class="content__swiper__para"
              >Finding the best wedding gift is a tedious task. If you need clarification about finding a premium and
              high-quality wedding gift, modular beds can be the best choice. These beds are the perfect pieces of
              furniture to create a comfortable space in a bedroom. When a new couple dreams of building a new house,
              they face many challenges
            </span>
            <div class="content__swiper__button">
              <a href="https://www.nilkamalfurniture.com/blogs/blog/reasons-you-should-choose-a-modular-bed-as-a-wedding-gift"
                >Read Full Article</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiper_slider_container">
          <div class="image__swiper__box">
            <img
              src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Full_Lift_or_Three_Fourth_Storage_Bed_Which_One_Should_You_Pick.jpg?v=1681380219"
              alt=""
            >
          </div>
          <div class="content__swiper__box">
            <span class="content__swiper__heading"
              >Full Lift or Three Fourth Storage Bed : Which One Should You Pick?</span
            >
            <span class="content__swiper__para"
              >Most people prefer beds with storage options. But there are different storage options for different beds.
              If you prefer a storage bed, you must decide whether you want full or three-fourth lift options. Both
              types of storage bed serve other purposes, and you must choose as per your preferences.
            </span>
            <div class="content__swiper__button">
              <a href="https://www.nilkamalfurniture.com/blogs/blog/full-lift-or-three-fourth-storage-bed-which-one-should-you-pick"
                >Read Full Article</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-next swiper-button-next-2 ">
    <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Group_5.svg?v=1680601142">
  </div>
  <div class="swiper-button-prev swiper-button-prev-2">
    <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Group_6.svg?v=1680601142">
  </div>
</div>
