<style>
  .get__inspired__section {
    margin-top: 30px;
  }

  .get__inspired__section img {
    margin-top: 30px;
  }

  .get__inspired__section .modular__inner__para {
    margin-top: 20px;
  }

  .get__insp__mobile {
    display: none;
  }

  .get__inspired__section .modular__inner__title {
    margin-bottom: 10px;
  }

  @media(max-width:768px) {
    .get__insp__desktop {
      display: none;
    }

    .get__inspired__section .modular__inner__title {
      margin-top: 10px;
    }

    .get__inspired__section {
      margin-top: 0;
    }

    .get__insp__mobile {
      display: block;
    }

    .get__inspired__section .modular__inner__para {
      margin-top: 15px !important;
    }


  }
</style>
<div class="get__inspired__section">
  <div class="modular__content__box">
    <span class="modular__inner__title">Get Inspired by our designer’s top picks</span>
    <p class="modular__inner__para">
      Need help deciding which bed to choose for your bedroom? Our designers have chosen their
      favourite Modular Beds to help you find your dream bed.
    </p>
  </div>
</div>