<div class="clearfix">
  <h3 class="center">ENQUIRY FORM</h3>
  <form class="formtastic contact_us" id="enquire_now" name="enquire_now">
    <div style="margin:0;padding:0;display:inline">
      <input name="authenticity_token" type="hidden" value="LmQBLODM9jM/KY004jiTFGP0nokR0MI4790I/GouKnE="></div> 
    <ul style="padding: 0;">
      <div class="formleft">
        <li class="string required" id="contact_us_name_input">
          <label for="contact_us_name" class="hide">
            <abbr title="required"></abbr>
          </label>
          <input class="text" id="name" maxlength="255" name="name" type="text" placeholder="Name*">
          <span id="name_error" class="name_error err"></span>
        </li>
      </div>
      <div class="formright">
        <li class="email required" id="contact_us_email_input">
          <label for="contact_us_email" class="hide">
            <abbr title="required"></abbr>
          </label>
          <input class="text" id="email" maxlength="255" name="email" type="text" placeholder="Email*">
          <span id="email_error" class="email_error err"></span>
        </li>
      </div>
      <div class="formleft">
        <li class="string opstional" id="mobile_number_input">
          <label for="contact_us_mobile_number" class="hide"></label>
          <input class="text" id="mobile_number" maxlength="255" name="mobile_number" type="text" placeholder="Mobile number">
          <span id="mobile_number_error" class="mobile_number_error err"></span>
        </li> 
      </div>
      <div class="formright">
        <li class="string optional" id="contact_us_city_input">
          <label for="contact_us_city" class="hide"></label>
          <input class="text" id="city" maxlength="255" name="city" type="text" placeholder="City">
          <span id="city_error" class="city_error err"></span>
        </li>
      </div>
      <div class="formleft">
        <!--     	<li class="country optional" id="contact_us_country_input">
<label for="contact_us_country" class="hide"></label>
<select class="text" id="country" name="country" placeholder="Country">
<option selected="selected" disabled="disabled">Country</option><option value="IN">India</option>
<option value="" disabled="disabled">-------------</option>
<option value="AF">Afghanistan</option>
<option value="AX">Aland Islands</option>
<option value="AL">Albania</option>
<option value="DZ">Algeria</option>
<option value="AS">American Samoa</option>
<option value="AD">Andorra</option>
<option value="AO">Angola</option>
<option value="AI">Anguilla</option>
<option value="AQ">Antarctica</option>
<option value="AG">Antigua and Barbuda</option>
<option value="AR">Argentina</option>
<option value="AM">Armenia</option>
<option value="AW">Aruba</option>
<option value="AU">Australia</option>
<option value="AT">Austria</option>
<option value="AZ">Azerbaijan</option>
<option value="BS">Bahamas</option>
<option value="BH">Bahrain</option>
<option value="BD">Bangladesh</option>
<option value="BB">Barbados</option>
<option value="BY">Belarus</option>
<option value="BE">Belgium</option>
<option value="BZ">Belize</option>
<option value="BJ">Benin</option>
<option value="BM">Bermuda</option>
<option value="BT">Bhutan</option>
<option value="BO">Bolivia</option>
<option value="BA">Bosnia and Herzegovina</option>
<option value="BW">Botswana</option>
<option value="BV">Bouvet Island</option>
<option value="BR">Brazil</option>
<option value="IO">British Indian Ocean Territory</option>
<option value="BN">Brunei Darussalam</option>
<option value="BG">Bulgaria</option>
<option value="BF">Burkina Faso</option>
<option value="BI">Burundi</option>
<option value="KH">Cambodia</option>
<option value="CM">Cameroon</option>
<option value="CA">Canada</option>
<option value="CV">Cape Verde</option>
<option value="KY">Cayman Islands</option>
<option value="CF">Central African Republic</option>
<option value="TD">Chad</option>
<option value="CL">Chile</option>
<option value="CN">China</option>
<option value="CX">Christmas Island</option>
<option value="CC">Cocos (Keeling) Islands</option>
<option value="CO">Colombia</option>
<option value="KM">Comoros</option>
<option value="CG">Congo</option>
<option value="CD">Congo, the Democratic Republic of the</option>
<option value="CK">Cook Islands</option>
<option value="CR">Costa Rica</option>
<option value="CI">Cote D'ivoire</option>
<option value="HR">Croatia</option>
<option value="CU">Cuba</option>
<option value="CY">Cyprus</option>
<option value="CZ">Czech Republic</option>
<option value="DK">Denmark</option>
<option value="DJ">Djibouti</option>
<option value="DM">Dominica</option>
<option value="DO">Dominican Republic</option>
<option value="EC">Ecuador</option>
<option value="EG">Egypt</option>
<option value="SV">El Salvador</option>
<option value="GQ">Equatorial Guinea</option>
<option value="ER">Eritrea</option>
<option value="EE">Estonia</option>
<option value="ET">Ethiopia</option>
<option value="FK">Falkland Islands (Malvinas)</option>
<option value="FO">Faroe Islands</option>
<option value="FJ">Fiji</option>
<option value="FI">Finland</option>
<option value="FR">France</option>
<option value="GF">French Guiana</option>
<option value="PF">French Polynesia</option>
<option value="TF">French Southern Territories</option>
<option value="GA">Gabon</option>
<option value="GM">Gambia</option>
<option value="GE">Georgia</option>
<option value="DE">Germany</option>
<option value="GH">Ghana</option>
<option value="GI">Gibraltar</option>
<option value="GR">Greece</option>
<option value="GL">Greenland</option>
<option value="GD">Grenada</option>
<option value="GP">Guadeloupe</option>
<option value="GU">Guam</option>
<option value="GT">Guatemala</option>
<option value="GG">Guernsey</option>
<option value="GN">Guinea</option>
<option value="GW">Guinea-Bissau</option>
<option value="GY">Guyana</option>
<option value="HT">Haiti</option>
<option value="HM">Heard Island and Mcdonald Islands</option>
<option value="VA">Holy See (Vatican City State)</option>
<option value="HN">Honduras</option>
<option value="HK">Hong Kong</option>
<option value="HU">Hungary</option>
<option value="IS">Iceland</option>
<option value="IN">India</option>
<option value="ID">Indonesia</option>
<option value="IR">Iran, Islamic Republic of</option>
<option value="IQ">Iraq</option>
<option value="IE">Ireland</option>
<option value="IM">Isle of Man</option>
<option value="IL">Israel</option>
<option value="IT">Italy</option>
<option value="JM">Jamaica</option>
<option value="JP">Japan</option>
<option value="JE">Jersey</option>
<option value="JO">Jordan</option>
<option value="KZ">Kazakhstan</option>
<option value="KE">Kenya</option>
<option value="KI">Kiribati</option>
<option value="KP">Korea, Democratic People's Republic of</option>
<option value="KR">Korea, Republic of</option>
<option value="KV">Kosovo</option>
<option value="KW">Kuwait</option>
<option value="KG">Kyrgyzstan</option>
<option value="LA">Lao People's Democratic Republic</option>
<option value="LV">Latvia</option>
<option value="LB">Lebanon</option>
<option value="LS">Lesotho</option>
<option value="LR">Liberia</option>
<option value="LY">Libyan Arab Jamahiriya</option>
<option value="LI">Liechtenstein</option>
<option value="LT">Lithuania</option>
<option value="LU">Luxembourg</option>
<option value="MO">Macao</option>
<option value="MK">Macedonia, the Former Yugoslav Republic of</option>
<option value="MG">Madagascar</option>
<option value="MW">Malawi</option>
<option value="MY">Malaysia</option>
<option value="MV">Maldives</option>
<option value="ML">Mali</option>
<option value="MT">Malta</option>
<option value="MH">Marshall Islands</option>
<option value="MQ">Martinique</option>
<option value="MR">Mauritania</option>
<option value="MU">Mauritius</option>
<option value="YT">Mayotte</option>
<option value="MX">Mexico</option>
<option value="FM">Micronesia, Federated States of</option>
<option value="MD">Moldova, Republic of</option>
<option value="MC">Monaco</option>
<option value="MN">Mongolia</option>
<option value="ME">Montenegro</option>
<option value="MS">Montserrat</option>
<option value="MA">Morocco</option>
<option value="MZ">Mozambique</option>
<option value="MM">Myanmar</option>
<option value="NA">Namibia</option>
<option value="NR">Nauru</option>
<option value="NP">Nepal</option>
<option value="NL">Netherlands</option>
<option value="AN">Netherlands Antilles</option>
<option value="NC">New Caledonia</option>
<option value="NZ">New Zealand</option>
<option value="NI">Nicaragua</option>
<option value="NE">Niger</option>
<option value="NG">Nigeria</option>
<option value="NU">Niue</option>
<option value="NF">Norfolk Island</option>
<option value="MP">Northern Mariana Islands</option>
<option value="NO">Norway</option>
<option value="OM">Oman</option>
<option value="PK">Pakistan</option>
<option value="PW">Palau</option>
<option value="PS">Palestinian Territory, Occupied</option>
<option value="PA">Panama</option>
<option value="PG">Papua New Guinea</option>
<option value="PY">Paraguay</option>
<option value="PE">Peru</option>
<option value="PH">Philippines</option>
<option value="PN">Pitcairn</option>
<option value="PL">Poland</option>
<option value="PT">Portugal</option>
<option value="PR">Puerto Rico</option>
<option value="QA">Qatar</option>
<option value="RE">Reunion</option>
<option value="RO">Romania</option>
<option value="RU">Russian Federation</option>
<option value="RW">Rwanda</option>
<option value="SH">Saint Helena</option>
<option value="KN">Saint Kitts and Nevis</option>
<option value="LC">Saint Lucia</option>
<option value="PM">Saint Pierre and Miquelon</option>
<option value="VC">Saint Vincent and the Grenadines</option>
<option value="WS">Samoa</option>
<option value="SM">San Marino</option>
<option value="ST">Sao Tome and Principe</option>
<option value="SA">Saudi Arabia</option>
<option value="SN">Senegal</option>
<option value="RS">Serbia</option>
<option value="SC">Seychelles</option>
<option value="SL">Sierra Leone</option>
<option value="SG">Singapore</option>
<option value="SK">Slovakia</option>
<option value="SI">Slovenia</option>
<option value="SB">Solomon Islands</option>
<option value="SO">Somalia</option>
<option value="ZA">South Africa</option>
<option value="GS">South Georgia and the South Sandwich Islands</option>
<option value="ES">Spain</option>
<option value="LK">Sri Lanka</option>
<option value="SD">Sudan</option>
<option value="SR">Suriname</option>
<option value="SJ">Svalbard and Jan Mayen</option>
<option value="SZ">Swaziland</option>
<option value="SE">Sweden</option>
<option value="CH">Switzerland</option>
<option value="SY">Syrian Arab Republic</option>
<option value="TW">Taiwan, Province of China</option>
<option value="TJ">Tajikistan</option>
<option value="TZ">Tanzania, United Republic of</option>
<option value="TH">Thailand</option>
<option value="TL">Timor-Leste</option>
<option value="TG">Togo</option>
<option value="TK">Tokelau</option>
<option value="TO">Tonga</option>
<option value="TT">Trinidad and Tobago</option>
<option value="TN">Tunisia</option>
<option value="TR">Turkey</option>
<option value="TM">Turkmenistan</option>
<option value="TC">Turks and Caicos Islands</option>
<option value="TV">Tuvalu</option>
<option value="UG">Uganda</option>
<option value="UA">Ukraine</option>
<option value="AE">United Arab Emirates</option>
<option value="GB">United Kingdom</option>
<option value="US">United States</option>
<option value="UM">United States Minor Outlying Islands</option>
<option value="UY">Uruguay</option>
<option value="UZ">Uzbekistan</option>
<option value="VU">Vanuatu</option>
<option value="VE">Venezuela</option>
<option value="VN">Viet Nam</option>
<option value="VG">Virgin Islands, British</option>
<option value="VI">Virgin Islands, U.S.</option>
<option value="WF">Wallis and Futuna</option>
<option value="EH">Western Sahara</option>
<option value="YE">Yemen</option>
<option value="ZM">Zambia</option>
<option value="ZW">Zimbabwe</option>
</select>
</li> 
<span id="country_error" class="err"></span> -->
        <li>
          <select>        
            <option disabled selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </li>
      </div>
      <div class="formright">
        <li class="required" id="contact_us_category_input">
          <label for="contact_us_category" class="hide">
            <abbr title="required"></abbr>
          </label>
          <select name="state_id" id="StateId" class="select-arrow-cust widget_input" >
            <option value="">State</option>
            <option value="26909">Andaman and Nicobar</option>
            <option value="26920">Andhra Pradesh</option>
            <option value="27573">Arunachal Pradesh</option>
            <option value="27718">Assam</option>
            <option value="28070">Bihar</option>
            <option value="28449">Chandigarh</option>
            <option value="28455">Chhattisgarh</option>
            <option value="28644">Dadra And Nagar Haveli</option>
            <option value="28650">Daman And Diu</option>
            <option value="28655">Delhi</option>
            <option value="28678">Goa</option>
            <option value="28697">Gujarat</option>
            <option value="28972">Haryana</option>
            <option value="29297">Himachal Pradesh</option>
            <option value="29424">Jammu and Kashmir</option>
            <option value="29647">Jharkhand</option>
            <option value="29881">Karnataka</option>
            <option value="30137">Kerala</option>
            <option value="30279">Lakshadweep</option>
            <option value="30284">Madhya Pradesh</option>
            <option value="30624">Maharashtra</option>
            <option value="31026">Manipur</option>
            <option value="31058">Meghalaya</option>
            <option value="31123">Mizoram</option>
            <option value="31172">Nagaland</option>
            <option value="31227">Odisha</option>
            <option value="31606">Puducherry</option>
            <option value="31626">Punjab</option>
            <option value="31766">Rajasthan</option>
            <option value="32032">Sikkim</option>
            <option value="32052">Tamil Nadu</option>
            <option value="32319">Telangana</option>
            <option value="32659">Tripura</option>
            <option value="32784">Uttar Pradesh</option>
            <option value="33411">Uttarakhand</option>
            <option value="33506">West Bengal</option>
          </select>
        </li>
        <span id="corporate_error" class="corporate_error err"></span>
      </div>
      <input type="hidden" name="enquiry_now" value="enquiry_now">
      <li class="text optional" id="contact_us_message_input">
        <label for="contact_us_message" class="hide"></label>
        <textarea id="message" name="message" rows="20" placeholder="Message">
        </textarea>
        <span id="message_error" class="message_error err"></span>
      </li>
      <li class="center"><input class="action_button reverse" id="enquire_now_submit" name="commit" type="button" value="SUBMIT"></li>
    </ul>
  </form>
  <div id="thank_you" class="center">
    <img src="{{'check-icon.png' | asset_img_url }}">
    <h3>Thank You</h3>
    <p>Your submission is received and we will contact you soon.</p>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.8.0.min.js" type="text/javascript"></script>

<script src="https://malsup.github.com/jquery.form.js" type="text/javascript"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#thank_you').css('display','none');
  });

  $("#enquire_now_submit").click(function(e){
    $('.err').html('');
    e.preventDefault();
    var form = $('#enquire_now');
    $.ajax({
      url: apiURL+"api/enquire",
      type: 'POST',
      data: form.serialize(),
      dataType: 'json',
      beforeSend:function(){
        $('#enquire_now_submit').attr('disabled',true);
        $('#enquire_now_submit').attr('value','Please wait...');
      },
      success : function(resp)
      { 
        $('#enquire_now').css('display','none');
        $('#thank_you').css('display','block');
      },
      error: function (data) {
        $('#enquire_now_submit').attr('disabled',false);
        $('#enquire_now_submit').attr('value','submit');
        $.each(data.responseJSON.errors, function(k,v){
          $('#'+k+'_error').text(v);
        });
      },
    });
  });
  $('#country').on('change',function(){
    var country = $(this).val();
    if(country != 'IN'){
      $('#StateId').css('display','none');
    }else{
      $('#StateId').css('display','block');
    }
  });

</script>