<div class="container">
<div class="women-daysbanner">
  <div class="women_title"><p>THIS WOMEN'S DAY, JOIN US IN CELEBRATING THE <br> <b style="font-weight: 900;">BEST QUALITY - EQUALITY</b></p></div>
  <div class="col-sm-12">
    <div class="col-sm-1"></div>
  <div class="col-sm-5 vid_1">
    <iframe width="430" height="215" src="https://www.youtube.com/embed/NX7GQUEXDyI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <span class="video_btm_title_1">RESPONSIBILITIES ARE EQUAL</span>
    <span>#BestQualityEquality</span>
  </div>
  <div class="col-sm-5 vid_3">
    <iframe width="100%" height="200" src="https://www.youtube.com/embed/NX7GQUEXDyI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <span class="video_btm_title_1">RESPONSIBILITIES ARE EQUAL</span>
    <span>#BestQualityEquality</span>
  </div>
 <div class="col-sm-1"></div>
  <div class="col-sm-5 vid_1">
    <iframe width="430" height="215" src="https://www.youtube.com/embed/OpAZhexgNmA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <span class="video_btm_title_2">DREAMS ARE EQUAL</span>
    <span>#BestQualityEquality</span>
  </div>
  <div class="col-sm-5 vid_2">
    <iframe width="100%" height="200" src="https://www.youtube.com/embed/OpAZhexgNmA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <span class="video_btm_title_2">DREAMS ARE EQUAL</span>
    <span>#BestQualityEquality</span>
  </div>
</div>
  </div>  
</div>
<style>
  .women-daysbanner{
    margin-top:50px;
  }
  .women-daysbanner {
    background-image: url(https://cdn.shopify.com/s/files/1/0044/1208/0217/files/webiste_banner_for_video_template.png?v=1646634137);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    font-family: 'gothamRounded-medium';
    color: #fff;
    font-size: 24px;
    text-align: center;
}
  .women-daysbanner .col-sm-12 {
    text-align: center;
}
  .women-daysbanner .col-sm-5 {
    text-align: center;
        margin-top: 155px;
        margin-left: -26px;
}
  .col-sm-5.vid_2 {
    display: none;
}
  .col-sm-5.vid_3 {
    display: none;
}
  .col-sm-5.vid_1 {
    margin-top: 45px;
}
  iframe {
    margin-bottom: 30px;
}
  .women_title{
  	padding-top: 20px;
  }
  span.video_top_title_1 {
    font-weight: 900;
}
  span.video_btm_title_1{
  	font-weight: 900;
  }
  span.video_btm_title_2{
  	font-weight: 900;
  }
  
  @media only screen and (max-width: 600px) {
  .women-daysbanner {
    background-image: url(https://cdn.shopify.com/s/files/1/0044/1208/0217/files/women_banner_mobile.png?v=1646634137);
    width: 100%;
    background-size: cover;
    height: 680px;
    font-size: 18px;	
}
    .col-sm-5.vid_2 {
    display: block;
}
    .col-sm-5.vid_3 {
    display: block;
}
    .col-sm-5.vid_1 {
    display: none;
}
    .col-sm-5.vid_3 {
    margin-top: 0px;
}
    .col-sm-5.vid_2 {
    margin-top: 20px;
}
    .women-daysbanner .col-sm-5 {
    margin-left: 0;
}
    iframe {
    margin-bottom: 10px;
}
}
</style>