<div class="container">
  <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/3_trendy.png?v=1652684233" class="visible-desktop combomarriage">
  <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/m_trendy.png?v=1652684303" class="visible-mobile combomarriage">
</div>
<div class="container">
 <div class="container">
  <div class="price-box">
    <a href="https://www.nilkamalfurniture.com/collections/marriage-combo-below-50000" class="box-1">The Smart Collection Upto 50k</a>
    <a href="https://www.nilkamalfurniture.com/collections/marriage-combo-below-100000" class="box-1">The Designer Collection 50k - 1L</a>
    <a href="https://www.nilkamalfurniture.com/collections/marriage-combo-below-1500000" class="box-2">The Trendy Collection 1L - 1.5L</a></div>
</div>
</div>
<div class="container section-combo">
  <div class="col-sm-12">
    
  <div class="col-sm-6">
      <a href="https://www.nilkamalfurniture.com/products/nilkamal-tristar-bedroom-set-brown-white">
      <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/collection_banner-06.jpg?v=1652513278"
           alt="marriage1" class="combomarriage">
         <div class="marriagecombototal">
       <p class="marriagemrp"> <span>MRP Rs 184,400.00 </span></p>
      <p class="marriageprice"> <span>Rs. 121,900.00</span></p>
      <a href="https://www.nilkamalfurniture.com/products/nilkamal-tristar-bedroom-set-brown-white" class="addtocartmarriage">View Product</a>
        </div>
         <p class="marriagecontent">Bed | Wardrode | Dressing Table | Side Table</p>
      </a>
    </div>
    <a href="https://www.nilkamalfurniture.com/products/nilkamal-estana-engineered-wood-bedroom-set-brown">
    <div class="col-sm-6">
      <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/collection_banner-01.jpg?v=1652513278"
           alt="marriage1" class="combomarriage">
      <div class="marriagecombototal">
      <p class="marriagemrp"> <span>MRP Rs 200,700.00 </span></p>
      <p class="marriageprice"> <span>Rs. 123,900.00</span></p>
      <a href="https://www.nilkamalfurniture.com/products/nilkamal-estana-engineered-wood-bedroom-set-brown" class="addtocartmarriage">View Product</a>
      </div>
      <p class="marriagecontent">Bed | Wardrode | Dressing Table | Side Table</p>
    </div>
    </a>
    </div>
    
    </div>
  <div class="container section-combo">
  <div class="col-sm-12">
     
 
     <a href="https://www.nilkamalfurniture.com/products/nilkamal-salsa-bedroom-set-brown">
    <div class="col-sm-6">
      <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/collection_banner-03.jpg?v=1652513278"
           alt="marriage1" class="combomarriage">
       <div class="marriagecombototal">
      <p class="marriagemrp"> <span>MRP Rs 201,600.00 </span></p>
      <p class="marriageprice"> <span>Rs. 124,500.00</span></p>
      <a href="https://www.nilkamalfurniture.com/products/nilkamal-salsa-bedroom-set-brown" class="addtocartmarriage">View Product</a>
      </div>
       <p class="marriagecontent">Bed | Wardrode | Dressing Table | Side Table</p>
    </div>
    </a>
</div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

<style>
  .combomarriage{
   max-width: 100%;
  }
  .box-1{
        background-color: #B23889;
        color: #fff !important;
    padding: 1%;
    margin-right: 40px;
  }
  
  p.marriagecontentone {
    text-align: center;
    font-family: emoji;
    font-size: 19px;
}
   .box-2{
        background-color: #B23889;
        color: #fff !important;
    padding: 1%;
   
  }
  .marriagecontent{
    font-size: 17px;
    margin-bottom: 0px;
  }
  .price-box{
        display: flex;
    justify-content: center;
    padding: 2%;
  }
  p.marriagemrp {
    text-decoration: line-through;
    font-size: 12px;
}
  .marriagecombototal{
    display: flex;
    justify-content: space-between;
        margin-bottom: 4px;
  }
  a.addtocartmarriage {
    background-color: #B23889;
    color: #fff;
    padding: 2% 9%;
    font-size: 18px;
}
  p.marriageprice {
    font-weight: bold;
    color: #B23889;
    line-height: 36px;
    font-size: 20px;
    margin-bottom: 0px;
}
  p.marriagemrp {
    text-decoration: line-through;
    font-size: 12px;
    line-height: 10px;
    margin-bottom: 0px;
}
  p.marriageprice span {
    color: #B23889;
}
  .section-combo {
    clear: both;
    margin-bottom: 45px;
}
   @media (max-width:767px){
     .section-combo .col-sm-6 {
    margin-bottom: 25px;
    padding: 0px;
}
     .price-box {
    display: flex;
    justify-content: center;
    padding: 2%;
    margin-bottom: 20px;
}
     .box-1 {
    font-size: 12px;
    background-color: #B23889;
    color: #fff !important;
    padding: 1%;
    margin-right: 21px;
}
     .box-2 {
    font-size: 12px;
    background-color: #B23889;
    color: #fff !important;
    padding: 1%;
   
}
     p.marriagecontentone {
    text-align: center;
    font-family: emoji;
    font-size: 14px;
}
     .marriagecontent {
    font-size: 14px;
    margin-bottom: 0px;
}
     a.addtocartmarriage {
    background-color: #B23889;
    color: #fff;
    padding: 1% 4%;
    font-size: 16px;
    line-height: 32px;
}
     p.marriageprice {
    font-weight: bold;
    color: #B23889;
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 0px;
}
     img.visible-mobile.combomarriage {
    margin-top: 50px;
}
   }
</style>
{% javascript %}
{% endjavascript %}
