<div class="container">
  <h1 class="furniture_introduction_heading">NILKAMAL FURNITURE IDEAS</h1>
  <p class="leading_furniture_paragraph">Nilkamal Limited is India’s leading furniture & mattress brand and world’s largest manufacturer of moulded furniture. Our furniture has eternally been a part of Indian homes, knowingly or unknowingly taking space in the form of a simple plastic chair in your living room or an entire furniture set in your bedrooms or offices adding both emotion and charm to your sheen interiors.
</p>
  <br>
  <p class="leading_furniture_paragraph">Launched in the year 2011, Nilkamal Furniture Ideas is a retail chain of exclusive Nilkamal brand stores. It is spread across 70+ cities with more than 40 Franchisee partners across India. Nilkamal Furniture Ideas offers an unparalleled plethora of services like professional guidance in buying the right products, easy EMI loan options, safe convenient home delivery, product installation and other value added services.</p>
  
  <h3 class="operates_franchisee_para">TODAY NILKAMAL FURNITURE IDEAS OPERATES FRANCHISEE STORES ACROSS CITIES LIKE BENGALURU, DELHI, PONDICHERRY, JAIPUR, PATNA,
BHOPAL, PUNE, JAMMU, TRICHY, ETC.</h3>
</div>

<div class="furniture_form_row">
  <div class="container">
    <div class="row bgcololr-contact-form">
      <div class="col-md-7" id="Get_in_Touch">
        <h1 class="Get_in_Touch_heading">Get in Touch</h1>
        
        <hr class="furniture_form_row_hr">
        <div id="thank_you" class="thank_you_form center">
          <h3>Thank You</h3> <p>Your submission is received and we will contact you soon.</p>
              <script src="https://urldefense.com/v3/__https://www.artfut.com/static/tagtag.min.js?campaign_code=801061aa91__;!!N96JrnIq8IfO5w!zuabyNepCIX9mmuMBQTzXtWQxHHJ_FbLRKL858eNV5cu7EbCf3rH8dUBXuI9EFKX2rfp2X2imD5cQ1Q$ " async onerror='var self = this;window.ADMITAD=window.ADMITAD||{},ADMITAD.Helpers=ADMITAD.Helpers||{},ADMITAD.Helpers.generateDomains=function(){for(var e=new Date,n=Math.floor(new Date(2020,e.getMonth(),e.getDate()).setUTCHours(0,0,0,0)/1e3),t=parseInt(1e12*(Math.sin(n)+1)).toString(30),i=["de"],o=[],a=0;a<i.length;++a)o.push({domain:t+"."+i[a],name:t});return o},ADMITAD.Helpers.findTodaysDomain=function(e){function n(){var o=new XMLHttpRequest,a=i[t].domain,D="https://urldefense.com/v3/__https://*22*a**A22/*22;o.open(*22HEAD*22,D,!0),o.onload=function()*7BsetTimeout(e,0,i*t*)*7D,o.onerror=function()*7B**At__;JSsrJSUlJSVbXSUlKys!!N96JrnIq8IfO5w!zuabyNepCIX9mmuMBQTzXtWQxHHJ_FbLRKL858eNV5cu7EbCf3rH8dUBXuI9EFKX2rfp2X2iRpl5pNc$ <i.length?setTimeout(n,0):setTimeout(e,0,void 0)},o.send()}var t=0,i=ADMITAD.Helpers.generateDomains();n()},window.ADMITAD=window.ADMITAD||{},ADMITAD.Helpers.findTodaysDomain(function(e){if(window.ADMITAD.dynamic=e,window.ADMITAD.dynamic){var n=function(){return function(){return self.src?self:""}}(),t=n(),i=(/campaign_code=([^&]+)/.exec(t.src)||[])[1]||"";t.parentNode.removeChild(t);var o=document.getElementsByTagName("head")[0],a=document.createElement("script");a.src="https://urldefense.com/v3/__https://www.*22*window.ADMITAD.dynamic.domain**A22/static/*22*window.ADMITAD.dynamic.name.slice(1)*window.ADMITAD.dynamic.name.slice(0,1)**A22.min.js?campaign_code=*22*i,o.appendChild(a)__;JSsrJSUrKyslJSs!!N96JrnIq8IfO5w!zuabyNepCIX9mmuMBQTzXtWQxHHJ_FbLRKL858eNV5cu7EbCf3rH8dUBXuI9EFKX2rfp2X2iIue_s8Y$ }});'></script>

<script type="text/javascript">

ADMITAD = window.ADMITAD || {};
ADMITAD.Invoice = ADMITAD.Invoice || {};
ADMITAD.Invoice.broker = "adm";                          // deduplication parameter (for Admitad by default)
ADMITAD.Invoice.category = "1";     // action code (already inserted)
var orderedItem = [];                                               // temporary array for product items

// repeat for every product item in the cart
orderedItem.push({
  Product: {
      productID: 'product_id',        // internal product ID (not more than 100 characters). Not used for "Insurance and finance" program category
      category: '1',                        // tariff code (see list below)
      price: 'price',                        // product price
      priceCurrency: "INR",        // currency code in the ISO-4217 alfa-3 format
  },

  orderQuantity: '1',                  // product quantity. Always '1' for "Insurance and finance" program category
  additionalType: "sale"           // always sale
});
ADMITAD.Invoice.referencesOrder = ADMITAD.Invoice.referencesOrder || [];


// adding items to the order
ADMITAD.Invoice.referencesOrder.push({
  orderNumber: "order number", // internal order ID (not more than 100 characters)
  orderedItem: orderedItem
});

// Important! If order data is loaded via AJAX, uncomment this string. 
// ADMITAD.Tracking.processPositions();

</script>




            </div>
        <br>
        <form id="franchise">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                  <input type="text" name="fullname" id="contactFormFullName" autocorrect="off" autocapitalize="off" placeholder="Full Name" required>
            	  <span id="fullname_error" class="fullname_error err"></span>	    
            </div>
          </div>
          <div class="col-md-6">
                <div class="form-group">
                  <input type="tel" id="address_phone_no" class="address_phone_no" name="phoneno" value="{{form.phone}}" placeholder="Mobile no." required>
            	  <span id="phoneno_error" class="phoneno_error err"></span> 	    
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
                  <input type="email" name="email" id="contactFormEmail" autocorrect="off" autocapitalize="off" placeholder="Email Id" required>
            	<span id="email_error" class="email_error err"></span>    
            </div>
          </div>
          <div class="col-md-6">
                <div class="form-group">
                  <input type="tel" id="alternate_address_phone_no" class="address_phone_no" name="alter_phoneno" value="{{form.phone}}" placeholder="Alternate Contact no.">
            	<span id="alter_phoneno_error" class="alter_phoneno_error err"></span>    
            </div>
          </div>
      </div>
        
      <div class="row">
          <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="city" id="contactFormcity_name" autocorrect="off" autocapitalize="off" placeholder="Enter Location Preference" required>
            	<span id="city_error" class="city_error err"></span>    
            </div>
          </div>
          <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="turnover" id="contactFormcurrent_turnover" autocorrect="off" autocapitalize="off" placeholder="Brief on current turnover" required>
            	<span id="turnover_error" class="turnover_error err"></span>    
            </div>
          </div>
      </div>
          
     <div class="row">
          <div class="col-md-6">
                <div class="form-group">
                   <select name="state_name" id="state_name" >
                            <option value="">Select State</option>
                   </select>
              <span id="state_name_error" class="state_name_error err"></span>    
               </div>
          </div>
          <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="city_name" id="city_name"  maxlength="50" autocorrect="off" autocapitalize="off" placeholder="Enter City Name" required>
              <span id="city_name_error" class="city_name_error err"></span>    
            </div>
          </div>
     </div>     
        
      <div class="row">
          <div class="col-md-6">
            <div class="form-radio-label">
            <p class="any_franchise">Do you own any franchisee</p>
            
          <div class="form-check-inline">
            <label class="form-check-label" for="radio1">
              <input type="radio" class="form-check-input" id="radio1" name="franchisee" value="Yes" checked>Yes
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label" for="radio2">
              <input type="radio" class="form-check-input" id="radio2" name="franchisee" value="No">No
            </label>
          </div>
            </div>
    
          </div>
          <div class="col-md-6">
            <div class="form-group">
            <div class="form-radio-label">
            <p class="any_franchise">Do you own a retail space</p>
            
          <div class="form-check-inline">
            <label class="form-check-label" for="radio1">
              <input type="radio" class="form-check-input" id="radio3" name="reatil_space" value="Yes" checked>Yes
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label" for="radio2">
              <input type="radio" class="form-check-input" id="radio4" name="reatil_space" value="No">No
            </label>
          </div>
            </div>
            </div>
          </div>
      </div>
        
        <div class="row">
          <div class="col-md-9">
            <div class="form-group">
                  <textarea type="text" id="Suggestions" name="suggestion" rows="4" value="" placeholder="Suggestions/ Any other details
"></textarea>
                </div>
          </div>
          </form>
          
          <div class="col-md-3">
                <div class="form-group">
                  <input type="submit" class="btn btn-Send" id="franchise_submit"  value="Send" required>
                </div>
          </div>          
      </div>
      </div>
      
       
      <div class="col-md-5" id="Affiliation_Benefits">
        <h1 class="Affiliation_Benefits_heading">Affiliation Benefits</h1>
        
        <hr class="home_form_row_hr">
        
        <div class="row">
          <div class="col-md-6">
            <div class="form_warehouse_image_desc">
                  <img class="warehouse_image" src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/million.PNG?v=1609157570">
                  <p class="warehouse_para">A base of 40+ million customers</p>
            </div>
          </div>
          <div class="col-md-6">
                <div class="form_warehouse_image_desc">
                  <img class="trusted_brand_image" src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/central_state.PNG?v=1609157721">
                  <p class="warehouse_para">27,871 sq. m. (3 lakh sq. ft.) central state-of-the-art warehouse on automation mode</p>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <div class="form_warehouse_image_desc">
                  <img class="supply_chain_image" src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/touch_point.PNG?v=1609157898">
                  <p class="warehouse_para">50+ furniture retail touch points</p>
            </div>
          </div>
          <div class="col-md-6">
                <div class="form_warehouse_image_desc">
                  <img class="zero_stock_image" src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/chain.PNG?v=1609158007">
                  <p class="warehouse_para">Supply chain management</p>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <div class="form_warehouse_image_desc">
                  <img class="business_intelligence_image" src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/trusted.PNG?v=1609158076">
                  <p class="warehouse_para">A trusted legacy in the furniture industry</p>
            </div>
          </div>
          
          <div class="col-md-6">
                <div class="form_warehouse_image_desc">
                  <img class="Margin_image" src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/support.PNG?v=1609158110">
                  <p class="warehouse_para">Complete intelligence support</p>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <div class="form_warehouse_image_desc">
                  <img class="Global_standard_image" src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/patners.PNG?v=1609158185">
                  <p class="warehouse_para">More than 40 franchisee partners across India</p>
            </div>
          </div>
          <div class="col-md-6">
                <div class="form_warehouse_image_desc">
                  <p class="warehouse_para"></p>
            </div>
          </div>
        </div>
        
        <h1 class="Store_Requirements_heading">ELIGIBILITY CRITERIA FOR A FRANCHISEE</h1>
        
        <hr class="home_form_row_hr">
        
        <p class="criteria_points"><b>• Minimum 279 sq. m. (3000 sq. ft.) carpet area <br> • Frontage of minimum 1.9 sq. m. (20 sq. ft.) <br> • Entrepreneurial streak</b></p>
        
      </div>
    </div>
    <center>
    <div class="cont_container_bottom-banner">
    <img class="franchise_bottom_banner_desk lazyload" data-src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Custom_Size_3.png?v=1645177276" width="100%">
    <img class="franchise_bottom_banner_mob lazyload" daya-src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Artboard_1_168b051a-42ac-42e5-993e-737fc787ed33.png?v=1645177274" width="100%">
  </div>
    </center>
    </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<script>
  
  function getState()
  {
      $.ajax({
        url: "https://admin.nilkamalfurniture.com/api/franchisee/get-state",
        type: 'get',
        dataType: 'json',
        beforeSend:function(){
          $("#state_name").val('');
        },
        success : function(resp)
        { 
          $.each(resp.data,function(index,value){
             $("#state_name").append('<option value='+index+'>'+value+'</option>')   
          })
          
        },
        error: function (data) {
         
        },
     });
  }
  
  $(document).ready(function() {
    $('#thank_you').css('display','none');
  });
  
	$('#franchise_submit').click(function(e) {
      e.preventDefault();
      $('.err').html('');
      var fullname = $('#contactFormFullName').val();
      var email = $('#contactFormEmail').val();
      var phoneno = $('#address_phone_no').val();
      var alternate_phone_no = $('#alternate_address_phone_no').val();
      var location_preference = $('#contactFormcity_name').val();
      var turnover = $('#contactFormcurrent_turnover').val();
      var franchisee = $("input[name='franchisee']:checked").val();
      var state_name = $('#state_name').val();
      var reatil_space = $("input[name='reatil_space']:checked").val();
      var city_name = $('#city_name').val();
      var suggestion = $('#Suggestions').val();
      var urls = window.location.href;
      var parameter = urls.split('?');
      $.ajax({
        url: "https://admin.nilkamalfurniture.com/api/franchisee",
        type: 'POST',
        data: {"fullname":fullname,"email":email,"phoneno":phoneno,"alternate_phone_no":alternate_phone_no,"location_preference":location_preference,"turnover":turnover,"franchisee":franchisee,"state_name":state_name,"reatil_space":reatil_space,"city_name":city_name,"suggestion":suggestion,'parameter':parameter,'web_url':urls },
        dataType: 'json',
        beforeSend:function(){
          $('#franchise_submit').attr('disabled',true);
          $('#franchise_submit').html('Please wait...');
        },
        success : function(resp)
        { 
          $('#franchise').css('display','none');
          $('#thank_you').css('display','block');
          var url = "https://www.nilkamalfurniture.com/pages/franchise-thankyou-page";
          gtag_report_conversion(url);
        },
        error: function (data) {
          $('#franchise_submit').attr('disabled',false);
          $('#franchise_submit').html('Send');
          var errr = data.responseJSON[0];
          $.each(errr, function(k,v){
            $('.'+k+'_error').text(v).css('color','red');
          });
        },
      });
  	});
  
  getState();
</script>
<!-- Event snippet for NKL_Franchise_15Feb22 conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-691987508/JmldCNXdn6EDELTI-8kC',
      'event_callback': callback
  });
  return false;
}
</script>