{% comment %} <section class="blog__modular__section">
<div class="container">
  <h4 class="title left">Similar Blog</h4>
</div>
<div class="container blog__section__container__modular">
  <div class="blog__section__modular__items">
  <div class="swiper mySwiperModularBlog">
    <div class="swiper-wrapper swiper-wrapper-modular">
      <div class="swiper-slide swiper-slide-modular">
        <div class="swiper__modula__img">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/image_15_3f2751df-cd3d-4e4f-9c6a-1c9af7e61e7a.png?v=1677751583" alt="">
        </div>
        <div class="swiper__modula__content">
          <span class="swiper__modula__content__heading">Top 12 reasons you need to give your spine the proper support</span>
          <span class="swiper__modula__content__para">
            Guest rooms are very important to our culture. We reside in a country where we treat our guests as gods; we cannot let such people live in unacceptable conditions in such a culture. This means that such a bedroom should be at least equipped with aqueen-size bed and enough amenities so that a person can live there for about 10-15 days.
          </span>
          <a href="" class="swiper__modula__content__button">Read Full Article</a>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-modular">
        <div class="swiper__modula__img">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/image_15_3f2751df-cd3d-4e4f-9c6a-1c9af7e61e7a.png?v=1677751583" alt="">
        </div>
        <div class="swiper__modula__content">
          <span class="swiper__modula__content__heading">Top 12 reasons you need to give your spine the proper support</span>
          <span class="swiper__modula__content__para">
            Guest rooms are very important to our culture. We reside in a country where we treat our guests as gods; we cannot let such people live in unacceptable conditions in such a culture. This means that such a bedroom should be at least equipped with aqueen-size bed and enough amenities so that a person can live there for about 10-15 days.
          </span>
          <a href="" class="swiper__modula__content__button">Read Full Article</a>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-modular">
        <div class="swiper__modula__img">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/image_15_3f2751df-cd3d-4e4f-9c6a-1c9af7e61e7a.png?v=1677751583" alt="">
        </div>
        <div class="swiper__modula__content">
          <span class="swiper__modula__content__heading">Top 12 reasons you need to give your spine the proper support</span>
          <span class="swiper__modula__content__para">
            Guest rooms are very important to our culture. We reside in a country where we treat our guests as gods; we cannot let such people live in unacceptable conditions in such a culture. This means that such a bedroom should be at least equipped with aqueen-size bed and enough amenities so that a person can live there for about 10-15 days.
          </span>
          <a href="" class="swiper__modula__content__button">Read Full Article</a>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-modular">
        <div class="swiper__modula__img">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/image_15_3f2751df-cd3d-4e4f-9c6a-1c9af7e61e7a.png?v=1677751583" alt="">
        </div>
        <div class="swiper__modula__content">
          <span class="swiper__modula__content__heading">Top 12 reasons you need to give your spine the proper support</span>
          <span class="swiper__modula__content__para">
            Guest rooms are very important to our culture. We reside in a country where we treat our guests as gods; we cannot let such people live in unacceptable conditions in such a culture. This means that such a bedroom should be at least equipped with aqueen-size bed and enough amenities so that a person can live there for about 10-15 days.
          </span>
          <a href="" class="swiper__modula__content__button">Read Full Article</a>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper_button_blog">
      <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Vector_2.svg?v=1677928099" alt="">
    </div>
    <div class="swiper-button-prev swiper_button_blog">
      <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/svgviewer-output_2.svg?v=1677928099" alt="">
    </div>
  </div>
</div>
</div>
</section>
<script>
  var swiper = new Swiper(".mySwiperModularBlog", {
      slidesPerView: 1,
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
      },
    });
</script> {% endcomment %}