<style>
  .term_div {
    padding: 2% 1% 5%;
    margin: auto;
    width: 60%;
    user-select: none;
  }

  .term_div table {
    width: 70%;
    max-width: 900px;
    background-color: #fff;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #525050;
    border-style: solid;
    color: #000;
    text-align: center;
  }

  span.d_flex.heading_div.warranty_registration_title {
    width: 100% !important;
    align-items: flex-start;
  }

  .term_div li {
    list-style-type: decimal;
    display: list-item;
    font-size: 18px;
        line-height: 1.6;
  }

  .term_div ol {
    padding-left: 40px;
    padding-top: 0px;
  }

  .term_div span {
    font-size: 18px;
    /*padding: 15px 0; */
    display: flex;
    align-items: flex-start;
  }

  .warranty_registration_note {
    font-size: calc(16px + (20 - 16) * ((100vw - 280px) / (1600 - 280))) !important;
    font-weight: 600 !important;
  }

  .term_div .tAndCTable .tg {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .cell-data {
    border-color: #525050;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    text-align: center;
    vertical-align: middle;
    word-break: normal;
  }

  .cell-head {
    border-color: #525050;
    border-style: solid;
    border-width: 1px;
    font-size: 17px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
  }

  .cell-head-col {
    border-width: 1px;
    border-color: #525050;
    font-size: 14px;
    padding: 10px !important;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
  }

  @media (max-width: 798px) {
    .term_div {
      padding: 26% 3% 5%;
      margin: auto;
      width: 100%;
    }

    .term_div table {
      width: 100%;
    }

    .term_div li {
      font-size: 13px;
    }

    .cell-data {
      font-size: 12px;
      padding: 5px 5px !important;
    }

    .term_div span {
      font-size: 15px;
      padding: 10px 0;
      display: flex;
      align-items: flex-start;
    }
  }

  h2.featured-collections--heading.heading_text {
    font-weight: bold;
}
  span.note_reg {
    margin-bottom: 30px;
}
</style>
<div class="term_div">

  <h2 class="featured-collections--heading heading_text" data-item="section-heading">WARRANTY TERMS:</h2>
  <ol>
    <li>Nilkamal mattresses are warranted for one year from the purchase date against material or manufacturing defects
      and are replaced only after inspection.</li>
    <li>The rebate on the MRP at the time of warranty claim is applicable as tabulated below: <br />
      <br />
      <table class="tAndCTable">
        <colgroup>
          <col style="width: 40%">
          <col style="width: 60%">
        </colgroup>
        <thead>
          <tr>
            <th class="cell-head" colspan="2">Nilkamal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cell-head-col" rowspan="1">1 Year Warranty</td>
            <td class="cell-data">1 Year Free Replacement</td>
          </tr>
          <tr>
            <td class="cell-head-col" rowspan="2">2 Years Warranty</td>
            <td class="cell-data">1 year Free Replacement</td>
          </tr>
          <tr>
            <td class="cell-data">1-2 Years 30% Rebate on MRP</td>
          </tr>
          <tr>
            <td class="cell-head-col" rowspan="4">5 Years Warranty</td>
            <td class="cell-data">2 Years Free Replacement</td>
          </tr>
          <tr>
            <td class="cell-data">2-3 Years 40% Rebate on MRP</td>
          </tr>
          <tr>
            <td class="cell-data">3-4 Years 30% Rebate on MRP</td>
          </tr>
          <tr>
            <td class="cell-data">4-5 Years 20% Rebate on MRP</td>
          </tr>
          <tr>
            <td class="cell-head-col" rowspan="6">7 Years Warranty</td>
            <td class="cell-data">2 Years Free Replacement</td>
          </tr>
          <tr>
            <td class="cell-data">2-3 Years 60% Rebate on MRP</td>
          </tr>
          <tr>
            <td class="cell-data">3-4 Years 40% Rebate on MRP</td>
          </tr>
          <tr>
            <td class="cell-data">4-5 Years 30% Rebate on MRP</td>
          </tr>
          <tr>
            <td class="cell-data">5-6 Years 20% Rebate on MRP</td>
          </tr>
          <tr>
            <td class="cell-data">6-7 Years 10% Rebate on MRP</td>
          </tr>
          <tr>
            <td class="cell-head-col" rowspan="6">10 Years Warranty</td>
            <td class="cell-data">1 year Free Replacement</td>
          </tr>
          <tr>
            <td class="cell-data">1-2 Years 80% Rebate on MRP</td>
          </tr>
          <tr>
            <td class="cell-data">2-4 Years 60% Rebate on MRP</td>
          </tr>
          <tr>
            <td class="cell-data">4-6 Years 40% Rebate on MRP</td>
          </tr>
          <tr>
            <td class="cell-data">6-8 Years 20% Rebate on MRP</td>
          </tr>
          <tr>
            <td class="cell-data">8-10 Years 10% Rebate on MRP</td>
          </tr>
        </tbody>
      </table>
      <br />
    </li>
    <li>The Warranty Card must be duly filled, stamped, and signed by the authorized Nilkamal dealer at the time of sale
      to the customer.</li>
    <li>The Warranty Card and relevant cash memo must be preserved and produced along with the product in case of a
      complaint.</li>
    <li>If one of your mattress pairs sags, only the sagged mattress is replaced.</li>
    <li>The rebate is calculated based on the MRP at the time of exchange.</li>
    <li>If your mattress variant is discontinued, you will be given a new mattress in the same price range as the
      original mattress.</li>
  </ol>

  <h2 class="featured-collections--heading heading_text" data-item="section-heading">CARE INSTRUCTIONS:</h2>
  <ol>
    <li>Take good care of your mattress.</li>
    <li>Turn your mattress from head to foot once a month for even usage and to avoid permanent body impressions.</li>
    <li>Do not bend, fold, or roll the mattress to avoid weakening the bonding and sagging.</li>
    <li>Sitting on the mattress or keeping heavy objects on its edges may ruin its shape.</li>
    <li>Avoid getting your mattress wet. Allow it to dry if it gets wet, but stain marks on the fabric will be
      permanent.</li>
    <li>We strongly advise a wet protective sheet when you use the mattress with children.</li>
    <li>Do not light a match or smoke near the mattress because the mattress material is flammable.</li>
    <li>Only place the mattress on a flat and firm surface.</li>
    <li>Do not pull the loose threads. Cut them with scissors.</li>
    <li>Do not remove the brand label for warranty purposes.</li>
    <li>It is normal for the mattress to smell after PVC removal. The smell goes away with proper ventilation.</li>
    <li>Do not jump or walk on the mattress.</li>
    <li>The tolerance on length or width is +/-12 mm.</li>
    <li>Flip reversible mattresses from top to bottom regularly.</li>
    <li>The mattress must fit the length and width of the bed. Improper installation may cause damage.</li>
    <li>Do not iron clothes on the mattress.</li>
  </ol>
  <span class="note_reg">
    <p class="common_heading warranty_registration_note">NOTE:&nbsp; </p> When the mattress conforms to your body shape,
    you may notice a slight mattress depression; this is called "Body Impression Marks," and it does not affect your
    comfort levels.
  </span>

  <h2 class="featured-collections--heading heading_text" data-item="section-heading">THE WARRANTY DOES NOT COVER:</h2>
  <ol>
    <li>Fabric damages, including tears, stains, soiling, burns, and colour fading.</li>
    <li>Damages caused by accidents, mishandling, heat, and incorrect usage.</li>
    <li>Mattresses that have previously been repaired or replaced.</li>
    <li>Body depression and indentation of fewer than 1.5 inches.</li>
    <li>Transportation cost.</li>
    <li>Stitches opening after 15 days of mattress purchase, even for tape-edge and quilting.</li>
    <li>Sagging or damage to mattresses caused by incorrect bed sizes and conditions, uneven resting surfaces, or
      improper bed structure.</li>
    <li>Preferences in comfort level (hardness or softness)</li>
    <li>Normal mattress wear and tear caused by usage, including the quilt stretching or loosening.</li>
    <li>Nilkamal will not be liable for any consequential damages, and under no circumstances will its liability exceed
      the price of the defective goods.</li>
    <li>The Company's decision on the nature of the defects and the applicability of the warrant is final.</li>
    <li>Warranty terms are subject to change without prior notice.</li>
    <li>Disputes regarding the warranty, if any, are subject to the jurisdiction of Mumbai.</li>
    </ul>
</div>
