@import url('https://fonts.googleapis.com/css?family=Hind:300,400');
.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  color: #6a6a6a;
  letter-spacing: 1.2px;
  text-decoration: none;
  text-transform: initial!important;
  font-weight: 600;
  line-height: 1.2;
}
.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  /*color: #01AFEF;*/
}
.accordion a.active {
  font-weight: 800;
}
.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #333;
  padding: 3px 5px 5px 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #333;
}

.accordion .content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  padding-right: 70px !important;
    font-size: 0.8rem !important;
	    margin: 0 0;
}

.accordion .content.active {
  opacity: 1;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

.faq-menu {
    border-right: 1px solid #ababab;
}
.accordion .content.active p {
    margin-bottom: 5px;
}
.accordion .content p {
    font-size: 14px;
    color: #424244;
    line-height: 24px;
    letter-spacing: 1.2px;
}

.faqs-page .accordion {
    max-width: 1155px;
    margin: 0 auto 15px;
}
.accordion-item .content {
    padding: 14px 0px 15px 0;
}
.nav-pills > li .faq-show.active, .nav-pills > li .faq-show:hover {
    color: #01AFEF;
    cursor: pointer;
}

.drop-down.w-100 {
    display: none;
}
.d-none {
    display: none;
}
.nav-pills > li {
    padding: 4px 3px;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 6px;
}
ul.nav.nav-pills.nav-stacked {
    padding-left: 18px;
}
ul.nav.nav-pills.nav-stacked li {
    list-style-type: none;
}
.row.col-12.col-md-9.mx-auto {
    margin: 0 147px !important;
}
.accordion-item a {
    padding: 0 90px 0 0 !important;
}
.nav-pills > li .faq-show {
    color: #6a6a6a;
    font-weight: 600;
    letter-spacing: 1px;
}
#accordionfaq {
    padding: 18px 0 18px 18px;
}

.search-wrap {
    position: relative;
    top: 0px;
    background: #fff;
    border: 1px solid #eee;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    z-index: 99;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-bottom: 40px;
}
.search-input {
    width: 100%;
    display: flex;
    justify-content: center;
}
input.faq-search-bar {
    width: 100%;
    border-radius: 5px;
    padding: 8px 0!important;
    background-color: #f9f9f9;
    border: none!important;
    text-align: center;
    font-size: 17px !important;
}
.input-addon {
    position: absolute;
    right: 0;
    top: 15px;
    right: 20px;
    font-size: 1.5rem;
    color: #ababab;
}
.fa-search:before {
    content: "\f002";
}
input.faq-search-bar:focus {
        outline: none;
    }
input.faq-search-bar {
    margin-bottom: 0px;
}
.accordionsearchbar {
    padding: 0px !important;
    margin-bottom: 0px;
}
.search-wrap.active {
    box-shadow: 0px 5px 13px 0px #eee;
    bottom: -80px;
}
.search-wrap.active .panel-group.faq.accordion {
    padding: 0 0px 0 19px!important;
    margin-bottom: -14px;
}
.search-wrap.active .search-results {
    padding: 16px 0 5px 0;
}
.accordionsearchbar .content.active {
    margin: -3px 0 14px 0;
}
.ion-search:before {
    font-size: 29px;
}
.store_link::after {
	display:none;
}
.faq-menu span img {
    width: 40px;
    height: 40px;
    margin-top: -7px !important;
}
.faq-menu span {
    display: inline-flex;
    padding-right: 10px;
}

.drop-down__button {
    /* background: linear-gradient(to right,#3d6def, #8FADFE); */
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    padding: 0 18px;
    text-align: left;
    border-radius: 4px;
    /* box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 20%); */
    cursor: pointer;
}
.drop-down__name {
    text-transform: initial;
    color: #01afef;
    font-weight: 600;
    letter-spacing: 2px;
}
.fa-angle-down:before {
    content: "\f107";
}
.drop-down__menu-box {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 20%);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    margin-top: 5px;
}
.drop-down__menu-box:before {
    content: '';
    background-color: transparent;
    border-right: 8px solid transparent;
    position: absolute;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-top: 8px solid transparent;
    top: -15px;
    right: 18px;
}
.drop-down--active .drop-down__menu-box {
    visibility: visible;
    opacity: 1;
    margin-top: 15px;
    z-index: 1;
}
.drop-down__menu {
    margin: 0;
    padding: 0 13px;
    list-style: none;
}

.drop-down__item {
    font-size: 13px;
    padding: 13px 0;
    text-align: left;
    font-weight: 500;
    color: #6a6a6a;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #e0e2e9;
}
.ion-android-arrow-down:before {
    content: "\f3d0"!important;
    font-weight: 900 !important;
    font-size: 19px;
    line-height: 1 !important;
}
.w-100 {
    width: 100%;
}
@media screen and (max-width:568px) {
.row.col-12.col-md-9.mx-auto {
    margin: 0 0!important;
}
ul.nav.nav-pills.nav-stacked {
    display: none;
}
.drop-down.w-100 {
    display: block;
}
  .faq-menu {
    border-right: none !important;
    padding-bottom: 25px !important;
    padding: 0px;
}
  #accordionfaq {
    padding: unset;
}
  .accordion a:after {
    width: unset;
  }
  .faq-menu span img {
    width: 40px;
    height: 40px;
    margin-top: unset;
}
  .faq-menu span {
    display: inline-flex;
    padding-right: 10px;
    float: left;
}
  .accordionsearchbar .content.active {
    padding: 0 90px 0 0!important;
}
}
