<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  .container_error {
    text-align: center;
    margin-top: 50px;
}
  .container_error_btn {
    text-align: center;
    margin-top: -114px;
}
  button.btn_btn-error {
    background: #fff;
    color: #000;
    border-radius: 25px 0px;
    font-size: 16px;
    padding: 25px 30px;
}
  .container_error h1 {
    font-weight: bold;
    color: #000;
    text-decoration: line-through;
    text-decoration-color: #DC6B3A;
}
  .container_error h3 {
    text-transform: none;
    font-weight: 500;
    color: #000;
}
  div#Footer_readmore {
    padding-top: 30px;
    padding-bottom: 0px;
}
  
  @media only screen and (max-width: 600px) {
  .container_error {
    margin-top: 50%;
}
    img.error_img_1 {
    width: 100%;
}
    img.error_img_2 {
    width: 100%;
}
 .container_error_btn {
    margin-top: -90px;
}   
 .main.content {
    min-height: 365px;
}
}
</style>
<div class="container_error">
<img class="error_img_1 lazyload" data-src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/error_1_ae2e6966-7291-48da-9116-1b614d2982fa.png?v=1640671120">
<h1>Oopps....page not found</h1>
<h3>We suggest you go to homepage while we are fixing the problem</h3>
<img class="error_img_2 lazyload" data-src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/error_2_66d25fc3-2a80-48d3-8fb1-c4b354dbbdcd.png?v=1640671120">
</div>
<div class="container_error_btn">
<a href="https://www.nilkamalfurniture.com/"><button class="btn_btn-error"><i class="fa fa-arrow-left" style="font-size:22px; margin-right: 14px;"></i> Back to homepage</button></a>
</div>
