<a name="pagecontent" id="pagecontent"></a>
<div class="index-sections clearfix">
  {{ content_for_index }}
</div>

<!-- ======== Nilkamal- Affiliate Retag Codes ======== -->

<!-- ======== Level 1. Main page start ======== -->
<script type="text/javascript">
    window._retag = window._retag || [];
    window._retag.push({code: "9ce8884b33", level: 0});
    (function () {
        var id = "admitad-retag";
        if (document.getElementById(id)) {return;}
        var s = document.createElement("script");
        s.async = true; s.id = id;
        var r = (new Date).getDate();
        s.src = (document.location.protocol == "https:" ? "https:" : "http:") + "//cdn.lenmit.com/static/js/retag.js?r="+r;
        var a = document.getElementsByTagName("script")[0]
        a.parentNode.insertBefore(s, a);
    })()
</script>
<!-- ======== Level 1. Main page end ======== -->
