<a name="pagecontent" id="pagecontent"></a>

<div class="delhi container">
  <div>
    <center><h1>Delhi Store Details</h1></center>
    <div class="store_details">
      <p><span>Store: </span>&ensp;Space Solutions</p>
      <p><span>Store Address: </span>&ensp;2/73, Main road, Timber Market, 2 WHS, Kirti Nagar, New Delhi - 110015</p>
      <p><span>Store Contact Number: </span>&ensp;<a href="tel:9999678915">9999678915</a> / <a href="tel:9315932634">9315932634</a></p>
      <p><span>Store Email Id: </span>&ensp;<a href="mailto:nilkamalfurnitureideas.delhi@gmail.com">nilkamalfurnitureideas.delhi@gmail.com</a></p>
    </div>
    <a href="/pages/store-locator" class="action_button btn">View All Stores</a>
  </div>
</div>
<style>
  .delhi.container {
    max-width: 850px;
  }
  .delhi.container h1 {
  	margin-top: 20px;
  }
  .delhi .store_details {
    padding: 30px 0;
    font-size: 16px;
  }
  .delhi .store_details a {
  	color:#0093dd;
  }
  .delhi .store_details span {
	font-weight: bold;
  }
  @media (max-width: 501px) {
    .delhi.action-button { margin-bottom: 30px; }
  }
</style>