<style>
  .trade_term_div {
    padding: 2% 1% 5%;
    margin: auto;
    width: 60%;
    user-select: none;
  }
  h2.trade_terms_heading {
    font-weight: bold;
  }
  .trade_term_div li {
    font-size: 18px;
    line-height: 1.6;
  }

</style>

<div class="trade_term_div">
  <h2 class="trade_terms_heading">Warranty Terms:</h2>
  <ul>
    <li>Warranty for Nilkamal products shall be applicable for one year from the date of invoice. Warranty Covers only manufacturing defects.
    </li>
    <li>Customer need to do Online warranty registration on the purchase of Product/delivery/Invoice of the product. only online registration for warranty is eligible.</li>
    <li>To avail warranty service, customer needs to upload relevant invoice and fill online warranty card.</li>
    <li>Nilkamal reserves all rights to examine & determine manufacturing defects in the products. In-case of manufacturing defect is confirmed, then Nilkamal may repair or replace the defective product as per its sole discretion. However, repair or replacement shall be subject to availability of the spares of the products post customers acknowledgement with regards to turnaround time for resolution (due to non-availability of spare parts, rectification slots of the workers, carpenters etc.) Customer acknowledges that during replacement / repair, texture and appearance of the spare parts may vary based on product model.
    </li>
  </ul>

  <h2 class="trade_terms_heading">Warranty does not apply for:</h2>
  <ul>
    <li>Products prone to deterioration due to natural tendency i.e. foam/polyfill beans.</li>
    <li>normal wear and tear, misuse, damages happened due to physical accidents or worn outs.</li>
    <li>Poor installation done by customer not following assembly manual instructions.</li>
    <li>Improper or wrong handling of the product.
    </li>
    <li>Damages happened due to transportation by customer from after delivery/assembly by Nilkamal Limited.
    </li>
    <li>Breakage of glass the product.
    </li>
    <li>Pest, termite & fungus infestation to furniture.</li>
    <li>Modifications made to the product.</li>
    <li>Products subjected to humid conditions or exposed to direct sunlight.
    </li>
    <li>Rusting and fading due to non-maintenance.
    </li>
    <li>NILKAMAL SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL LOSS OR DAMAGES AND NILKAMAL'S MAXIMUM LIABILITY FOR ANY DAMAGE OR LOSS ARISING OUT OF OR RELATED TO THE USE OF THE PRODUCT OR OTHERWISE SHALL BE LIMITED TO THE COST OF PRODUCT EXCLUDING GST. NILKAMAL WILL NOT BE RESPONSIBLE FOR ANY LOSS, DAMAGE OR INJURY CAUSED TO CUSTOMER OR ANY OTHER ENTITY DIRECTLY/INDIRECTLY DUE TO USAGE/ASSEMBLY OF THE PRODUCT</li>
    <li>Verbal communication made by any employees or authorize Sales partner for Nilkamal products or warranty conditions.
    </li>
    <li>Nilkamal will not be responsible for any loss, damage or injury caused to customer or any other entity directly/indirectly due to usage/assembly of the product.
    </li>
    <li>Subject to jurisdiction of the courts at Silvassa (Union Territory of Dadra Nagar & Haveli).</li>
    <li>Contact Customer care no.:
      <a href="tel:1800%201219%20115">
        <u>1800 121 9115</u>
      </a>
    </li>
    <li>Customer care e-mail.:
      <a href="furniture.enquiry@nilkamal.com">
        <u>furniture.enquiry@nilkamal.com</u>
      </a>
    </li>
  </ul>
</div>