<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns page clearfix">
  <h1 align="center">
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

  <div class="serve_from">
    {% include 'hc_serve_form' %}
   </div>
</div>
