{% comment %} <a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns page clearfix">
<h1 align="center">
{{ page.title }}
</h1>
<div class="feature_divider"></div>

<div>
{% include 'page-multi-column', content: page.content %}
</div>
</div> {% endcomment %}

{% if page.handle contains 'franchise' %}
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% endif %}


<!-- banner section start here  -->
<section class="franchise_banner" id="home">
  <img class="deskfran_banner" src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/stock-photo-modern-design-interior-scandinavian-furniture-d-illustration-yellow-armchair-1717326919_1.png?v=1672141943" width="100%" height="100%">
  <div class="banner_content">
    <span class="banner_top__heading">Let's succeed together!</span>
    <span class="banner_heading">Become a member of the
      <span>Nilkamal Furniture</span>
      franchisee family.</span>
    <div class="banner_border"></div>
    <div class="banner__icon">
      <div class="banner_icon_box">
        <div class="banner_icon_img">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/texture-box_1.svg?v=1672142800" alt="">
        </div>
        <div class="banner_icon_con">
          <span>
            <strong>Initial Investment</strong>
            of Rs 60 Lakhs for 5000 sq.ft.</span>
        </div>
      </div>
      <div class="banner_icon_box">
        <div class="banner_icon_img">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Frame_38.svg?v=1672142799" alt="">
        </div>
        <div class="banner_icon_con">
          <span>
            All-around
            <strong>sales and delivery</strong>
            support</span>
        </div>
      </div>
      <div class="banner_icon_box">
        <div class="banner_icon_img">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Frame_37.svg?v=1672142800" alt="">
        </div>
        <div class="banner_icon_con">
          <span>
            <strong>35% Average</strong>
            Return on Investment (ROl) in 3 years</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner section End here  -->
<!--     main container start here  -->
<section class="franchise_container container__custom" id="home">
  <main class="main_container">
    <section class="left">
      <div class="about">
        <div class="about__heading__box">
          <span class="about__heading">About</span>
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Nilkamal_Furniture_Logo_png.jpg?v=1672316405" alt="">
        </div>
        <div class="about__desc">
          <p>Nilkamal, India's most trusted brand in furniture, has been a part of Indian homes for more than 3 decades. It has been an undisputed world leader in moulded plastic furniture. With a total of 15 factories across India, Nilkamal opened its doors to welcome partners from all over India and take this legacy ahead with Nilkamal Furniture Ideas. 
            Launched in the year 2011, Nilkamal Furniture Ideas is a retail chain of exclusive Nilkamal brand stores. It is spread across 70+ cities with more than 80 Franchisee partners across India. Nilkamal Furniture Ideas offers a complete range of home furniture, office furniture, and mattresses to our partners with an unparalleled plethora of services like professional guidance in buying the right products, easy EMI loan options, safe convenient home delivery, product installation, and other value-added services. Explore franchise opportunities with India's favourite furniture brand and be a part of the Nilkamal Family.</p>
        </div>
      </div>
      <div class="why__section">
        <div class="why__heading">
          <span class="custom_heading">Why become a Nilkamal Furniture Ideas Franchisee?</span>
        </div>
        <div class="why__box">
          <div class="why__boxitem">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Group_852.svg?v=1672165520" alt="">
            <p>See Profit from
              <strong>year 1</strong>
            </p>
          </div>
          <div class="why__boxitem">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Group_853.svg?v=1672165704" alt="">
            <p>
              <strong>Brand Support</strong>
              on Execution</p>
          </div>
          <div class="why__boxitem">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Group_854.svg?v=1672165832" alt="">
            <p>Industry
              <strong>lowest fit-out</strong>
              cost</p>
          </div>
          <div class="why__boxitem">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Group_855.svg?v=1672165907" alt="">
            <p>Payback in
              <strong>less than 30 months</strong>
            </p>
          </div>
        </div>
      </div>
      <div class="affiliate">
        <div class="aff__heading">
          <span class="custom_heading">Affiliate Benefits</span>
        </div>
        <div class="aff__box__container">
          <div class="aff__box">
            <div class="aff__boxitem">
              <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Group_850.svg?v=1672167493" alt="">
              <p>
                Complete
                <strong>marketing support</strong>
              </p>
            </div>
            <div class="aff__boxitem">
              <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Group_851.svg?v=1672167566" alt="">
              <p>
                High quality
                <strong>trend setting</strong>
                products</p>
            </div>
          </div>
          <div class="aff__box aff__box1 ">
            <div class="aff__boxitem">
              <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/seatbelt_1.svg?v=1672167647" alt="">
              <p>
                Free Training and
                <strong>mentoring</strong>
              </p>
            </div>
            <div class="aff__boxitem">
              <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/chart-areaspline_1.svg?v=1672167688" alt="">
              <p>
                <strong>35% Average</strong>
                Return on Investment (ROl) in 3 years.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="franchisee">
        <div class="franch_heading">
          <span class="custom_heading">Franchisee Eligibility</span>
        </div>
        <div class="franch_box_container">
          <div class="franch_box_right">
            <div class="franch__box_item">
              <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Frame_37_f3bd79be-670d-4c19-86a0-48755b34b3d8.svg?v=1672168095" alt="">
              <ul class="ul_list">
                <li class="franch_list">
                  <strong>Initial Investment:</strong><br>
                  Rs 60 Lakhs for 5000 sq.ft</li>
                <li class="franch_list">
                  <strong>Franchisee Fee:</strong><br>
                  Zero Franchisee fee valid only till 31st October</li>
              </ul>
            </div>
          </div>
          <div class="franch_box_left">
            <div class="franch_boxitem">
              <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/texture-box_1_16d20b27-8ca2-48ef-a7bb-fa08768cdf0b.svg?v=1672168214" alt="">
              <p>Minimum 5000 sq. ft. carpet area</p>
            </div>
            <div class="franch_boxitem">
              <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/storefront_1.svg?v=1672168261" alt="">
              <p>A minimum frontage of 40 ft or more is required.</p>
            </div>
            <div class="franch_boxitem">
              <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/account-tie_1.svg?v=1672168376" alt="">
              <p>Entrepreneurial Streak</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="right_form_fran_heading" id="formtotop">
      <div class="right_form_container">
        <div class="right_form_fran">
          <span class="right_form_fran_heading">Register for the Nilkamal franchisee</span>
          <form id="franchise" class="new_form_fran">
            <div class="fran_row">
              <div class="fran_col floating-label-group">
                <input
                  type="text"
                  name="fullname"
                  id="contactFormFullName"
                  autocorrect="off"
                  autocapitalize="off"
                  required>
                <label class="floating-label">Full Name<span>*</span>
                </label>
                <span id="fullname_error" class="fullname_error err"></span>
              </div>
              <div class="fran_col floating-label-group">
                <input
                  type="number"
                  id="address_phone_no"
                  class="address_phone_no"
                  name="phoneno"
                  value="{{form.phone}}"
                  required>
                <label class="floating-label">Mobile No<span>*</span>
                </label>
                <span id="phoneno_error" class="phoneno_error err"></span>
              </div>
            </div>
            <div class="fran_row">
              <div class="fran_col floating-label-group">
                <input
                  type="text"
                  name="alter_phoneno"
                  pattern="[0-9]{10}"
                  id="alternate_address_phone_no"
                  class="address_phone_no"
                  autocorrect="off"
                  autocapitalize="off"
                  required>
                <label class="floating-label">Alternate Number
                </label>
                <span id="alter_phoneno_error" class="alternate_phone_no_error err"></span>
              </div>
              <div class="fran_col floating-label-group">
                <input
                  type="email"
                  name="email"
                  id="contactFormEmail"
                  autocorrect="off"
                  autocapitalize="off"
                  required>
                <label class="floating-label">Email Id<span>*</span>
                </label>
                <span id="email_error" class="email_error err"></span>
              </div>

            </div>
            <div class="fran_row">
              <div class="fran_col floating-label-group">
                <select name="state_name" id="state_name">
                  <option value="">Select State</option>
                </select>
                <span id="state_name_error" class="state_name_error err"></span>
              </div>
              <div class="fran_col floating-label-group">
                <input
                  type="text"
                  name="city_name"
                  id="city_name"
                  maxlength="50"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="off"
                  required>
                <label class="floating-label">City Name<span>*</span>
                </label>
                <span id="city_name_error" class="city_name_error err"></span>
                <ul class="city_sugg"></ul>
              </div>
            </div>
            <div class="fran_row">
              <div class="fran_col floating-label-group">
                <select
                  name="preferred_time_for_discussion"
                  id="preferred_time_for_discussion"
                  required>
                  <option value="Preferred time for discussion">Preferred time for discussion*</option>
                  <option value="Morning">Morning</option>
                  <option value="Afternoon">Afternoon</option>
                  <option value="Evening">Evening</option>
                </select>
              </div>
              <div class="fran_col floating-label-group">
                <input
                  type="text"
                  name="city"
                  id="contactFormcity_name"
                  autocorrect="off"
                  autocapitalize="off"
                  required>
                <label class="floating-label">Location Preference<span>*</span>
                </label>
              </div>

            </div>
            <div class="fran_row">
              <div class="fran_col form_col_rad ">
                <div class="fran_col_head">
                  <p>Do you own any franchisee</p>
                </div>
                <div class="fran_input">
                  <label class="form-check-label" for="radio1">
                    <input
                      type="radio"
                      class="form-check-input form__input_wid"
                      id="radio1"
                      name="franchisee"
                      onclick="radioEnable1()"
                      value="Yes"><span class="form_span">Yes</span>
                  </label>
                  <label class="form-check-label" for="radio2">
                    <input
                      type="radio"
                      class="form-check-input radio__input__disable1 form__input_wid"
                      id="radio2"
                      onclick="radioDisable1()"
                      name="franchisee"
                      value="No"
                      checked><span class="form_span">No</span>
                  </label>
                </div>
              </div>
              <div class="fran_col form_col_rad">
                <div class="fran_col_head">
                  <p>Do you own a retail space</p>
                </div>
                <div class="fran_input">
                  <label class="form-check-label" for="radio1">
                    <input
                      type="radio"
                      class="form-check-input form__input_wid"
                      id="radio3"
                      onclick="radioEnable2()"
                      name="reatil_space"
                      value="Yes"><span class="form_span">Yes</span>
                  </label>
                  <label class="form-check-label" for="radio2">
                    <input
                      type="radio"
                      class="form-check-input radio__input__disable2 form__input_wid"
                      id="radio4"
                      onclick="radioDisable2()"
                      checked
                      name="reatil_space"
                      value="No"><span class="form_span">No</span>
                  </label>
                </div>
              </div>

            </div>
            <div class="fran_row">
              <div class="fran_col floating-label-group">
                <select
                  name="property_availability"
                  id="property_availability"
                  disabled
                  required>
                  <option value="">Property Availability</option>
                  <option value="Available">Available</option>
                  <option value="Shortisted">Shortisted</option>
                  <option value="Will Search">Will Search</option>
                </select>

              </div>
              <div class="fran_col floating-label-group">
                <select
                  name="area_of_property_available"
                  id="area_of_property_available"
                  disabled
                  required>
                  <option value="">Area of property available</option>
                  <option value="Less than 5000 sq.ft.">Less than 5000 sq.ft.</option>
                  <option value="5000-7000 sq.ft.">5000-7000 sq.ft.</option>
                  <option value="above 7000 sq.ft.">above 7000 sq.ft.</option>
                </select>

              </div>
            </div>
            <div class="fran_row_full">
              <input
                type="submit"
                class="btn btn-Send"
                id="franchise_submit"
                value="Send Enquiry"
                required>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
</section>
<section class="storelocator">
  <div class="container__custom">
    <div class="tab">
      <span class="storebutton storebutton1 buttonActive" id="tab1">Warehouses</span>
      <span class="storebutton storebutton2" id="tab2">Store Locations</span>
    </div>
    <div id="warehouse" class="warehouse">
      <div class="warehouse_box">
        <div class="side_box">
          <span class="warehouse_heading">Made in India for India</span>
          <li>1 million sq ft of manufacturing facilities</li>
          <li>10 locations all around India</li>
          <li>ISO 9001/2008 Certified</li>
          <li>Practicing 6 sigma</li>
          <li>400+ techno-commercial experts</li>
          <li>39 regional offices</li>
          <li>71 warehouses</li>
          <li>1,100 distributors</li>
          <li>18,000 retailers</li>
        </div>
        <div class="side_box2">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Group_842.svg?v=1671705539" alt="">
        </div>
      </div>
    </div>

    <div id="storelocations" class="storelocations ">
      <div class="warehouse_box ">
        <div class="side_box">
          <span class="warehouse_heading">We are present in every <br> part of the country</span>
          <div class="city_box">
            <div class="city">
              <li>Haryana</li>
              <li>Himachal Pradesh</li>
              <li>Uttarakhand</li>
              <li>Uttar Pradesh</li>
              <li>Bihar</li>
              <li>Assam</li>
              <li>Gujarat</li>
              <li>Madhya Pradesh</li>
              <li>Tripura</li>
            </div>
            <div class="city">
              <li>Maharashtra</li>
              <li>Karnataka</li>
              <li>Chhattisgarh</li>
              <li>Telangana</li>
              <li>Andra Pradesh</li>
              <li>Puducherry</li>
              <li>Tamil Nadu</li>
              <li>Jharkhand</li>
              <li>West Bengal</li>
            </div>
          </div>
        </div>
        <div class="side_box2">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Group_843_2.svg?v=1672144831" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<div class="nkhasheading container__custom">
  <span class="nilhad1">
    Nilkamal Has It All
  </span>
  <span class="nilhad2">
    HOME & OFFICE FURNITURE RANGE
  </span>
</div>
<section class="nilkamalhas container__custom ">
  <div class="asasas">
    <div class="nilkascroller" id="nilkascroller">
      <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/bed" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/bed_4e78e375-8a6d-41c8-8e1d-ceb6b9c6ca2b.jpg?v=1695649042" alt="">
          </div>
          <p>Bed</p>
        </a>
      </div>
      <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/wardrobes" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/240_x_240_Wardrobe.jpg?v=1672313442" alt="">
          </div>
          <p>Wardrobe</p>
        </a>
      </div>
      <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/mattress" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/mattress_36fc4dd6-aa04-4079-8909-5f8d9a9e8418.jpg?v=1695649043" alt="">
          </div>
          <p>Mattress</p>
        </a>
      </div>
      <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/sofa" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/sofa_5baa17d4-e376-42f5-86e6-29e71f7c0229.jpg?v=1695649042" alt="">
          </div>
          <p>Sofa</p>
        </a>
      </div>
      <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/recliners" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/recliner_af5d1c33-5248-4a76-b6cb-3f540bfc53b1.jpg?v=1695649042" alt="">
          </div>
          <p>Recliner</p>
        </a>
      </div>
      <!-- <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/centre-tables" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/240_x_240_coffee_table.jpg?v=1672313442" alt="">
          </div>
          <p>Coffee Table</p>
        </a>
      </div> -->
      <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/dining-sets" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/dinig.jpg?v=1695649043" alt="">
          </div>
          <p>Dining Set</p>
        </a>
      </div>
      <!-- <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/steel-almirah" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/240_x_240_Steel_Almirah.jpg?v=1672313441" alt="">
          </div>
          <p>Steel Almirah</p>
        </a>
      </div> -->
      <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/entertainment-units" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/tv_unit_b9061751-f7d7-42d9-8a85-748f560257c9.jpg?v=1695649043" alt="">
          </div>
          <p>TV Unit</p>
        </a>
      </div>
      <!-- <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/shoe-racks-1" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/240_x_240-_shoe_rack.jpg?v=1672313442" alt="">
          </div>
          <p>Shoe rack</p>
        </a>
      </div> -->
      <!-- <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/book-cases-shelves" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/240_x_240-_bookcase.jpg?v=1672313442" alt="">
          </div>
          <p>Bookcase</p>
        </a>
      </div> -->
      <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/premium-plastic-series" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Premium_Plastic.jpg?v=1695649041" alt="">
          </div>
          <p>Premium Plastic Storage</p>
        </a>
      </div>
      <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/garden-sofas" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/out_door.jpg?v=1695649042" alt="">
          </div>
          <p>Outdoor Furniture</p>
        </a>
      </div>
      <!-- <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/kids-furniture" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/240_x_240_kids_furniture.jpg?v=1672313441" alt="">
          </div>
          <p>Kids Furniture</p>
        </a>
      </div> 
      <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/chairs" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/240_x_240_chair.jpg?v=1672313442" alt="">
          </div>
          <p>Chair</p>
        </a>
      </div>-->
      <div class="itemnil">
        <a href="https://www.nilkamalfurniture.com/collections/office-tables" class="item__link">
          <div class="item__image">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/wfh_dfac3750-52fe-4f21-87fc-6df761a595f7.jpg?v=1695649042" alt="">
          </div>
          <p>Home Office</p>
        </a>
      </div>

    </div>
  </div>
</section>
<section class="store__gallery">
  <div class="container__custom">
    <div class="store__gallery__heading">
      <span>Store Gallery</span>
    </div>
    <div class="store_slider">
      <div class="main-carousel">
        <div class="cell">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Artboard_1-1_fd2cde82-a64d-45db-98f2-4af3b7f8c211.jpg?v=1695649042">
        </div>
        <div class="cell">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Artboard_1-2_c6c83cea-e84d-4b30-9f25-c5fa7bcd4471.jpg?v=1695649042">
        </div>
        <div class="cell">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Artboard_1_ef0c3036-d126-4ac5-8685-27a5936ee850.jpg?v=1695649042">
        </div>
        <div class="cell">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Artboard_1-3_e0054857-1ba2-4400-8207-bfbc70b3906c.jpg?v=1695649042">
        </div>
        <div class="cell">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Artboard_1-4_4778a764-c6d7-4b84-bd92-85f3d3b346db.jpg?v=1695649042">
        </div>
        <!-- <div class="cell">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/1000_x_1000-01.jpg?v=1672315995">
        </div>
        <div class="cell">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/1000_x_1000-13.jpg?v=1672315995">
        </div>
        <div class="cell">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/1000_x_1000-02.jpg?v=1672315995">
        </div>
        <div class="cell">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/1000_x_1000-07.jpg?v=1672315995">
        </div>
        <div class="cell">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/1000_x_1000-11.jpg?v=1672315994">
        </div>
        <div class="cell">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/1000_x_1000-05.jpg?v=1672315993">
        </div>
        <div class="cell">
          <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/1000_x_1000-04.jpg?v=1672315992">
        </div> -->
      </div>
    </div>
  </div>
</section>
<section class="join_contaner">
  <div class="container__custom join__box">
    <span>Join the nilkamal Family today</span>
  </div>
</section>
<section class="bottom__bar__desktop  hide" id="mybottomId1">
  <div class="container__custom bottom_bar_container">
    <div class="bottom_bar_left">
      <a href="#home">
        <span>Back to Top</span>
        <span><img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Vector_9.svg?v=1672169560" alt=""></span>
      </a>
    </div>
    <div class="bottom_bar_right">
      <a href="#formtotop" class="bottom__bar__button">Join us as a Franchisee</a>
    </div>
  </div>
</section>
<section class="bottom__bar__desktop2  hide" id="mybottomId2">
  <div class="container__custom bottom_bar_container">
    <div class="bottom_bar_right">
      <a href="#formtotop" class="bottom__bar__button">Join us as a Franchisee</a>
    </div>
  </div>
</section>
{% comment %}
<section class="bottom__bar__mobile hide" id="mybottomIdMobile">
<div class="container__custom bottom__mobile">
<a href="#formtotop">Join us as a Franchisee</a>
</div>
</section>
{% endcomment %}{% comment %}<section class="testimonial">
<div class="container">
<div class="testimonial__heading">
<span>What our current partners say about us</span>
</div>
<div class="testimonial__slider">
<div class="swiper mySwiper">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="swiper__slide_item"></div>
</div>
<div class="swiper-slide">
<div class="swiper__slide_item">Slide 2</div>
</div>
<div class="swiper-slide">
<div class="swiper__slide_item">Slide 3</div>
</div>
</div>

</div>
<div class="slider__button">
<div class="swiper-button-prev"></div>
<div class="swiper-pagination"></div>
<div class="swiper-button-next"></div>
</div>
</div>
</div>
</section>{% endcomment %}<!--     main container end here  --><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js"> </script>
<script>
  var myID = document.getElementById("mybottomId1");

  var myScrollFunc = function() {
    var y = window.scrollY;
    if (y >= 2750) {
      myID.className = "bottom__bar__desktop show"
    } else {
      myID.className = "bottom__bar__desktop hide"
    }
  };

  window.addEventListener("scroll", myScrollFunc);

  var myID1 = document.getElementById("mybottomId2");

  var myScrollFunc1 = function() {
    var z = window.scrollY;
    if (z >= 1050) {
      myID1.className = "bottom__bar__desktop2 show"
    } else {
      myID1.className = "bottom__bar__desktop2 hide"
    }
  };

  window.addEventListener("scroll", myScrollFunc1);

  $('#contactFormFullName').keydown(function(e) {
    if (e.shiftKey || e.ctrlKey || e.altKey) {
      e.preventDefault();
    } else {
      var key = e.keyCode;
      if (!((key == 8) || (key == 32) || (key == 46) || (key >= 35 && key <= 40) || (key >= 65 && key <= 90))) {
        e.preventDefault();
      }
    }
  });

  $(document).on('keypress', '#address_phone_no', function(e) {
    if ($(e.target).prop('value').length >= 10) {
      if (e.keyCode != 32) {
        return false
      }
    }
  })



  function radioEnable2() {
    document.getElementById("property_availability").disabled = false;
    document.getElementById("area_of_property_available").disabled = false;
    if ($("#radio_button").is(':checked')) {
      $("#property_availability").attr("required", "true");
      $("#area_of_property_available").attr("required", "true");
    }

  }

  function radioDisable2() {
    document.getElementById("property_availability").disabled = true;
    document.getElementById("area_of_property_available").disabled = true;
  }

  $('#alternate_address_phone_no').on('input', function() {
    $(this).val($(this).val().replace(/[^0-9]/g, '').substr(0, 10));
  });
</script>

<script>
  let cityNames = [
    "Adoni",
    "Chandigarh",
    "Ambikapur",
    "Bhilai",
    "Amaravati",
    "Bilaspur",
    "Dhamtari",
    "Durg",
    "Anantapur",
    "Jagdalpur",
    "Raipur",
    "Rajnandgaon",
    "Chandragiri",
    "Daman",
    "Diu",
    "Silvassa",
    "Chittoor",
    "Delhi",
    "New Delhi",
    "Madgaon",
    "Panaji",
    "Dowlaiswaram",
    "Ahmadabad",
    "Amreli",
    "Bharuch",
    "Bhavnagar",
    "Eluru",
    "Bhuj",
    "Dwarka",
    "Gandhinagar",
    "Godhra",
    "Jamnagar",
    "Guntur",
    "Junagadh",
    "Kandla",
    "Khambhat",
    "Kheda",
    "Mahesana",
    "Kadapa",
    "Morbi",
    "Nadiad",
    "Navsari",
    "Okha",
    "Palanpur",
    "Patan",
    "Kakinada",
    "Porbandar",
    "Rajkot",
    "Surat",
    "Surendranagar",
    "Valsad",
    "Kurnool",
    "Veraval",
    "Ambala",
    "Bhiwani",
    "Chandigarh",
    "Faridabad",
    "Machilipatnam",
    "Firozpur Jhirka",
    "Gurugram",
    "Hansi",
    "Hisar",
    "Jind",
    "Nagarjunakoṇḍa",
    "Kaithal",
    "Karnal",
    "Kurukshetra",
    "Panipat",
    "Pehowa",
    "Rajahmundry",
    "Rewari",
    "Rohtak",
    "Sirsa",
    "Sonipat",
    "Bilaspur",
    "Chamba",
    "Srikakulam",
    "Dalhousie",
    "Dharmshala",
    "Hamirpur",
    "Kangra",
    "Kullu",
    "Tirupati",
    "Mandi",
    "Nahan",
    "Shimla",
    "Una",
    "Anantnag",
    "Baramula",
    "Vijayawada",
    "Doda",
    "Gulmarg",
    "Jammu",
    "Kathua",
    "Punch",
    "Rajouri",
    "Visakhapatnam",
    "Srinagar",
    "Udhampur",
    "Bokaro",
    "Chaibasa",
    "Deoghar",
    "Vizianagaram",
    "Dhanbad",
    "Dumka",
    "Giridih",
    "Hazaribag",
    "Jamshedpur",
    "Yemmiganur",
    "Jharia",
    "Rajmahal",
    "Ranchi",
    "Saraikela",
    "Itanagar",
    "Badami",
    "Ballari",
    "Bengaluru",
    "Belagavi",
    "Bhadravati",
    "Bidar",
    "Dhuburi",
    "Chikkamagaluru",
    "Chitradurga",
    "Davangere",
    "Halebid",
    "Hassan",
    "Dibrugarh",
    "Hubballi-Dharwad",
    "Kalaburagi",
    "Kolar",
    "Madikeri",
    "Mandya",
    "Dispur",
    "Mangaluru",
    "Mysuru",
    "Raichur",
    "Shivamogga",
    "Shravanabelagola",
    "Guwahati",
    "Shrirangapattana",
    "Tumakuru",
    "Vijayapura",
    "Alappuzha",
    "Vatakara",
    "Jorhat",
    "Idukki",
    "Kannur",
    "Kochi",
    "Kollam",
    "Kottayam",
    "Kozhikode",
    "Mattancheri",
    "Nagaon",
    "Palakkad",
    "Thalassery",
    "Thiruvananthapuram",
    "Thrissur",
    "Kargil",
    "Leh",
    "Sivasagar",
    "Balaghat",
    "Barwani",
    "Betul",
    "Bharhut",
    "Bhind",
    "Bhojpur",
    "Bhopal",
    "Silchar",
    "Burhanpur",
    "Chhatarpur",
    "Chhindwara",
    "Damoh",
    "Datia",
    "Dewas",
    "Dhar",
    "Tezpur",
    "Dr. Ambedkar Nagar (Mhow)",
    "Guna",
    "Gwalior",
    "Hoshangabad",
    "Indore",
    "Itarsi",
    "Tinsukia",
    "Jabalpur",
    "Jhabua",
    "Khajuraho",
    "Khandwa",
    "Khargone",
    "Maheshwar",
    "Ara",
    "Mandla",
    "Mandsaur",
    "Morena",
    "Murwara",
    "Narsimhapur",
    "Narsinghgarh",
    "Barauni",
    "Narwar",
    "Neemuch",
    "Nowgong",
    "Orchha",
    "Panna",
    "Raisen",
    "Rajgarh",
    "Begusarai",
    "Ratlam",
    "Rewa",
    "Sagar",
    "Sarangpur",
    "Satna",
    "Sehore",
    "Seoni",
    "Bettiah",
    "Shahdol",
    "Shajapur",
    "Sheopur",
    "Shivpuri",
    "Ujjain",
    "Vidisha",
    "Bhagalpur",
    "Ahmadnagar",
    "Akola",
    "Amravati",
    "Aurangabad",
    "Bhandara",
    "Bhusawal",
    "Bihar Sharif",
    "Bid",
    "Buldhana",
    "Chandrapur",
    "Daulatabad",
    "Dhule",
    "Jalgaon",
    "Kalyan",
    "Bodh Gaya",
    "Karli",
    "Kolhapur",
    "Mahabaleshwar",
    "Malegaon",
    "Matheran",
    "Mumbai",
    "Nagpur",
    "Buxar",
    "Nanded",
    "Nashik",
    "Osmanabad",
    "Pandharpur",
    "Parbhani",
    "Pune",
    "Ratnagiri",
    "Chapra",
    "Sangli",
    "Satara",
    "Sevagram",
    "Solapur",
    "Thane",
    "Ulhasnagar",
    "Vasai-Virar",
    "Darbhanga",
    "Wardha",
    "Yavatmal",
    "Imphal",
    "Cherrapunji",
    "Shillong",
    "Aizawl",
    "Lunglei",
    "Dehri",
    "Kohima",
    "Mon",
    "Phek",
    "Wokha",
    "Zunheboto",
    "Balangir",
    "Baleshwar",
    "Dinapur Nizamat",
    "Baripada",
    "Bhubaneshwar",
    "Brahmapur",
    "Cuttack",
    "Dhenkanal",
    "Gaya",
    "Kendujhar",
    "Konark",
    "Koraput",
    "Paradip",
    "Phulabani",
    "Puri",
    "Hajipur",
    "Sambalpur",
    "Udayagiri",
    "Karaikal",
    "Mahe",
    "Puducherry",
    "Yanam",
    "Jamalpur",
    "Amritsar",
    "Batala",
    "Chandigarh",
    "Faridkot",
    "Firozpur",
    "Gurdaspur",
    "Katihar",
    "Hoshiarpur",
    "Jalandhar",
    "Kapurthala",
    "Ludhiana",
    "Nabha",
    "Patiala",
    "Madhubani",
    "Rupnagar",
    "Sangrur",
    "Abu",
    "Ajmer",
    "Alwar",
    "Amer",
    "Barmer",
    "Beawar",
    "Motihari",
    "Bharatpur",
    "Bhilwara",
    "Bikaner",
    "Bundi",
    "Chittaurgarh",
    "Churu",
    "Dhaulpur",
    "Munger",
    "Dungarpur",
    "Ganganagar",
    "Hanumangarh",
    "Jaipur",
    "Jaisalmer",
    "Jalor",
    "Jhalawar",
    "Muzaffarpur",
    "Jhunjhunu",
    "Jodhpur",
    "Kishangarh",
    "Kota",
    "Merta",
    "Nagaur",
    "Nathdwara",
    "Patna",
    "Pali",
    "Phalodi",
    "Pushkar",
    "Sawai Madhopur",
    "Shahpura",
    "Sikar",
    "Sirohi",
    "Purnia",
    "Tonk",
    "Udaipur",
    "Gangtok",
    "Gyalshing",
    "Lachung",
    "Mangan",
    "Pusa",
    "Arcot",
    "Chengalpattu",
    "Chennai",
    "Chidambaram",
    "Coimbatore",
    "Cuddalore",
    "Saharsa",
    "Dharmapuri",
    "Dindigul",
    "Erode",
    "Kanchipuram",
    "Kanniyakumari",
    "Kodaikanal",
    "Samastipur",
    "Kumbakonam",
    "Madurai",
    "Mamallapuram",
    "Nagappattinam",
    "Nagercoil",
    "Palayamkottai",
    "Sasaram",
    "Pudukkottai",
    "Rajapalayam",
    "Ramanathapuram",
    "Salem",
    "Thanjavur",
    "Sitamarhi",
    "Tiruchchirappalli",
    "Tirunelveli",
    "Tiruppur",
    "Thoothukudi",
    "Udhagamandalam",
    "Siwan",
    "Vellore",
    "Hyderabad",
    "Karimnagar",
    "Khammam",
    "Mahbubnagar",
    "Nizamabad",
    "Sangareddi",
    "Warangal",
    "Agartala",
    "Agra",
    "Aligarh",
    "Amroha",
    "Ayodhya",
    "Azamgarh",
    "Bahraich",
    "Ballia",
    "Banda",
    "Bara Banki",
    "Bareilly",
    "Basti",
    "Bijnor",
    "Bithur",
    "Budaun",
    "Bulandshahr",
    "Deoria",
    "Etah",
    "Etawah",
    "Faizabad",
    "Farrukhabad-cum-Fatehgarh",
    "Fatehpur",
    "Fatehpur Sikri",
    "Ghaziabad",
    "Ghazipur",
    "Gonda",
    "Gorakhpur",
    "Hamirpur",
    "Hardoi",
    "Hathras",
    "Jalaun",
    "Jaunpur",
    "Jhansi",
    "Kannauj",
    "Kanpur",
    "Lakhimpur",
    "Lalitpur",
    "Lucknow",
    "Mainpuri",
    "Mathura",
    "Meerut",
    "Mirzapur-Vindhyachal",
    "Moradabad",
    "Muzaffarnagar",
    "Partapgarh",
    "Pilibhit",
    "Prayagraj",
    "Rae Bareli",
    "Rampur",
    "Saharanpur",
    "Sambhal",
    "Shahjahanpur",
    "Sitapur",
    "Sultanpur",
    "Tehri",
    "Varanasi",
    "Almora",
    "Dehra Dun",
    "Haridwar",
    "Mussoorie",
    "Nainital",
    "Pithoragarh",
    "Alipore",
    "Alipur Duar",
    "Asansol",
    "Baharampur",
    "Bally",
    "Balurghat",
    "Bankura",
    "Baranagar",
    "Barasat",
    "Barrackpore",
    "Basirhat",
    "Bhatpara",
    "Bishnupur",
    "Budge Budge",
    "Burdwan",
    "Chandernagore",
    "Darjeeling",
    "Diamond Harbour",
    "Dum Dum",
    "Durgapur",
    "Halisahar",
    "Haora",
    "Hugli",
    "Ingraj Bazar",
    "Jalpaiguri",
    "Kalimpong",
    "Kamarhati",
    "Kanchrapara",
    "Kharagpur",
    "Cooch Behar",
    "Kolkata",
    "Krishnanagar",
    "Malda",
    "Midnapore",
    "Murshidabad",
    "Nabadwip",
    "Palashi",
    "Panihati",
    "Purulia",
    "Raiganj",
    "Santipur",
    "Shantiniketan",
    "Shrirampur",
    "Siliguri",
    "Siuri",
    "Tamluk",
    "Titagarh"
  ];
  let sortedNames = cityNames.sort();
    let input = document.getElementById("city_name");

    input.addEventListener("input", (e) => {
        removeElements();
        for (let i of sortedNames) {
            if (i.toLowerCase().startsWith(input.value.toLowerCase()) && input.value !== "") {
                let listItem = document.createElement("li");
                listItem.classList.add("list-items");
                listItem.style.cursor = "pointer";
                listItem.setAttribute("onclick", "displayNames('" + i + "')");
                listItem.textContent = i;
                document.querySelector(".city_sugg").appendChild(listItem);
            }
        }
    });

    function displayNames(value) {
        input.value = value; // Set the entire city name
        removeElements();
    }

    function removeElements() {
        let items = document.querySelectorAll(".list-items");
        items.forEach((item) => {
            item.remove();
        });
    }
</script>

<script>
  $("#tab2").click(function() {
    $(".storebutton1").removeClass('buttonActive');
    $(this).addClass('buttonActive');
    $(".warehouse").css("display", "none")
    $(".storelocations").css("display", "block")
  });
  $("#tab1").click(function() {
    $(".storebutton2").removeClass('buttonActive');
    $(this).addClass('buttonActive');
    $(".warehouse").css("display", "block")
    $(".storelocations").css("display", "none")
  });

  $('.main-carousel').flickity({ // options
    cellAlign: 'left',
    contain: true,
    wrapAround: true,
    freeScroll: true
  });
</script>

<script>

  function getState() {
    $.ajax({
      url: "https://admin.nilkamalfurniture.com/api/franchisee/get-state",
      type: 'get',
      dataType: 'json',
      beforeSend: function() {
        $("#state_name").val('');
      },
      success: function(resp) {
        $.each(resp.data, function(index, value) {
          $("#state_name").append('<option value=' + index + '>' + value + '</option>')
        })

      },
      error: function(data) {}
    });
  }

  $(document).ready(function() {
    $('#thank_you').css('display', 'none');
  });

  $('#franchise_submit').click(function(e) {
    e.preventDefault();
    $('.err').html('');
    var fullname = $('#contactFormFullName').val();
    var email = $('#contactFormEmail').val();
    var phoneno = $('#address_phone_no').val();
    var alternate_phone_no = $('#alternate_address_phone_no').val();
    var location_preference = $('#contactFormcity_name').val();
    var preferred_time_for_discussion = $('#preferred_time_for_discussion').val();
    var property_availability = $('#property_availability').val();
    var area_of_property_available = $('#area_of_property_available').val();{% comment %}var turnover = $('#alternate_address_phone_no').val();{% endcomment %}var franchisee = $("input[name='franchisee']:checked").val();
    var state_name = $('#state_name').val();
    var reatil_space = $("input[name='reatil_space']:checked").val();
    var city_name = $('#city_name').val();
    var suggestion = $('#Suggestions').val();
    var urls = window.location.href;
    var parameter = urls.split('?');
    $.ajax({
      url: "https://admin.nilkamalfurniture.com/api/franchisee",
      type: 'POST',
      data: {
        "fullname": fullname,
        "email": email,
        "phoneno": phoneno,
        "alternate_phone_no": alternate_phone_no,
        "location_preference": location_preference,
        "preferred_time_for_discussion": preferred_time_for_discussion,
        "property_availability": property_availability,
        "area_of_property_available": area_of_property_available,

// "turnover": turnover,
        "franchisee": franchisee,
        "state_name": state_name,
        "reatil_space": reatil_space,
        "city_name": city_name,
        "suggestion": suggestion,
        'parameter': parameter,
        'web_url': urls
      },
      dataType: 'json',
      beforeSend: function() {
        $('#franchise_submit').attr('disabled', true);
        $('#franchise_submit').html('Please wait...');
      },
      success: function(resp) {
        console.log(resp)
        $('#franchise').css('display', 'none');
        $('#thank_you').css('display', 'block');
        var url = "https://www.nilkamalfurniture.com/pages/franchise-thankyou-page";

// gtag_report_conversion(url);
        window.location = url;
      },
      error: function(data) {
        console.log('Vivek error data', data)
        $('#franchise_submit').attr('disabled', false);
        $('#franchise_submit').html('Send');
        var errr = data.responseJSON[0];
        $.each(errr, function(k, v) {
          $('.' + k + '_error').text(v).css('color', 'red');
        });
      }
    });
  });

  getState();
</script>
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 30,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    }
  });
</script>