<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
  <style>
    .bg {
    width: 70%;
  	background-image: url('https://cdn.shopify.com/s/files/1/0044/1208/0217/files/eamialer_2.jpg?v=1635503426');
    height: 50%;
  	background-repeat: no-repeat;
  	background-size: cover;
      margin: 0px auto;
    }
    .head_logo {
    text-align: center;
    padding-top: 50px;
	}
    .head_logo img {
    width: 200px;
	}
    .head_content {
    padding-top: 100px;
    padding-bottom: 30px;
	}
    .head_content h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    line-height: 0.7;
    text-transform: none;
	}
    .head_content p {
    text-align: center;
    font-size: 30px;
    color: #fff;
    line-height: 0.5;
    }
    p.new_campaign {
    margin-top: 100px;
    margin-bottom: -30px;
    letter-spacing: 1.5px;
	}
    .campaign_films {
    text-align: center;
	}
    .campaign_films button {
    background: #003d6c;
    padding: 0px 50px;
    margin-top: 30px;
    margin-bottom: 30px;
	}
    .footer_content h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    line-height: 0.7;
    text-transform: none;
    margin-top: 50px;
	}
    .footer_content p {
    text-align: center;
    font-size: 30px;
    color: #fff;
    line-height: 0.5;
    padding-bottom: 100px;
    }  
  </style>
<body>
  <div class="bg">
    <div class="head_logo">
      <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Logo_3a9ec7ea-2b29-4fdf-b7b9-6bbb4765f0e5.png?v=1635503425">
    </div>
    <div class="head_content">
      <h2>Get ready to bring home</h2>
      <h2>more reasons to celebrate.</h2>
      <p>#KhushiyonKeLiyeHameshaReady</p>
      <p class="new_campaign">Checkout our new campaign films.</p>
    </div>
  	<div class="campaign_films">
    <div class="campaign_films1">
      <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/01.png?v=1635503426">
    </div>
      <a href="https://youtu.be/EPuvZjhGVY8"><button type="button">Click here</button></a>
    <div class="campaign_films2">
      <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/02.png?v=1635503425">
    </div>
        <a href="https://youtu.be/4HHYNiFTcQQ"><button type="button">Click here</button></a>
    <div class="campaign_films3">
      <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/03.png?v=1635503425">
    </div>
        <a href="https://youtu.be/uFRo8jnoj44"><button type="button">Click here</button></a>
  	</div>
    <div class="footer_content">
      <h2>Do like, comment and share</h2>
      <p>with your friends and family.</p>
    </div>
  </div>
</body>
</html>
