<a name="pagecontent" id="pagecontent"></a>

<div class="container">
  <div class="static-page clearfix shipping-page">
	<div class="page-content">
      
      <div class="page-banner">
        <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Shipping_and_delivery_1920X421.png?v=1579605548" alt="top-banner" style="max-width:100%;"class="desktop-xs">
        <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Mobile_Shipping_and_delivery_600X470.png?v=1579610174" alt="top-banner" style="max-width:100%;" class="mobile-xs">
      </div>
      <div class="content">
        <h1 class="center">
          {{ page.title }}
        </h1>
        <div class="feature_divider"></div>
        <div>
          <h3>Shipping</h3>
          <p><strong>How do I check the delivery timelines before I place the order?</strong></p>

          <p>You can check the delivery timelines by entering your pin code at product page.</p><br>
          <p><strong>How can I track the delivery of my order?</strong></p>
          <p>Furniture products will be shipped via our own Logistics or 3rd party Logistics team within 7-8 days. After shipping, the product will be delivered in 10-15 days .In case of 3rd Party Logistics, you can track your shipment through AWB number. In case of Nilkamal’s logistics, one day prior a delivery confirmation call will be undertaken by our executive.</p>
          <p>You can also reach out to us at <strong><a href="mailto:furniture.enquiry@nilkamal.com">furniture.enquiry@nilkamal.com</a></strong> or call us on <a href="tel:18001219115">1800 1219 115</a> </p><br>
          <p><strong>When will Assembly happen?</strong></p>
          <p>Assembly of product will be undertaken within 48-72 hours after delivery. </p><br>
          <p><strong>Are there any shipping/delivery charges?</strong></p>
          <p>We offer <b>FREE SHIPPING</b> for our furniture range on <b>Selected Pincodes</b>, else <b>Rs.999 shipping charge is applicable.</b></p>
        </div>
        <div>
          <h3>Delivery</h3>
          <p><strong>Is my location servicable?</strong></p>
          <p>In order to know if delivery option is available in your area, Enter delivery pin-code on product page</p><br>
          <p><strong>Will I receive my entire product order the same day in case of multiple products/ quantities ordered? </strong></p>
          <p>In case you book multiple products in a single order, we will endeavour to ship all products together. However, this may not always be possible due to the nature of product and/or the mode of delivery. </p><br>
          <p><strong>What if I am not at home when you arrive?</strong></p>
          <p>Nilkamal delivery executive will share a confirmation call one day before delivery. In case of non –availability, kindly inform the delivery executive.</p><br>
          <p><strong>Can I change my delivery address after placing the order?</strong></p>
          <p>Post placing the order, you can change the delivery address if the product is not shipped subject to the new delivery address is in the same city.</p><br>
          <p><strong>Do you deliver to multiple address?</strong></p>
          <p>We only deliver to the address specified in the order. In case of delivery to multiple addresses, you have to place multiple different orders for each address </p><br>
          <p><strong>Can someone else receive the order on my behalf?</strong></p>
          <p>Whoever is accepting the delivery on your behalf needs to have a valid ID Proof</p>
        </div>
      </div>
      
    </div>
  </div>
</div>

<!--   <div>
    {% include 'page-multi-column', content: page.content %}
  </div> -->