
<a name="pagecontent" id="pagecontent"></a>

<div class="container">
  <div class="static-page clearfix site-map-page">
    <div class="page-content">
      
      <div class="page-banner">
        <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/about_us_banner.jpg?12382" alt="top-banner" style="max-width:100%;">
      </div>
      <div class="content">
        <h1 class="center">
          {{ page.title }}
        </h1>
        <div class="feature_divider"></div>
        <div class="site_map_main">
          <table border="0" style="border-collapse:collapse;" cellspacing="0" cellpadding="0" class="table_sitemap">
            <th class="sitemap_th" colspan="4"><a href="/collections/plastic-furniture" target="_blank">PLASTIC FURNITURE</a></th>
            <tr>
              <td><a href="#">Chairs</a></td>
              <td><a href="#">Storage Cabinets & Drawers</a></td>
              <td><a href="#">Sofa</a></td>
              <td><a href="#">Dining Tables & Sets</a></td>
            </tr>
            <tr>
              <td><a href="#">Stools</a></td>
              <td><a href="#">Center Tables</a></td>
              <td><a href="#">Racks & Trolleys</a></td>
              <td><a href="#">Kids' World</a></td>
            </tr>
            <tr>
              <td class="last_td"><a href="#">Household</a></td>
              <td class="last_td"><a href="#">Planters</a></td>
            </tr>

            <th class="sitemap_th" colspan="4"><a href="/collections/home-furniture" target="_blank">HOME FURNITURE</a></th>
            <tr>
              <td class="last_td"><a href="#">Living Room Furniture</a></td>
              <td class="last_td"><a href="#">Bedroom Furniture</a></td>
              <td class="last_td"><a href="#">Utility Furniture</a></td>
              <td class="last_td"><a href="#">Outdoor Furniture</a></td>
            </tr>

            <th class="sitemap_th" colspan="4"><a href="/collections/office-furniture" target="_blank">OFFICE FURNITURE</a></th>
            <tr>
              <td><a href="#">Seating</a></td>
              <td><a href="#">Desking</a></td>
              <td><a href="#">Storages</a></td>
              <td><a href="#">Workstation Series</a></td>
            </tr>
            <tr>
              <td><a href="#">Cafeteria Series</a></td>
              <td><a href="#">Corporate Sofa Sets</a></td>
              <td><a href="#">Mass Seating Solution</a></td>
              <td><a href="#">Footrest</a></td>
            </tr>
            <tr>
              <td class="last_td"><a href="#">Banquet Chairs</a></td>
              <td class="last_td"><a href="#">Hostel Beds</a></td>
              <td class="last_td"><a href="#">Center Tables</a></td>
              <td class="last_td"><a href="#">Education Furniture</a></td>
            </tr>

            <th class="sitemap_th" colspan="4"><a href="/collections/home-furniture" target="_blank">HOME FURNITURE</a></th>
            <tr>
              <td class="last_td"><a href="#">Living Room Furniture</a></td>
              <td class="last_td"><a href="#">Bedroom Furniture</a></td>
              <td class="last_td"><a href="#">Utility Furniture</a></td>
              <td class="last_td"><a href="#">Outdoor Furniture</a></td>
            </tr>

            <th class="sitemap_th" colspan="4"><a href="/collections/mattress" target="_blank">MATTRESS</a></th>
            <tr>
              <td class="last_td"><a href="#">Coir Mattress</a></td>
              <td class="last_td"><a href="#">Foam Mattress</a></td>
              <td class="last_td"><a href="#">Spring Mattress</a></td>
            </tr>
          </table>
        </div>
      </div>
      
    </div>
  </div>
</div>