<div class="banner spinehealth">
  <a href="https://www.nilkamalfurniture.com/">
    <img
      src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/desktop2_f66946de-00f6-4906-a1d9-7b821c467d04.png?v=1664351617"
      class="visible-desktop">
  </a>
  <a href="https://www.nilkamalfurniture.com/">
    <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/mobile2.png?v=1664351983" class="visible-mobile" style="margin-top: 5rem;">
  </a>
</div>