<style>
  .catalogue.col-sm-4 h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
    color: #444;
}
  .catalogue_header{
  	font-size: 25px;
    color: #444;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-weight: 600;
  }
  .downloadBtn{
  background-image: url(https://bab-assets1.babapi.ooo/img/shrd/html_widget_images/05/13/554/cb68148fced1d_download.png.999xx.png);
    background-position: 15px center;
    background-repeat: no-repeat;
    background-color: #0196da;
    color: #FFF !important;
    border-radius: 5px;
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 25px;
    text-align: center;
    width: 200px;
    padding-left: 25px;
    font-size: 14px;
    font-weight: 600;
  }
</style>


  <h1 class="catalogue_header">
    Download
  </h1>

<div class="catalogue_container">
  <div class="catalogue_row">
    <div class="catalogue col-sm-4">
      <h2>Office Furniture Catalogue 2021</h2>
      <a class="downloadBtn" href="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Office_Furniture_Catalogue_2021_merged_1.pdf?v=1634559040" target="_blank">Download Brochure</a>
    </div>
  </div>
</div>

  <div>
    {% include 'page-multi-column', content: page.content %}
  </div>
