<a name="pagecontent" id="pagecontent"></a>

<div class="container">
  <div class="static-page clearfix privacy-page">
    <div class="page-content">
      
      <div class="page-banner">
        <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Privacy_Policy_1920X421.png?v=1579605507" alt="privacy policy" style="max-width:100%;" class="desktop-xs">
        <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Mobile_Privacy_Policy_600X470.png?v=1579610086" alt="privacy policy" style="max-width:100%;" class="mobile-xs">
      </div>
      
      <div class="content">
        <h1 class="center">
          {{ page.title }}
        </h1>
        <div class="feature_divider"></div>
        <div>
          <h3>Introduction</h3>
          <p>The domain name nilkamalfurniture.com or the Website is owned by Nilkamal and your use of the Website and services and all tools are governed by these T&amp;Cs as applicable to the Website including the applicable policies which are incorporated herein by way of reference. If you transact on or visit the Website, you shall be subject to the policies that are applicable to the Website. As long as you comply with the terms of these T&amp;Cs, we grant you a non–exclusive, non–transferable, limited right to enter, view and use this Website. You agree not to interrupt or attempt to interrupt the operation of this Website in any way. By accessing any part of the Website, you shall be deemed to have read, understood and expressly accepted these T&amp;Cs.</p>
          <p>We may revise these T&amp;Cs at any time by updating this posting and such modified terms shall, thereafter from the date of its posting on this Website, be binding on you.</p>
        </div>
        <div>
          <h3>Use of website</h3>
          <p>This Website is only for your personal use. You agree and undertake not to reverse engineer, modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from the Website. These T&amp;C sets forth the terms and conditions that apply to the sale and purchase of the products between the Company and you (“Services”).</p>
          <p>Use of the Website is available only to persons who can form legally binding contracts under Indian Contract Act, 1872. Persons who are "incompetent to contract" within the meaning of the Indian Contract Act, 1872 including minors, un-discharged insolvents etc. are not eligible to use the Website. If you are a minor i.e. under the age of 18 years, you shall not register as a User of the Website and shall not transact on or use the Website</p>
          <p>The products/services and information displayed on the Website is an "invitation to offer" to public at large. Your order for purchase constitutes your "offer" which shall be subject to acceptance or rejection by Company and shall further subject to the terms and conditions as listed below. All accepted offers shall be fulfilled by the Company. If you have supplied your valid email address or contact number, Company will notify you by email or through SMS (as the case may be) as soon as possible to confirm receipt of your order.</p>
          <p>The Services shall include:</p>
          <ol>
            <li>Supply of the ordered product to you;</li>
            <li>Procuring a logistics company experienced with collection and transportation to deliver your ordered products (“Logistics Supplier”); and</li>
            <li>Company customer support, enabling you to contact Company at <a href="tel:18001219115">1800 1219 115</a>, email us at <a href="mailto:furniture.enquiry@nilkamal.com">furniture.enquiry@nilkamal.com</a> with any queries that you may have in relation to your purchased product/s.</li>
            <li>You agree to pay the full amount payable for the product as indicated during the order process, including any shipping costs or charges incurred with that order. All prices are displayed and are payable in Indian National Rupees.</li>
          </ol>
          <p>We may offer multiple payment options through various instrument(s) or mode(s) for the convenience of the customers. Nilkamal reserves the right to add or remove or modify the terms and conditions for such payment options without prior notice. Without prejudice to the aforesaid, usage of any of the above payment options shall at all times be subject to rules, regulations and guidelines under applicable law and those prescribed by Reserve Bank of India, issuer banks, acquiring banks, facility providers and other intermediaries involved in the payment process.</p>
          
          <p><strong>Account information</strong></p>
          <p>By using the account access service in the Company's websites, you authorize the Company and its agents to access third party sites, including that of banks and other payment gateways, designated by them or on their behalf for retrieving requested information.</p>
          <p>Each registration is for a single user only. The Company does not permit you to share your user name and password with any other person nor with multiple users on a network.</p>
          <p>Responsibility for the security of any passwords issued rests with you. It is your duty to notify the Company immediately in writing of any unauthorized use of your password or account or any other breach of security. The Company will not be liable for any loss that may be incurred by you as a result of unauthorized use of your password or account, either with or without your knowledge. You shall not use anyone else's information such as address, password, order history or any other data etc. at any time.-</p>
          
          <p><strong>Shipping</strong></p>
          <p>You shall be solely responsible for providing the correct and accurate postal details.</p>
          <p>Risk of loss and title for the Products shall pass to you upon delivery of your purchased Products by the Logistics Supplier.</p>
          <p>We are not responsible for any delays in the shipping of your ordered and purchased Product/s, lost or missing Product/s or the incorrect delivery of the Product/s to you, which is due to your fault or due to inaccurate, false or incomplete information provided by you.</p>
          <p>Should you receive an item that is not in perfect condition please contact us immediately<a href="tel:18001219115">&nbsp;at 1800 1219 115</a>, email us at <a href="mailto:furniture.enquiry@nilkamal.com">furniture.enquiry@nilkamal.com</a> and arrange for the faulty Product to be returned to us.</p>
          
         
          <p><strong>License</strong></p>
          <p>All materials on this Website, including but not limited to audio, images, software, text, icons and such like (‘Content’), are protected by copyright under international conventions and copyright laws. You cannot use the Content, except as specified herein. You agree to follow all instructions on this Website limiting the way you may use the Content.</p>
          <p>There are a number of proprietary logos, service marks and trademarks found on this Website whether owned/used by the Company or otherwise. By displaying them on this Website, the Company is not granting you any license to utilize those proprietary logos, service marks, or trademarks. Any unauthorized use of the Content may violate copyright laws, trademark laws, the laws of privacy and publicity, and civil and criminal statutes.</p>
          <p>You are permitted to print and download extracts from the Website for your own use on the following basis:</p>
          <ol style="list-style-type: lower-roman;">
            <li>No documents or related graphics on the Website are modified in any way;</li>
            <li>No graphics on the Website are used separately from the corresponding text; and</li>
            <li>The Company's copyright and trade mark notices and this permission notice appear in all copies.</li>
          </ol>
          <p>Subject to this clause, no part of the Website may be reproduced or stored in any other website or included in any public or private electronic retrieval system or service without the Company's prior written permission.</p>
          <p>Any rights not expressly granted in these terms are reserved.</p>
        </div>
        <div>
          <h3>VISITOR MATERIAL AND CONDUCT :</h3>
          <p>Other than personally identifiable information, which is covered under our Privacy Policy, any material you transmit or post to the Website shall be considered non-confidential and non-proprietary. The Company and its designees shall be free to copy, disclose, distribute, incorporate and otherwise use such material and all data, images, sounds, text and other things embodied therein for any and all commercial or non-commercial purposes. The Company may change, edit, or remove any user material or conversations that are illegal, indecent, obscene or offensive, or that violates the Company’s policies in any way.</p>
          <p>The Company reserves the right at all times to disclose any information as is necessary to satisfy or comply with any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in it's sole discretion.</p>
          <p>You are prohibited from posting or transmitting to or from the Website any material:</p>
          <ol style="list-style-type: lower-roman;">
            <li>That is threatening, defamatory, obscene, indecent, seditious, offensive, pornographic, abusive, liable to incite racial hatred, discriminatory, menacing, scandalous, inflammatory, blasphemous, in breach of confidence, in breach of privacy or which may cause annoyance or inconvenience; or</li>
            <li>For which you have not obtained all necessary licenses and/or approvals; or</li>
            <li>Which constitutes or encourages conduct that would be considered a criminal offence, give rise to civil liability, or otherwise be contrary to the law of or infringe the rights of any third party, in any country in the world; or</li>
            <li>Which is technically harmful (including, without limitation, computer viruses, logic bombs, Trojan horses, worms, harmful components, corrupted data or other malicious software or harmful data).</li>
          </ol>
          <p>You may not misuse the Website (including, without limitation, by hacking).</p>
          <p>You shall not violate any applicable laws or regulations for the time being in force in or outside India and any of the terms and conditions of this Agreement or any other terms and conditions for the use of the Website contained elsewhere herein.</p>
          <p>The Company shall fully co-operate with any law enforcement authorities or court order requesting or directing the Company to disclose the identity or locate anyone posting any material in breach of these T&amp;Cs.</p>    
        </div>
        <div>
          <h3>PAYMENT OF FEES, CHARGES, CREDIT AND DEBIT CARDS :</h3>
          <p>Your registration with us enables you to transact online and to purchase our Services.</p>
          <p>We have an <strong>CC Avenue</strong> payment acceptance solution allowing you to enter your Credit or Debit Card details in a secure manner without sharing these with our agents or employees.</p>
          <p>We do not store credit or debit card details on our systems.</p>
          <p>Internet transmissions are never completely private or secure. You understand that any message or information you send to this Website may be read or intercepted by others unless there is a special notice that a particular message (for example, credit card information) is encrypted (send in code). Sending a message to the Company or this Website does not cause the Company to have any special responsibility to you.</p>
          <p>The Company will try to process your order promptly but does not guarantee that your order will be activated by any specified time. Your offer will only be accepted by us and a contract formed when we have successfully verified your payment details and email address, at which point we will provide you with Order Number or ID to track your order. The Company reserves the right to reject any offer in its discretion, for any or no reason. The Company may partner with third party content providers to offer bundled services, under which the payment for both the services will be collected by the Company. The Company will endeavour to provide a seamless access to all such third parties with a single one point access. There could be a gap in this seamless access due to a technology breakdown, temporary disconnection of the internet connection or any factors beyond the reasonable control of the Company. In such cases the contract will be formed once the access to the partner services are restored. You are requested to read through the terms and conditions offered by content partners to the Company.</p>
          <p>The Company reserves the right to charge listing fees for certain listings, as well as transaction fees based on certain completed transactions using the Services. The Company further reserves the right to alter any and all fees from time to time, without notice.</p>
          <p>You shall be completely responsible for all charges, fees, duties, taxes, and assessments arising out of the use of the Services</p>
          <p>In the rare possibilities of the transaction<span style="text-decoration: line-through;"></span> not getting confirmed for any reason whatsoever, the Company shall process the refund and intimate you of the same. The Company is not under any obligation to make another order&nbsp; in lieu of or to compensate/ replace the unconfirmed one. All subsequent further orders&nbsp; will be treated as new transactions with no reference to the earlier unconfirmed reservation.</p>

          <p><strong>What information we collect?</strong></p>
          <p>When you create an account with&nbsp;www.nilkamalfurniture.myshopify.com, we may collect a variety of personal information including your name, mailing address, phone number and email address. We&nbsp;will automatically store this information for our record.</p>

          <p><strong>Why we collect your information?</strong></p>
          <p>You may be asked to provide your personal information anytime you are in contact with&nbsp;<span><a href="http://www.nilkamalfurniture.myshopify.com/">www.nilkamalfurniture.com</a></span> . We may use the information to provide and improve our products, services, content, promotions and advertising.</p>
          <p>How we use your information</p>
          <p>The personal information that we&nbsp;collect allows us to keep you posted on&nbsp;our latest product, announcements and upcoming events.</p>
          <p>It also helps us to develop, deliver and improve our products, services, content and advertising.</p>
          <p><strong>When we disclose your information?</strong></p>
          <p><span><a href="http://www.nilkamalfurniture.myshopify.com/">&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;&shy;nilkamalfurniture.com</a></span>&nbsp;does not disclose your personal information to unaffiliated third parties, or to our affiliates, who may want to offer you their own products and services unless you have requested or authorized&nbsp;us to do so.</p>
          <p>We may disclose information about you to protect you against fraud and&nbsp;other crimes.</p>
          <p><strong>Integrity of your personal information</strong></p>
          <p>We view protection of your privacy as a very important principle. We understand clearly that you and your Personal Information is one of our most important assets. We store and process your information including any sensitive financial information collected (as defined under the IT Act), if any, on computers that may be protected by physical as well as reasonable technological security measures and procedures in accordance with the IT Act.</p>
        </div>
        <div>
          <h3>Security Policy</h3>
          <p><strong>What are cookies and how Nilkamal Furniture uses them?</strong></p>
          <p>A cookie is a small file created by website to store information on a personal computer and which it can later retrieve.</p>
          <p>We may use cookies for some administrative purposes, i.e. to store our customer’s preferences for certain kinds of products or to store a password so that you do not have to input it every time you visit our website.</p>
          <p>If you are uncomfortable with the use of cookies technology, you can change your cookies preferences so that your browser doesn’t accept cookies or accepts them only from limited sources.</p>
          <p>Refer the Help section of your browser on how to enable or disable cookies.</p>

          <p><strong>Links to and from other websites</strong></p>
          <p>Links to third party websites on the Website are provided solely for your convenience. If you use these links, you leave our Website. The Company&nbsp; does not control and is not responsible for these websites or their content or availability. The Company therefore does not endorse or make any representations about them, or any material found there, or any results that may be obtained from using them. If you decide to access any of the third party websites linked to the Website, you do so entirely at your own risk. Further the Company is not responsible for any form of transmission, whatsoever, received by you from any linked website.</p>
          <p>The Company is not responsible for any errors, omissions or representations on any of its pages or any links or on any of the linked websites. The Company does not endorse any advertiser on its pages or on any linked website in any manner. You are requested to verify the accuracy of all information on your own before undertaking any reliance on such information.</p>

          <p><strong>Secure Socket Layer – Protect Online Order Information</strong></p>
          <p><span><a href="http://www.nilkamalfurniture.myshopify.com/">www.nilkamalfurniture.com</a></span>&nbsp;uses Secure Sockets Layer (SSL) encryption on all web pages where personal information is collected. To make purchases from this service, you must use an SSL-enabled browser such as Safari, Firefox, or Internet Explorer. Doing so protects the confidentiality of your personal information while it’s transmitted over the Internet.</p>
          <p>“We are using CCavenue Solutions Limited Payment Gateway which is certified by “VeriSign Secured” and “Payment Card Industry Data Security Standards (PCI-DSS)” authorities.</p>

          <p><strong>Availability</strong></p>
          <p>The products and services displayed on this Website may not be available for purchase in your particular country or locality. The reference to such products and services on the Website does not imply or warrant that these products or services will be available at any time in your particular geographical location.. You can simply verify the same with&nbsp; the pin code serviceability checker or connect with us at<a href="tel:18001219115">&nbsp;1800 1219 115</a>, email us at <a href="mailto:furniture.enquiry@nilkamal.com">furniture.enquiry@nilkamal.com</a>.</p>
          <p><strong>Website access &amp; data download</strong></p>
          <p>While the Company endeavors to ensure that the Website is normally available 24 hours a day, however your uninterrupted access or use of this Website on this basis may be prevented by certain factors outside our reasonable control including, without limitation, the unavailability, inoperability or interruption of the internet or other telecommunications services or as a result of any maintenance or other service work carried out on this Website. In such an event the Company does not accept any responsibility and shall not be liable for any loss or damage whatsoever arising out of or in connection with any ability/inability to access or to use the Website at any time or for any period.</p>

          <p><strong>Account information</strong></p>
          <p>By using the account access service in the Company's websites, you authorize the Company and its agents to access third party sites, including that of banks and other payment gateways, designated by them or on their behalf for retrieving requested information.</p>
          <p>Each registration is for a single user only. The Company does not permit you to share your user name and password with any other person nor with multiple users on a network.</p>
          <p>Responsibility for the security of any passwords issued rests with you. It is your duty to notify the Company immediately in writing of any unauthorized use of your password or account or any other breach of security. The Company will not be liable for any loss that may be incurred by you as a result of unauthorized use of your password or account, either with or without your knowledge. You shall not use anyone else's password at any time.</p>

          <p><strong>Onus of the user</strong></p>
          <p><strong></strong>The Company is responsible only for the transactions that are done by you through the Website. The Company will not be responsible for screening, censoring or otherwise controlling transactions, including whether the transaction is legal and valid as per the laws of the land of the user.</p>
          <p>You warrant that you will abide by all such additional procedures and guidelines, as modified from time to time, in connection with the use of the Services. You further warrant that you will comply with all applicable laws and regulations regarding use of the Services with respect to the jurisdiction concerned for each transaction.</p>
          <p>You represent and confirm that you are of legal age to enter into a binding contract and that you are not a person barred from availing the Services under the laws of India or other applicable law.</p>
          <p>As a condition of the use of the Website, you warrant that you shall not use the Website for any purpose that is unlawful or illegal under any law for the time being in force within or outside India or prohibited by this Terms of Use and/or any other terms and conditions specified elsewhere in this Website including both specific and implied. In addition, the Website shall not be used in any manner, which could damage, disable, overburden or impair it or interfere with any other party's use and/or enjoyment of the Website.</p>
          <p>You confirm that you are the authorized holder of the credit card or the original account holder in the transactions you make using the Website. The Company shall not be responsible for any financial loss, inconvenience or mental agony resulting from misuse of your ID/password/credit card number/account details number for using the Website and also the Services accessed through the Website.</p>
          <p>You also agree to: (a) provide true, accurate and complete information about yourself and your beneficiaries as prompted by the registration form on the Website; and (b) maintain and promptly update such data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete or the Company has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, it has the right to suspend or terminate your registration and refuse any and all current or future use of the Website and/or any Service. Furthermore, you grant the Company the right to disclose to third parties such data to the extent necessary for the purpose of carrying out the Services.</p>

          <p><strong>Changes to Security and Privacy Policy</strong></p>
          <p><span><a href="http://www.nilkamalfurniture.myshopify.com/">www.nilkamalfurniture.com</a></span>&nbsp;&nbsp;from time to time may modify or change this policy at any time with or without notice. We encourage you to refer to this policy periodically for any changes made.</p>
          <p>Any contract to provide any service by the Company is not complete until full money towards the service is received from the customer and accepted by the Company.</p>
          <p>Further, in case the Company discovers or has reasons to believe at any time during or after receiving a request for Services from you that the request for Services is either unauthorized or the information provided by you or any of them is not correct or that any fact has been misrepresented by him, the Company in its sole discretion shall have the unrestricted right to take any steps against you, including cancellation of the registration etc. without any prior intimation to the you for the same. In such an event, the Company shall not be responsible or liable for any loss or damage that may be caused to you as a consequence of such cancellation of services.</p>
          <p>Without prejudice to the other remedies available to the Company under these T&amp;Cs, the terms of service or under applicable law, the Company may limit your activity, or end your listing, warn other users of your actions, immediately temporarily/indefinitely suspend or terminate your registration, and/or refuse to provide you with access to the Website if:</p>

          <ul>
            <li>You are in breach of these T&amp;Cs, the terms of service and/or the documents it incorporates by reference;</li>
            <li>The Company is unable to verify or authenticate any information provided by you; or</li>
            <li>The Company believes that your actions may infringe on any third party rights or breach any applicable law or otherwise result in any liability for you, other users of the Website and/or the Company.</li>
          </ul>

          <p>The Company may at any time in its sole discretion reinstate suspended users. Once you have been indefinitely suspended you shall not register or attempt to register with the Company or use the website in any manner whatsoever until such time that you are reinstated by the Company.</p>
          <p>Notwithstanding the foregoing, if you breach these T&amp;Cs, the terms of service or the documents it incorporates by reference, the Company reserves the right to recover any amounts due and owing by you to the Company and/or the service provider and to take strict legal action as the Company deems necessary. Further, you unequivocally indemnify the Company of any such claim or liability and shall not hold the Company responsible for any loss or damage arising out of measures taken by the Company for safeguarding its own interest and that of its genuine customers. This would also include the Company denying/canceling any Service on account of suspected fraud transactions.</p>

          <p><strong>Disclaimer</strong></p>
          <p>While the Company endeavors to ensure that the information on the Website is correct and has taken due care to check the information provided on the Website.,. –. The Company may make changes to the material on the Website, or to the products, services and prices described in it, at any time without notice. The material on the Website may be out dated, and the Company makes no commitment to update such material.</p>
          <p>Without limiting the above, the Company is not liable for matters beyond its reasonable control. The Company does not control third party communications networks (including your internet service provider), the internet, acts of god or the acts of third parties.</p>

          <p><strong>Miscellaneous</strong></p>
          <p><strong></strong>Third Party Conditions. You agree to abide by the terms and conditions imposed by a third party with whom you elect to deal, including, but not limited to, payment of all amounts when due and with their rules and restrictions regarding availability and use of products, or services. You acknowledge that some third–party providers offering certain services, products and/or activities may require you to sign their liability waiver prior to participating in the service, products and/or activities they offer. You understand that any violation of any such supplier’s rules and restrictions may result in cancellation of your registration, in your being denied access to the applicable product or services, in your forfeiting any monies paid for such registration, and/or in the Company debiting your account for any costs we incur as a result of such violation.</p>
          <p>Interpretation, Number and Gender. The T&amp;Cs herein shall apply equally to both the singular and plural form of the terms defined. Whenever the context may require, any pronoun shall include the corresponding masculine, feminine and neuter form. The words "include", "includes" and "including" shall be deemed to be followed by the phrase "without limitation". Unless the context otherwise requires, the terms "herein", "hereof", "hereto", 'hereunder" and words of similar import refer to this agreement as a whole.</p>
          <p>Severability. If any provision of these T&amp;Cs is determined to be invalid or unenforceable in whole or in part, such invalidity or unenforceability shall attach only to such provision or part of such provision and the remaining part of such provision and all other provisions of this agreement shall continue to be in full force and effect.</p>
          <p>Heading. The headings and subheadings herein are included for convenience and identification only and are not intended to describe, interpret, define or limit the scope, extent or intent of this agreement, terms and conditions, notices, or your right to use this Website or any other section or pages of the Company Websites or its partner websites or any provision hereof in any manner whatsoever.</p>
          <p>Relationship. None of the provisions of any agreement, terms and conditions, notices, or your right to use this Website or any other section or pages of the Company Website, shall be deemed to constitute a partnership between the Company and you, and no party shall have any authority to bind or shall be deemed to be the agent of the other in any way.</p>
          <p>Information Updates. You acknowledge that the Company provides services with reasonable diligence and care. It endeavors its best to ensure that you do not face any inconvenience.<br>-However, at some times, the information, software, products, and services included in or available through the Company websites or other sales channels and ad materials may include inaccuracies or typographical errors which will be immediately corrected as soon as the Company notices them. Changes are/may be periodically made/added to the information provided such. Company may make improvements and/or changes in the Website at any time without any notice to you. Any advice received except through an authorized representative of the Company via the Website should not be relied upon for any decisions.</p>
          <p>Modifications. The Company reserves the right to change the terms, conditions, and notices under which Website is offered, including but not limited to the charges. You are responsible for regularly reviewing these T&amp;Cs.</p>
          <p>No Waiver. No waiver by the Company of any provision of these T&amp;Cs shall be binding except as set forth in writing and signed by its duly authorized representative.</p>
          <p>Dispute Resolution. If any dispute arises between you and the Company during your use of the Website or thereafter, in connection with and arising from your use or attempt to use this Website, the dispute shall be referred to arbitration. The place of arbitration shall be Mumbai. The arbitration proceedings shall be in the English language. The said arbitration proceedings shall be governed and construed in accordance with the Arbitration and Conciliation Act, 1996 (‘the Act’) and modifications thereof as in force at the relevant time. The arbitration proceedings shall be conducted by a sole arbitrator to be appointed by the Chairman of the Company. The award rendered by the arbitrator shall be final and binding on us (you and the Company).</p>
          <p>Governing Law and Jurisdiction. This legal notice shall be governed by and construed in accordance with Indian law. Disputes arising in connection with this legal notice shall be subject to the exclusive jurisdiction of the courts in Mumbai, India.</p>

          <p><strong>Contact us</strong></p>
          <p>Please contact us for any questions or comments (including all inquiries unrelated to copyright infringement) regarding this Website. You can connect with us at<a href="tel:18001219115">&nbsp;1800 1219 115, email us at<a href="mailto:furniture.enquiry@nilkamal.com">&nbsp;furniture.enquiry@nilkamal.com</a></p>
          <div>
            <p><strong>Product and Price Disclaimer</strong></p>
            <p><strong>ON-LINE PURCHASE TERMS AND CONDITIONS:</strong>When you place an order to purchase products and services through the Site, you agree to follow and be bound by these Purchase Terms and Conditions.</p>
            <p><strong>We may change information, including prices, of products and services listed on the Site.</strong>All descriptions, images, features, content, specifications, products, and prices of products and services displayed on the Site are subject to change at any time without notice. We will correct errors that we discover, and we reserve the right to revoke any stated offer and to correct any error, inaccuracy, or omission (including after an order has been submitted). In the event a product is listed at an incorrect price due to typographical, photographic, or technical error or error in pricing information received from our suppliers, Nilkamal Ltd shall have the right to refuse or cancel any orders placed for product listed at the incorrect price.</p>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>