<a name="pagecontent" id="pagecontent"></a>

<div class="container">
  <div class="static-page clearfix social-impact-page">
    <div class="page-content">
      
      <div class="page-banner">
        <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/CSR.jpg?10385" alt="top-banner" style="max-width:100%;">
      </div>
      <div class="content">
        <div class="social-impact">
          <div class="nav-tab center clearfix">
            <button class="tablink" onclick="openCity(event, 'school_furniture')" id="defaultOpen">School Furniture</button>
            <button class="tablink" onclick="openCity(event, 'waste_management')">Waste Management</button>
            <button class="tablink" onclick="openCity(event, 'water_sanitation')">Water Sanitation</button>
          </div>

          <div id="school_furniture" class="tab_data">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/e35bb9cb8a322_03.jpg.999xx_91010b01-69d4-469c-b62c-a502d05412d2.jpg?5210" alt="School Furniture">
            <div class="clearfix">
              <h1>
                School Furniture
                <a href="/collections/school-furniture" class="action_button" target="_blank">View Products</a>
              </h1>
              <h5>Educational Products</h5>
            <b>Learning made fun for all with Nilkamal Educational products</b>
              <p>Right to Education is a basic right that every child in the nation must have access to. A child spends an average 6 hours in schools, thus the school environment is very crucial to their overall development. With 70% of the Indian Population hailing from the rural areas, access to quality education is still limited.</p>
              <p>Health and wellbeing of students is as important as the curriculum. Lack of proper seating can lead to muscle pain neck and lower back strain. Poor posture can also lead to long-term issues, such as abnormal bone growth, which is hard to correct over time. This often leads to lack of concentration and learning issues in the long run.</p>
              <p>Comfortable seating and facility of safe storage is equally important for teachers and care-takers at schools so they are able to deliver the noble profession with complete focus.</p><br>

              <b>About Nilkamal Educational Products:</b>
              <p>In order to make this learning a pleasurable and comfortable experience, Nilkamal has created a special range of school furniture and storage solutions that caters especially to schools in the rural areas. This range is low cost furniture that is high on quality and performance.</p>
              <p>The range includes, seating designed ergonomically keeping in mind the age, usage and curriculum requirement, storage systems for the school along with seating options for teachers and care takers which ensure comfort even at a low cost.</p>
              <p>All the products in this range take up minimum space and are light-weight keeping in mind the possible space constraints that may occur in rural schools.</p><br>

              <b>Get Connected</b>
              <p>Nilkamal invites CSR divisions of corporates and NGOs that are aligned with the cause to join hands to make learning fun, comfortable and hassle Free!</p><br><br>

              <p class="view-products"><b>View Product details</b></p>
              <div class="btns">
                <a class="action_button reverse" href="https://www.nilkamalfurniture.com/products/nilkamal-shishu-desk-anganwadi-desk">Shishu (Anganwadi Desk)</a>
                <a class="action_button reverse" href="https://www.nilkamalfurniture.com/products/nilkamal-bose-02-desk-cum-bench">Bose 02 Desk Cum Bench</a>
                <a class="action_button reverse" href="https://www.nilkamalfurniture.com/products/nilkamal-bhabha-desk-blue">Bhabha 02 Desk Cum Bench</a>
                <a class="action_button reverse" href="https://www.nilkamalfurniture.com/products/nilkamal-chr-2135-chair-biscuit">CHR 2135</a>
                <a class="action_button reverse freedom_button" href="https://www.nilkamalfurniture.com/collections/freedom-series">Freedom Cabinet</a>
              </div>
            </div>
          </div>

          <div id="waste_management" class="tab_data">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/98fe8f3566d54_02.jpg.999xx.jpg?5219" alt="Water Sanitation">
            <div class="clearfix">
              <h1>
                Waste Management
                <a href="/collections/waste-management" class="action_button" target="_blank">View Products</a>
              </h1>
              <h5>Nilkamal SATO Toilet</h5>
              <p>Smell free, Hygienic and Hassel free toilets</p>
              <b>The Sanitation Challenge of India</b>
              <p>India is a land home to 16 % of the total global population of which 70% lives in the rural areas. This given, health and hygiene often takes a back seat.<br>
                It is a sad reality that 564 Million Indians practice open defecation even today and that we lose 1 Million lives to water, sanitation and hygiene (WASH) related causes every year.<br>
                With 76 Million Indians lacking access to clean water to drink, 6 liters of water needed to flush a regular toilet once is a luxury. Thus the scarcity of water as a resource is a major factor that deters Indians from the usage of toilets.</p>

              <b>About Nilkamal SATO Toilet</b>
              <p>Nilkamal SATO Toilet is a revolutionary product which not only makes sanitation more affordable to the rural India but also is a more user friendly product for areas that face scarcity of water. After use,the toilet can be flushed by as little as 500ml water which is a fraction of the required water to flush a regular toilet.<br>
                The toilets are designed to automatically and reliably seal open – pit latrines with an innovative self-closing trap-door that minimizes odors and the passage of disease-carrying insects, Making the toilet safer and more pleasant to use.</p>

              <b>Key benefits of Nilkamal SATO Toilet</b>
              <ul>
                <li>Flushes with less than 500 ml water</li>
                <li>Automatically sealing trapdoor to eliminate odor and flies</li>
                <li>Smooth, easy – to – clean polypropylene surface</li>
                <li>Durable self closing door tested to withstand more than 900,000 cycles</li>
                <li>Affordable : less than half the cost of a ceramic pan</li>
                <li>Easy installation in concrete slabs</li>
                <li>Suitable for direct-pit or offset-pit installation</li>
              </ul>

              <b>Product details</b>
              <ul>
                <li>SATO collection box – Black</li>
                <li>SATO Orrisa Toilet Pan</li>
                <li>SATO Rural Toilet Pan</li>
              </ul>

              <b>Get Connected</b>
              <p>Nilkamal invites CSR divisions of corporates and NGOs that are aligned with the cause to join hands in making India Open Defecation Free!</p>
            </div>
          </div>

          <div id="water_sanitation" class="tab_data">
            <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/11ba1bb65d91b_wellowebbanner.png.999xx.png?5219" alt="Waste Management">
            <div class="clearfix">
              <h1>
                Water Sanitation
                <a href="/collections/water-sanitation" class="action_button" target="_blank">View Products</a>
              </h1>
              <h5>Nilkamal Wello Water Wheel</h5>
              <p>A revolutionary product to make headloading history.</p>
              <p>Nilkamal Ltd. has become a household name owing to its success in the moulded products business. However, Nilkamal has been consciously giving back to the society (and loving the process) by offering Water and Sanitation products, Waste Management Products and Educational Products as a means to CSR for many organisations.</p>
              <b>In India currently,</b>
              <ul>
                <li>76 Million people  lack access to drinking water.</li>
                <li>Water is not only a dear resource; it is also a heavy resource.</li>
                <li>Unfortunately, 1 Million Indians lose their lives to WASH related diseases every year.</li>
                <li>The current practice of fetching water requires heavy water pots to be carried on the head, typically by the ladies and young girls of the rural households.</li>
                <li>Head-loading leads to chronic pain and can cause serious complications during childbirth.</li>
                <li>Lack of easy access to drinking water, it takes an average of 6 hours per day, only to fetch water which leads to 150 Million. hours spent per year. In a country facing issues of economic disparity, time lost is money lost.</li>
              </ul>
              <b>Presenting The Nilkamal Wello Water Wheel. A revolutionary-convenient- affordable  solution for the masses which eliminates the need for head loading with its unique trolley bag like design.</b>
              <h2><b>About Nilkamal Wello Water Wheel</b></h2>
              <b>Convenient and Simple to Use</b>
              <p>
                The water wheel provides relief from the head load<br>
                The capacity of water wheel is 45L which is more than 2X of the average water carriage possible using the conventional head loading method and takes almost 50% less time.<br>
                Simple design with handle control reduces physical strain<br>
                Handholds allow for better handling while filling + emptying</p>
              <b>Hygienic</b>
              <p>Unique cap-in-cap design keeps clean water clean</p>
              <b>Durable</b>
              <p>The well balanced designed increases it performance on tough terrain.<br>
                Reinforced axles protect Water Wheel surface from wear and tear. The wheel has been tested for over 2000 km and is leakproof.</p>
              <b>Affordable</b>
              <p>Nilkamal’s endeavour is to make the Nilkamal Wello Water Wheel freely available to every villager at an affordable price by partnering with many corporates.</p>

              <b>Products Details</b>
              <tr>
                <p>Handle</p>
                <ul>
                  <li>Material: Powder coated mild steel</li>
                </ul>

                <p>Cap</p>
                <ul>
                  <li>Material: Food grade human-safe high density polyethylene (Inner gasket provided)</li>
                  <li>Leak Proof: Yes</li>
                </ul>

                <p>Drum</p>
                <ul>
                  <li>Dimensions: 630mm X 560mm</li>
                  <li>Capacity: 45 Liters</li>
                  <li>Material: Food grade human-safe high density polyethylene</li>
                  <li>Mouth opening diameter: 3.2 inches</li>
                </ul>


                <b>Get Connected</b>
                <p>Do you wish to contribute towards a better tomorrow for India?<br>
                  <br>

                  More than 16,000 Nilkamal Wello Water Wheels are donated from February 2017 up to now by partnering with NGOs and corporates.<br> <br>

                  Nilkamal invites CSR divisions of corporates and NGOs that are aligned with the cause to join hands to work towards a better –brighter and a happier future!<br> <br>

                  For CSR Enquiries: <a href="tel:+919920714090"><b>+919920714090</b></a><br> <br>

                  Email Id : <a href="mailto:csr.products@nilkamal.com"><b>csr.products@nilkamal.com</b></a>

                  For Individual contributions: <a href="tel:+918879803704"><b>+918879803704</b></a><br> <br>

                  Email Id : <a href="mailto:product.enquiry@nilkamal.com"><b>product.enquiry@nilkamal.com</b></a><br> <br>

                  Any other queries<br> <br>
                  Email Id: <a href="mailto:furniture.enquiry@nilkamal.com"><b>furniture.enquiry@nilkamal.com</b></a><br> <br>

                  Enquire about the product</p>
            </div>
          </div>
          {% include 'social-enquire-form' %}
        </div>
      </div>
      
    </div>
  </div>
</div>


<script>
  function openCity(evt, cityName) {
    var i, tab_data, tablink;
    tab_data = document.getElementsByClassName("tab_data");
    for (i = 0; i < tab_data.length; i++) {
      tab_data[i].style.display = "none";
    }
    tablink = document.getElementsByClassName("tablink");
    for (i = 0; i < tablink.length; i++) {
      tablink[i].className = tablink[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>
