<a name="pagecontent" id="pagecontent"></a>

<div class="container">
  <div class="static-page clearfix about-us-page">
    <div class="page-content">
      
      <div class="page-banner">
        <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/about_us_banner.jpg?12382" alt="top-banner" style="max-width:100%;">
      </div>
      <div class="content">
        <h1 class="center">
          {{ page.title }}
        </h1>
        <div class="feature_divider"></div>
        <p>Nilkamal has eternally been a part of Indian home’s interiors knowingly or unknowingly taking space in the form of may be a simple plastic chair in your living room or an entire furniture set in your bedrooms, making it India’s favourite furniture brand. As a Company, Nilkamal upholds the quality factor of its products at the highest pedestal. This has resulted in Nilkamal being an undisputed leader in moulded plastic market. The Company has extended this expertise for Nilkamal’s range of Ready Furniture too, to add both emotion and charm to your sheen interiors.</p>   
        <p>With a strong network of approximately 30,000 dealers spread across the country, the Company aims to bring quality and budget friendly furniture to the deepest regions in India. With a host of solutions aimed at enhancing lives of customers, Nilkamal has adapted to the changing furniture trends in the Indian market and reinvented itself time and again.</p>
        <p>Marking an entry into the E-commerce arena, Nilkamalfurniture.com is designed to be your one stop-shop for quality, trendy and budget-friendly furniture range.</p>     
      </div>
      
    </div>
  </div>
</div>