{{ page.content }}
<div class="contact-us-thankyou-page">
  <h1>Thankyou Page</h1>
  <p>Thank you for contacting us. We will get back to you in the next 48 hours.</p>
  
  
</div>

<style>
  .contact-us-thankyou-page {
    text-align: center;
    margin-top: 20px;
    color: #0093dd;
    font-family: 'Montserrat,sans-serif';
}
  .contact-us-thankyou-page h1{
        font-size: 45px;
  }
  .contact-us-thankyou-page p{
    font-size: 21px;
  }
</style>