<a name="pagecontent" id="pagecontent"></a>

<div class="container">
  <div class="static-page clearfix privacy-page">
    <div class="page-content">
      
      <div class="page-banner">
        <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Privacy_Policy_1920X421.png?v=1579605507" alt="privacy policy" style="max-width:100%;" class="desktop-xs">
        <img src="https://cdn.shopify.com/s/files/1/0044/1208/0217/files/Mobile_Privacy_Policy_600X470.png?v=1579610086" alt="privacy policy" style="max-width:100%;" class="mobile-xs">
      </div>
      
      <div class="content">
        <h1 class="center">
          {{ page.title }}
        </h1>
        <div class="feature_divider"></div>
        <div>
        <h3><strong>PURCHASE & RETURNS:</strong></h3>
          <p class="return-exchange-courier">We offer a 14-Day Return Policy for all products.</p>
          <p class="return-exchange-courier">Returns are accepted only for the following reasons:</p>
          <p class="return-exchange-courier">Damaged Product</p>
          <p class="return-exchange-courier">Manufacturing Defect</p>
           <p class="return-exchange-courier">Incomplete Product</p>
           <p class="return-exchange-courier">Incorrect Product</p>
           <p class="return-exchange-courier">The time frame starts from the date the product was delivered as per the confirmation received from our logistics team or courier partners.</p>
          <p class="return-exchange-courier">Please send us 2 images (one of damaged part and one of the entire product) of the product to ascertain the reason for return which can be initiated from the "contact us" Section or you can send us an email to furniture.enquiry@nilkamal.com</p>
          <p class="return-exchange-courier">• We are responsible for what we sell. If the product is damaged or defective incorrect or incomplete please inform us within 14 days of delivery to be eligible for a 100% replacement/refund.</p>
          <p class="return-exchange-courier">• We offer hassle-free returns through courier pickup or you can also request a replacement for the non furniture products online or at any of our stores. You do not have to bear any courier or shipping charges for returns.</p>
          <p class="return-exchange-courier">• All products bought online can only be returned in case of manufacturing defects or damaged product delivery or incorrect or incomplete. This needs to be brought to our notice (via phone / email / WhatsApp) within 48 hours from the delivery / assembly date. To return furniture, you can reach us at furniture.enquiry@nilkamal.com , or call us on 1800 1219 115</p>
          <p class="return-exchange-courier">•	Any product returned to us should be in the same condition as received in its original packaging, invoice and tags.</p>
          <p class="return-exchange-courier">•	If you believe that the merchandise is not in good condition or if the packaging is tampered with or damaged, kindly refuse to accept the delivery and call our Customer Care at 1800 1219 115 or e-mail us at furniture.enquiry@nilkamal.com  mentioning your order reference number. We shall make our best efforts to ensure that a replacement is done at the earliest.</p>
          <p class="return-exchange-courier">•	We do not accept return or exchange of gift vouchers. Cash on Delivery convenience charge is a non-refundable charge. (first we should add that there is a convenience charge)</p>
          <p>•	Nilkamal is committed to ensuring your satisfaction with any merchandise you have ordered from us.</p><br>
         
           <p><strong>Returns/Exchange through courier:</strong></p>
          <p class="return-exchange-courier">•	Replacement through courier shall only be done for products with exactly the same price as the product being returned. Please indicate clearly the replacement merchandise and our Customer Care Associate will check and confirm if it is available in stock and whether the replacement can be made.</p>
          <p class="return-exchange-courier">•	Any refund against a return request made to nilkamal fruniture customer support and collected by courier shall be processed only upon receipt of the merchandise in unused condition along with the original invoice.</p>
          <p class="return-exchange-courier">•	After the merchandise is received and verified by nilkamal fruniture we shall process a refund/replacement within 1-2 weeks of receipt of the merchandise.For remote locations or Tier 2/Tier 3 cities we may take additional time to process replacement request.</p>
          <p class="return-exchange-courier">•	Refunds to the Cardholder’s credit card/debit card will only be credited back to his/her account which was used Refunds to the Cardholder’s credit card/debit card will only be credited back to his/her account which was used</p>
          <p class="return-exchange-courier">•	In case of COD order, Refund will be issued through cheque payment mode. Customer needs to send details that are required for cheque draft. COD refund is manual process hence it takes maximum 7-8 days to process cheque request. We recommend to opt for prepaid payment mode while placing an order for faster refund</p>
          <p>•	Please call at Toll Free # 1800 1219 115(10.00am-7.00pm IST; 6 days a week), email to furniture.enquiry@nilkamal.com   for any queries or concerns about our returns and exchange policy.</p><br>
          <p><strong>Cancellation Policy:</strong></p>
          <p class="return-exchange-courier">If you change your mind after placing an order, you can cancel the order (or part of the order) within 24 hrs of the order confirmation, or before it is shipped, whichever is earlier. In case you wish to cancel the order post-dispatch, cancellation charges would be applicable.</p>
          <p>We are currently not accepting B2B orders.</p>
        </div>
      </div>
    </div>
  </div>
</div>