<div class = "tracking_page" style="height:100%; width:100%;">
    <iframe class="tracking_order_iframe" src='https://nilkamalfurniture.clickpost.in/' name='iframecallout' scrolling='no' frameborder='0' marginheight='0' marginwidth='0' height='790px' width='100%' allowfullscreen></iframe>
</div>
<style>
  /* .page-track-order.promo_banner-show #shopify-section-header{
    display:none !important;
  } */
    @media (max-width: 1020px)
  .mt-40{
    margin-top: 40px;
  }
  }
  .track-order {
    text-align: center;
  }
  .track-order p {
    padding: 5px 0 0;
  }
  form#tracking-form {
    max-width: 300px;
    width: 100%;
    margin: 40px auto 0;
  }
  #iframecallout{
    border: 0 solid #989898;
    padding-top: 10px;
  }
  .nilkamalfurniture.header-wrapper{
    display : none;
  }
  iframe.tracking_order_iframe {
    margin-top: -61px;
}
  @media screen and (max-width: 767px){
    iframe.tracking_order_iframe {
    margin-top: 41px;
}
  }
</style>