{{ page.content }}

<div class="contact-us-thankyou-page">
  <h1>Thank You</h1>
  <h3>For Submitting The Form</h3>
</div>

<style>
  .contact-us-thankyou-page {
    text-align: center;
    margin-top: 20px;
    color: #0093dd;
}
  .contact-us-thankyou-page h1 {
    margin-bottom: 2px;
}

  .contact-us-thankyou-page h1{
        font-size: 45px;
  }
  .contact-us-thankyou-page p{
    font-size: 21px;
  }

   @media (max-width:1024px){
    .contact-us-thankyou-page{
    margin-top: 130px;
}
   }
</style>